<div class="admin-retreats-page">
  <div class="admin-retreats-page__table">
    <app-my-table [settings]="settings"
                  [data]="listAdaptedRetreats"
                  (addButton)="OpenModalCreateRetreat()"
                  (selectItem)="redirectToRetreat($event.id)"
                  (changePage)="changePage($event)"
                  (downloadItem)="exportReservations($event)"
                  [confirmationOnDeletion]="false">
    </app-my-table>
  </div>
</div>

<app-nt-modal name="form_retreats"
              typeModal="success"
              (button2)="submitRetreat()"
              maxWidth="600px">
  <app-form [form]="retreatForm" [fields]="fields" [errors]="retreatErrors"></app-form>
</app-nt-modal>
