@import '../../../../../assets/scss/theme';

.profile-retirements {
  &__list {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    border: 1px solid $border-calendar;

    &--empty {
      justify-content: center;
      align-items: center;
      padding: 20px;
    }

    &__item {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      border-bottom: 1px solid $border-calendar;

      &:last-child {
        border: none;
      }

      &:hover {
        background-color: $nt-2;
        cursor: pointer;
      }

      & > * {
        margin: 15px;
      }

      &__title {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        &__text {
          text-transform: uppercase;
          font-weight: 900;
        }

        &__tomatoes {
          flex: 1;
          margin-top: 30px;
          display: flex;
          align-items: center;
        }
      }

      &__description {
        flex: 2;

        &__more {
          margin-top: 30px;
        }
      }

      &__actions {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 20px;

        &__item {
          margin-right: 10px;
          text-decoration: none;

          &:last-child {
            margin: 0;
          }
        }
      }
    }
  }

  &__action {
    font-size: 20px;
    font-weight: 500;
    padding: 20px;
    border-style: solid;
    border-color: $border-calendar;
    border-width:  0 1px 1px 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    text-decoration: none;

    &:hover {
      background-color: $nt-13;
      color: white;
    }
  }

  &__link {
    margin-top: 20px;
  }
}

.form-exchange-retirement {

  &__title {
    text-transform: uppercase;
    font-weight: 900;
    font-size: $font-size-normal;
    margin-top: 20px;
  }

  &__icon {
    text-align: center;
    margin-top: 20px;
  }

  &__alert {
    display: block;
    margin-top: 10px;
  }
}

.form-cancel-reservation-retirement {
  &__retirement {
    border: 1px solid $border-calendar;
    padding: 20px;
    margin: 20px 0;
  }
}

@media only screen and (max-width: 700px) {
  .profile-retirements {
    &__list {
      &__item {
        flex-wrap: wrap;
        &__title {
          order: 1;
          flex: none;
          align-items: flex-start;
        }

        &__description {
          order: 3;
          flex: none;
          width: 100%;
        }

        &__actions {
          order: 2;
        }
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .profile-retirements {
    &__action {
      font-size: 0.7em;
    }
  }
}
