<div class="profile-retirements">
  <h2 class="title title--8">
    {{ 'profile.list_retirement_reservations.title' | translate }}
  </h2>

  <div class="profile-retirements__list profile-retirements__list--loading" *ngIf="!getDisplayedRetirementReservation()">
    <app-loader></app-loader>
  </div>
  <div class="profile-retirements__list profile-retirements__list--empty" *ngIf="getDisplayedRetirementReservation() && getDisplayedRetirementReservation().length === 0">
    {{ 'profile.list_retirement_reservations.no_reservation' | translate }}
  </div>
  <div class="profile-retirements__list" *ngIf="getDisplayedRetirementReservation() && getDisplayedRetirementReservation().length">
    <div class="profile-retirements__list__item"
         *ngFor="let retirementReservation of getDisplayedRetirementReservation()"
         (click)="openRetirementReservation(retirementReservation.id)">
      <div class="profile-retirements__list__item__title">
        <div class="profile-retirements__list__item__title__text">
          {{ retirementReservation.retirement_details.name }}
        </div>

        <div *ngIf="retirementReservationOpen === retirementReservation.id" class="profile-retirements__list__item__title__tomatoes">
          20 <i class="icon icon-tomato icon--3x"></i>
        </div>
      </div>
      <div class="profile-retirements__list__item__description">
        <p>
          {{ retirementReservation.retirement_details.details }}
        </p>
        <p>
          {{ retirementReservation.retirement_details.getDateInterval() }}
        </p>
        <div class="profile-retirements__list__item__description__more" *ngIf="retirementReservationOpen === retirementReservation.id">
          <b>{{ 'profile.retirements.details.begin' | translate }}:</b> {{retirementReservation.retirement_details.getStartTime()}}<br/>
          <b>{{ 'profile.retirements.details.end' | translate }}:</b> {{retirementReservation.retirement_details.getEndTime()}}<br/>
          <span *ngIf="retirementReservation.retirement_details.getActivityLanguageLabel()">
                    <b>{{ 'profile.retirements.details.animation' | translate }}:</b> {{retirementReservation.retirement_details.getActivityLanguageLabel() | translate }}<br/>
                  </span>
          <b>{{ 'profile.retirements.details.price' | translate }}:</b> {{retirementReservation.retirement_details.price}}$CAN<br/>
        </div>
      </div>
      <div class="profile-retirements__list__item__actions">
        <a *ngIf="retirementReservation.retirement_details.form_url" class="profile-retirements__list__item__actions__item" target="_blank" [href]="retirementReservation.retirement_details.form_url">
          <i class="icon icon-form icon--3x"></i>
        </a>
        <a class="profile-retirements__list__item__actions__item"
           (click)="openModalExchangeRetirementReservation(retirementReservation)">
          <i class="icon icon-transfer icon--3x"></i>
        </a>
        <a class="profile-retirements__list__item__actions__item"
           (click)="openModalCancelRetirementReservation(retirementReservation)">
          <i class="icon icon-times icon--3x"></i>
        </a>
      </div>
    </div>
  </div>
  <a class="profile-retirements__action" routerLink="/retirements">
    <i class="icon icon-plus icon--2x"></i>
    {{ 'profile.add_retirement_reservations' | translate }}
  </a>
  <a *ngIf="!displayAllRetirementReservation" class="profile-retirements__link nt-link" (click)="setDisplayAllRetirementReservation(true)">
    {{ 'profile.display_old_retirement_reservations' | translate }}
  </a>
  <a *ngIf="displayAllRetirementReservation" class="profile-retirements__link nt-link" (click)="setDisplayAllRetirementReservation(false)">
    {{ 'profile.hide_old_retirement_reservations' | translate }}
  </a>
</div>


<app-nt-modal name="form_exchange_retirement"
              typeModal="danger"
              title="{{ 'profile.exchange_reservation_retirement_title' | translate }}"
              button2Label="{{ 'profile.exchange_reservation_retirement_button_confirm' | translate }}"
              (button2)="exchangeRetirement()"
              maxWidth="600px"
              class="form-exchange-retirement">
  <div *ngIf="selectedRetirementReservation">
    <p>
      {{ 'profile.exchange_reservation_retirement_text' | translate:{'delay_max': selectedRetirementReservation.retirement_details.min_day_exchange} }}
    </p>

    <h2 class="form-exchange-retirement__title">
      {{ 'profile.exchange_reservation_retirement_title_actual' | translate }}
    </h2>

    <select [disabled]="true" class="nt-form-input nt-form-input--select">
      <option>{{ selectedRetirementReservation.retirement_details.name }} - {{ selectedRetirementReservation.retirement_details.getStartTime() }}</option>
    </select>

    <div class="form-exchange-retirement__icon">
      <i class="icon icon-transfer icon--5x"></i>
    </div>

    <h2 class="form-exchange-retirement__title">
      {{ 'profile.exchange_reservation_retirement_title_new' | translate }}
    </h2>

    <select [(ngModel)]="selectedRetirementForExchange" class="nt-form-input nt-form-input--select" name="retirementForExchange">
      <option *ngFor="let retirement of getChoicesExchangeRetirement()" [value]="retirement.url">
        {{ retirement.name }} - {{ retirement.getStartTime() }}
      </option>
    </select>

    <app-alert class="form-exchange-retirement__alert" type="danger" [messages]="errorExchangeRetirementReservation" *ngIf="errorExchangeRetirementReservation"></app-alert>
  </div>
</app-nt-modal>

<app-nt-modal name="form_cancel_reservation_retirement"
              typeModal="danger"
              title="{{ 'profile.cancel_reservation_retirement' | translate }}"
              button2Label="{{ 'profile.cancel_reservation_retirement_button' | translate }}"
              (button2)="cancelRetirement()"
              maxWidth="600px">
  <div *ngIf="selectedRetirementReservation" class="form-cancel-reservation-retirement">
    <p>
      {{ 'profile.cancel_reservation_retirement_text_1' | translate:{'rate': 100-selectedRetirementReservation.retirement_details.refund_rate, 'delay_max': selectedRetirementReservation.retirement_details.min_day_refund} }}

    </p>

    <div class="form-cancel-reservation-retirement__retirement">
      {{ selectedRetirementReservation.retirement_details.name }}<br/>
      {{ selectedRetirementReservation.retirement_details.details }}<br/>
      {{ selectedRetirementReservation.retirement_details.getDateInterval() }}
    </div>
    <p>
      {{ 'profile.cancel_reservation_retirement_text_2' | translate }}
    </p>

    <app-alert type="danger" [messages]="errorCancelationRetirementReservation" *ngIf="errorCancelationRetirementReservation"></app-alert>
  </div>
</app-nt-modal>
