<div class="membership-verification-page">
  <div class="membership-verification-page__nav">
    <app-nt-wizzard [active]="menuActive"></app-nt-wizzard>
  </div>
  <div class="membership-verification-page__content">
    <div>
      <h2 class="nt-title">
        {{ 'membership-verification.title' | translate }}
      </h2>
    </div>
    <div class="membership-verification-page__content__text">
      <p>
        {{ 'membership-verification.text_1' | translate }}
      </p>
      <p>
        {{ 'membership-verification.text_2' | translate }}
      </p>
    </div>
  </div>
</div>
