<div class="retirement-list">
  <div class="retirement-list__header">
    <div class="retirement-list__header__title nt-title">
      {{ 'retirement-list.list_of_retirements' | translate }}
    </div>
    <div class="retirement-list__header__description">
      {{ 'retirement-list.details' | translate }}
    </div>
    <a class="retirement-list__header__link nt-link">
      {{ 'retirement-list.know_more' | translate }}
    </a>
  </div>
  <div *ngFor="let retirement of retirements">
    <app-retirement-list-item [retirement]="retirement">

    </app-retirement-list-item>
  </div>
</div>
