@import '../../assets/scss/theme';

.retirement-list {
  border-right: 1px solid $border-calendar;
  height: 100%;
  overflow-y: auto;

  &__header {
    padding: 40px;

    &__description {
      margin-top: 20px;
    }

    &__link {
      margin-top: 20px;
    }
  }
}

@media only screen and (max-width: 1100px) {
  .retirement-list {
    height: inherit;
    overflow-y: visible;
  }
}
