.nt-form-input {
  border-color: grey;
  border-width: 0 0 1px 0;
  border-style: solid;
  width: 100%;
  margin-top: 12px;
  padding: 0 0 0 5px;
  background-color: transparent;
  -moz-appearance: none;
  -webkit-appearance: none;
  color: $nt-text;
  transition: all $ease-inout-sine 300ms;

  // To manage paysafeJS iframe integration
  height: 32px;

  &[multiple] {
    height: 100px;
  }

  &[type='radio']{
    border-radius: 50%;
    border: 1px solid $nt-text;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: relative;

    &:checked {
      background-color: $nt-text;
    }

    &:hover:not(:checked) {

      &:before {
        content: '';
        position: absolute;
        top: 2px;
        left: 2px;
        width: 14px;
        height: 14px;
        border-radius: 50%;
        background-color: $nt-text;
      }
    }

    &:disabled {
      border-color: lightgrey;

      &:hover {
        &:before {
          background-color: inherit;
          cursor: not-allowed;
        }
      }
    }
  }

  &[type='checkbox']{
    border-radius: 50%;
    border: 1px solid $nt-text;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 20px;
    height: 20px;
    cursor: pointer;

    &:checked {
      background-color: $nt-text;
    }
  }

  &--select {
    background-image: url('assets/images/icons/icon_down_arrow.svg');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 15px;
    border-width: 1px 1px 1px 1px;
  }

  &--textarea {
    height: 200px;
    max-width: 100%;
    border: 1px solid $border-calendar;
  }

  &:disabled {
    border-color: lightgrey;
  }

  &.ng-invalid.ng-touched  {
    border-color: $color-danger-border;
    border-width: 3px;
  }
}
