@import "../../../../../assets/scss/theme";

.profile-reservation-open {
  background-color: $nt-14;
  color: white;
  display: flex;
  justify-content: space-around;
  padding: 75px 20px;

  &__details {
    display: flex;
    flex-direction: column;

    & > * {
      margin-bottom: 10px;
    }
  }
}
