<div class="reset-password-page">
  <div class="reset-password-page__content">
    <form (submit)="changePassword(resetForm)" [formGroup]="resetForm">
      <div class="reset-password-page__content__header">
        <img class="reset-password-page__content__header__logo" src="assets/images/logo.png" alt="Logo" />

        <div>
          <h2>
            Réinitialiser son mot de passe
          </h2>
        </div>
      </div>
      <div *ngFor="let error of errors" class="alert alert--danger">
        {{ error }}
      </div>
      <div class="form-group">
        <label for="password" class="form-label">Mot de passe:</label>
        <input formControlName="password" name="password" type="password" id="password" class="form-input" />
        <div class="form-text form-text--right form-text--danger"
             *ngFor="let errorMessage of resetForm.controls['password'].getError('apiError')">
          {{ errorMessage }}
        </div>
      </div>
      <div class="form-group">
        <label for="confirmation" class="form-label">Confirmation de votre mot de passe:</label>
        <input formControlName="confirmation" name="confirmation" type="password" id="confirmation" class="form-input" />
        <div class="form-text form-text--right form-text--danger"
             *ngFor="let errorMessage of resetForm.controls['confirmation'].getError('apiError')">
          {{ errorMessage }}
        </div>
      </div>
      <div class="reset-password-page__content__actions">
        <div class="reset-password-page__content____actions__login">
          <button type="submit" class="button-icon">
            <span class="button-icon__text">Réinitialiser</span>
            <span class="button-icon__icon">
            <i class="fa fa-caret-right"></i>
          </span>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
