<div class="reset-password-page">
  <div>
    <h2 class="nt-title">
      {{ 'reset-password.title' | translate }}
    </h2>
  </div>
  <form (submit)="changePassword(resetForm)" [formGroup]="resetForm">
    <app-alert [messages]="errors" type="danger" class="reset-password-page__alert" *ngIf="errors"></app-alert>
    <div class="form-group">
      <label for="password" class="nt-form-label">{{ 'shared.form.password' | translate }}:</label>
      <input formControlName="password" name="password" type="password" id="password" class="nt-form-input" />
      <div class="form-text form-text--right form-text--danger"
           *ngFor="let errorMessage of resetForm.controls['password'].getError('apiError')">
        {{ errorMessage }}
      </div>
    </div>
    <div class="form-group">
      <label for="confirmation" class="nt-form-label">{{ 'shared.form.password_confirmation' | translate }}:</label>
      <input formControlName="confirmation" name="confirmation" type="password" id="confirmation" class="nt-form-input" />
      <div class="form-text form-text--right form-text--danger"
           *ngFor="let errorMessage of resetForm.controls['confirmation'].getError('apiError')">
        {{ errorMessage }}
      </div>
    </div>
    <div class="reset-password-page__actions">
      <div class="reset-password-page____actions__login">
        <button type="submit" class="nt-button">
          {{ 'shared.buttons.reset' | translate }}
        </button>
      </div>
    </div>
  </form>
</div>
