<div class="admin-periods-page">
  <div class="admin-periods-page__table">
    <app-my-table [settings]="settings"
                  [data]="listAdaptedPeriods"
                  (addButton)="OpenModalCreatePeriod()"
                  (editItem)="OpenModalEditPeriod($event)"
                  (removeItem)="removePeriod($event)"
                  (selectItem)="goToPeriod($event)"
                  (changePage)="changePage($event)">
    </app-my-table>
  </div>
</div>

<app-my-modal name="form_periods"
              typeModal="success"
              (button2)="submitPeriod()">
  <form [formGroup]="periodForm">
    <div *ngFor="let error of periodErrors" class="alert alert--danger">
      {{ error }}
    </div>
    <div class="form-group">
      <label for="periodName" class="form-label">Nom :</label>
      <input formControlName="name" type="text" id="periodName" class="form-input" />
      <div class="form-text form-text--right form-text--danger"
           *ngFor="let errorMessage of periodForm.controls['name'].getError('apiError')">
        {{ errorMessage }}
      </div>
    </div>

    <div class="form-group" *ngIf="!selectedPeriodUrl">
      <label for="start_date" class="form-label">Début de la période:</label>
      <input [owlDateTimeTrigger]="dt_start" [owlDateTime]="dt_start"
             formControlName="start_date" class="form-input"
             id="start_date">
      <owl-date-time #dt_start [firstDayOfWeek]="1"></owl-date-time>
      <div class="form-text form-text--right form-text--danger"
           *ngFor="let errorMessage of periodForm.controls['start_date'].getError('apiError')">
        {{ errorMessage}}
      </div>
    </div>

    <div class="form-group" *ngIf="!selectedPeriodUrl">
      <label for="end_date" class="form-label">Fin de la ériode:</label>
      <input [owlDateTimeTrigger]="dt_end" [owlDateTime]="dt_end"
             formControlName="end_date" class="form-input"
             id="end_date">
      <owl-date-time #dt_end [firstDayOfWeek]="1"></owl-date-time>
      <div class="form-text form-text--right form-text--danger"
           *ngFor="let errorMessage of periodForm.controls['end_date'].getError('apiError')">
        {{ errorMessage}}
      </div>
    </div>

    <div class="form-group" *ngIf="!selectedPeriodUrl">
      <label for="workplace" class="form-label">Espace de travail:</label>
      <select formControlName="workplace" class="form-input" id="workplace">
        <option *ngFor="let workplace of listWorkplaces" value="{{workplace.url}}">{{ workplace.name }}</option>
      </select>
      <div class="form-text form-text--right form-text--danger"
           *ngFor="let errorMessage of periodForm.controls['workplace'].getError('apiError')">
        {{ errorMessage}}
      </div>
    </div>

    <div class="form-group">
      <label for="is_active">Activer la période: </label>
      <input formControlName="is_active" type="checkbox" id="is_active">
      <div class="form-text form-text--right form-text--danger"
           *ngFor="let errorMessage of periodForm.controls['is_active'].getError('apiError')">
        {{ errorMessage}}
      </div>
    </div>
  </form>
</app-my-modal>
