<div class="payment-flow-confirmation">
  <app-title [level]="4" text="{{'payment-flow-confirmation.title' | translate}}"></app-title>
  <app-cart-summary [displayTitle]="false"></app-cart-summary>

  <div class="payment-flow-confirmation__payment-mode form-group form-group--large">
    <app-title [level]="7" text="">{{'payment-flow-confirmation.payment_mode' | translate}}</app-title>
    <input type="text" disabled="disabled" [value]="paymentInfo" class="nt-form-input"/>
    <app-link text="{{'payment-flow-confirmation.update_payment_mode' | translate}}"
              class="payment-flow-confirmation__modify-mode"
              (onClick)="changePaymentMethod()"></app-link>
  </div>

  <div class="payment-flow-confirmation__checkboxs align-top">
    <input id="conditions" type="checkbox" [(ngModel)]="termsAndConditionsAccepted" />
    <label for="conditions">
      {{'payment-flow-confirmation.accept_policy_text1' | translate}}
      <a class="payment-flow-confirmation__checkboxs__link" appMyModalOpen="politics">{{'payment-flow-confirmation.accept_policy_text2' | translate}}</a>
    </label>
  </div>
  <app-alert class="payment-flow-confirmation__error" type="danger" [messages]="errorOrder" *ngIf="errorOrder"></app-alert>
  <div class="payment-flow-confirmation__actions">
    <app-button [text]="'payment-flow-confirmation.btn_past' | translate" [type]="3" (click)="goBack()"></app-button>
    <app-button [text]="confirmButtonText | translate" [type]="1" (click)="goForward()" [disabled]="!isReadyToFinalize() || waitAPI"></app-button>
  </div>
</div>

<app-nt-modal name="politics"
              button2Label="{{'payment-flow-confirmation.modal_btn_close' | translate}}"
              maxWidth="800px"
              [autoClose]="true">
  <div class="payment-flow-confirmation-modale-politics">
    <app-title [level]="3" text="{{'payment-flow.title_cancelled_policy_1' | translate}}"></app-title>

    <ng-container *ngFor="let type of retreatTypes">
      <div *ngIf="retreatTypeIsInCart(type)">
        <app-title [level]="6"
                   class="payment-flow-confirmation-modale-politics__title"
                   text="{{ type.name }}"></app-title>
        <app-title [level]="9"
                   class="payment-flow-confirmation-modale-politics"
                   text="{{ type.cancellation_policies }}"></app-title>
      </div>
    </ng-container>

    <ng-container *ngIf="hasTimeslot">
      <app-title [level]="6"
                 class="payment-flow-confirmation-modale-politics__title"
                 text="{{'payment-flow.cancelation_politic.title' | translate}}"></app-title>
      <app-title [level]="9" text="{{'payment-flow.cancelation_politic.text_1' | translate}}"></app-title>
      <app-title [level]="9" text="{{'payment-flow.cancelation_politic.text_2' | translate}}"></app-title>
      <app-title [level]="9" text="{{'payment-flow.cancelation_politic.text_3' | translate}}"></app-title>
    </ng-container>
  </div>
</app-nt-modal>
