<div class="login-page">
  <div class="login-page__content">
    <form (submit)="authenticate()">
    <div class="login-page__content__header">
      <img class="login-page__content__header__logo" src="assets/images/logo.png" alt="Logo" />

      <div>
        <h2>
          Se connecter
        </h2>
      </div>
    </div>
    <div class="form-group">
      <label for="email" class="form-label">Courriel :</label>
      <input [(ngModel)]="login" name="login" type="email" id="email" class="form-input" />
    </div>
    <div class="form-group">
      <label for="password" class="form-label">Mot de passe :</label>
      <input [(ngModel)]="password" name="password" type="password" id="password" class="form-input" />
      <div class="form-text form-text--right">
        <a routerLink="/forgot-password">J'ai oublié mon mot de passe</a>
      </div>
    </div>
    <div class="login-page__content__actions">
      <div class="login-page__content____actions__register">
        <a routerLink="/register">Creer un compte</a>
      </div>
      <div class="login-page__content____actions__login">
        <button type="submit" class="button-icon">
          <span class="button-icon__text">Se connecter</span>
          <span class="button-icon__icon">
            <i class="fa fa-caret-right"></i>
          </span>
        </button>
      </div>
    </div>
    </form>
  </div>
</div>
