@import '../../../../assets/scss/theme';

.login-page {
  background-color: $nt-background-color-light;
  width: 700px;
  margin: auto;
  padding: 40px;

  &__content {

    &__alert {
      margin-top: 30px;
    }

    &__actions {
      margin-top: 40px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 10pt;

      &__main {
        flex: 1;
      }
    }

    &__submit {
      margin-top: 40px;
    }
  }
}
