@import '../../../../assets/scss/theme';

.login-page {
  background-color: $nt-background-color-light;
  max-width: 700px;
  margin: 0 20px;
  padding: 40px;

  &__content {

    &__alert {
      margin-top: 30px;
    }

    &__actions {
      margin-top: 40px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 10pt;

      &__item + .login-page__content__actions__item{
        padding-left: 60px;
      }

      &__main {
        flex: 1;
      }
    }

    &__submit {
      margin-top: 40px;
    }
  }
}


@media only screen and (max-width: 500px) {
  .login-page {
    padding: 20px;

    &__content {
      &__actions {
        flex-direction: column-reverse;
        align-items: start;

        &__item {
          margin-top: 20px;
          width: 100%;
          text-align: left;

          &+ .login-page__content__actions__item {
            padding-left: 0;
          }
        }
      }
    }
  }
}
