@import '../../../../assets/scss/theme';

.login-page {

  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__login{

    width: 500px;

  }

}
