<div class="membership-page">
  <div class="membership-page__column1"></div>
  <div class="membership-page__column2">
    <h1 class="membership-page__column2__title nt-title">
      {{ 'membership.title' | translate }}
    </h1>
    <div class="membership-page__column2__text">
      {{ 'membership.text_promo_1' | translate }}
    </div>
    <div class="membership-page__column2__button">
      <a class="nt-button" routerLink="/membership/intro">{{ 'shared.buttons.become_member' | translate }}</a>
    </div>
    <div class="membership-page__column2__link">
      <a href="http://www.thesez-vous.com/membre.html?lang=fr" target="_blank" class="nt-link">{{ 'membership.link' | translate }}</a>
    </div>
    <div class="membership-page__column2__card nt-card">
      <p [innerHTML]="'membership.card_text_2' | translate"></p>
      <p [innerHTML]="'membership.card_text_3' | translate"></p>
    </div>
  </div>
</div>
