<div class="membership-page">
  <div class="membership-page__column1"></div>
  <div class="membership-page__column2">
    <div class="membership-page__column2__price">
      <span class="membership-page__column2__price__title">
        Tarif de<br/>
        lancement
      </span>
      <span class="membership-page__column2__price__number">
        10$<sup>+tx</sup>
      </span>
      <span class="membership-page__column2__price__explanation">
        jusqu'au<br/>
        1<sup>er</sup> déc. 2018
      </span>
    </div>
    <div class="membership-page__column2__text">
      Vous êtes étudiant.e à la maîtrise, au doctorat ou postdoctorant.e?
      Joignez-vous à la communauté Thèsez-vous en adhérant au membership.
    </div>
    <div class="membership-page__column2__button">
      <a class="nt-button" routerLink="/membership/intro">Devenir membre</a>
    </div>
    <div class="membership-page__column2__link">
      <a href="http://www.thesez-vous.com/membre.html?lang=fr" target="_blank" class="nt-link">Pourquoi devenir membre?</a>
    </div>
    <div class="membership-page__column2__card nt-card">
      <p>
        Devenez membre avant le 1<sup>er</sup> décembre 2018 au tarif de 10$<sup>+tx</sup>. (Après le 1<sup>er</sup> décembre, le tarif sera de 20$<sup>+tx</sup>.)
      </p>
      <p>
        L’adhésion est valable pour un an à partir de la date d'adhésion et n’est pas remboursable.
      </p>
      <p>
        L’adhésion est automatiquement renouvelée à moins de désistement. Un courriel de rappel est envoyé un mois avant le renouvellement.
      </p>
      <p class="membership-page__column2__card__important">
        We are in the process of translating this page into English. If this is preventing you from signing up for the retreats, please contact us and we will help you.
      </p>
    </div>
  </div>
</div>
