<app-loader *ngIf="!form"></app-loader>

<form [formGroup]="form" *ngIf="form">
  <div *ngFor="let field of fields">
    <div class="form-group" *ngIf="field.type === 'text' || field.type === 'password' || field.type === 'number' || field.type === 'email'">
      <label [for]="field.name" class="nt-form-label">{{field.label | translate}}</label>
      <input [formControlName]="field.name" [type]="field.type" [id]="field.name" class="nt-form-input" />
      <div class="form-text form-text--right form-text--danger"
           *ngFor="let errorMessage of form.controls[field.name].getError('apiError')">
        {{ errorMessage }}
      </div>
    </div>

    <div class="form-group" *ngIf="field.type === 'select'">
      <label [for]="field.name" class="nt-form-label">{{field.label | translate}}</label>
      <select [formControlName]="field.name" [id]="field.name" class="nt-form-input nt-form-input--select">
        <option *ngFor="let choice of field.choices" [value]="choice.value">{{choice.label | translate}}</option>
      </select>
      <div class="form-text form-text--right form-text--danger"
           *ngFor="let errorMessage of form.controls[field.name].getError('apiError')">
        {{ errorMessage }}
      </div>
    </div>

    <div class="form-group" *ngIf="field.type === 'datetime'">
      <label [for]="field.name" class="nt-form-label">{{field.label | translate}}</label>
      <input [owlDateTimeTrigger]="dt_start"
             [owlDateTime]="dt_start"
             [formControlName]="field.name"
             class="nt-form-input"
             [id]="field.name">
      <owl-date-time #dt_start [firstDayOfWeek]="1"></owl-date-time>
      <div class="form-text form-text--right form-text--danger"
           *ngFor="let errorMessage of form.controls[field.name].getError('apiError')">
        {{ errorMessage}}
      </div>
    </div>

    <div class="form-group" *ngIf="field.type === 'date'">
      <label [for]="field.name" class="nt-form-label">{{field.label | translate}}</label>
      <input [owlDateTimeTrigger]="dt_start"
             [owlDateTime]="dt_start"
             [formControlName]="field.name"
             class="nt-form-input"
             [id]="field.name">
      <owl-date-time #dt_start pickerType="calendar" [firstDayOfWeek]="1"></owl-date-time>
      <div class="form-text form-text--right form-text--danger"
           *ngFor="let errorMessage of form.controls[field.name].getError('apiError')">
        {{ errorMessage}}
      </div>
    </div>

    <div class="form-group" *ngIf="field.type === 'textarea'">
      <label [for]="field.name" class="nt-form-label">{{field.label | translate}}</label>
      <textarea [formControlName]="field.name" [id]="field.name" class="nt-form-input nt-form-input--textarea"></textarea>
      <div class="form-text form-text--right form-text--danger"
           *ngFor="let errorMessage of form.controls[field.name].getError('apiError')">
        {{ errorMessage }}
      </div>
    </div>

    <div class="form-group" *ngIf="field.type === 'checkbox'">
      <label [for]="field.name" class="nt-form-label">{{field.label | translate}}</label>
      <div class="align-center">
        <input type="checkbox" [formControlName]="field.name" [id]="field.name" />
        <label [for]="field.name" >{{field.label | translate}}</label>
      </div>
      <div class="form-text form-text--right form-text--danger"
           *ngFor="let errorMessage of form.controls[field.name].getError('apiError')">
        {{ errorMessage }}
      </div>
    </div>

    <app-alert [type]="field.name" *ngIf="field.type === 'alert'">
      {{ field.label | translate}}
    </app-alert>

    <div class="form-group" *ngIf="field.type === 'choices'">
      <span class="nt-form-label">{{field.label | translate}}</span>
      <ng-container [formArrayName]="field.name" >
        <div *ngFor="let choice of field.choices; let i = index" class="align-center">
          <input type="checkbox"
                 [formControlName]="i"
                 [id]="field.name + '-' + i"/>
          <label [for]="field.name + '-' + i">{{choice.label | translate}}</label>
        </div>
      </ng-container>
    </div>
  </div>

  <app-alert *ngIf="errors && errors.length" type="danger" [messages]="errors"></app-alert>
</form>
