<div class="coupons-creation">
  <div class="title title--6" *ngIf="!coupon">
    {{ 'coupons-creation.title' | translate }}
  </div>
  <div class="title title--6" *ngIf="coupon">
    {{ 'coupons-creation.title-edition' | translate }}
  </div>
  <app-form [form]="couponForm" [fields]="fields" [errors]="couponErrors"></app-form>
  <app-alert type="info">
    {{ 'coupons-creation.form.infos_multiselect' | translate }}
  </app-alert>
  <div class="form-group">
    <label class="nt-form-label">{{ 'coupons-creation.form.retirements' | translate }}</label>
    <multiselect [list]="listRetirements"
                 [(selected)]="selectedRetirements"
                 labelProperty="name"
                 (searchBar)="filterRetirements($event)"
                 typeOfSearch='text'>
    </multiselect>
  </div>

  <div class="form-group">
    <label class="nt-form-label">{{ 'coupons-creation.form.memberships' | translate }}</label>
    <multiselect [list]="listMemberships"
                 [(selected)]="selectedMemberships"
                 labelProperty="name">
    </multiselect>
  </div>

  <div class="form-group">
    <label class="nt-form-label">{{ 'coupons-creation.form.packages' | translate }}</label>
    <multiselect [list]="listPackages"
                 [(selected)]="selectedPackages"
                 labelProperty="name">
    </multiselect>
  </div>

  <div class="form-group">
    <label class="nt-form-label">{{ 'coupons-creation.form.type_of_product' | translate }}</label>
    <multiselect [list]="listTypeOfProduct"
                 [(selected)]="selectedTypeOfProduct"
                 labelProperty="name">
    </multiselect>
  </div>

  <a class="nt-button coupons-creation__button" (click)="submitCoupon()">{{ 'coupons-creation.submit_button' | translate }}</a>
</div>
