<div class="retirement-list-item">
  <div class="retirement-list-item__description">
    <h2 class="nt-title">
      {{retirement.name}}
    </h2>
    <p>
      <span *ngIf="retirement.place_name">
        {{ retirement.place_name }}<br/>
      </span>
      <span *ngIf="!retirement.place_name">
        {{retirement.address_line1}}<br/>
        <span *ngIf="retirement.address_line2">
          {{retirement.address_line2}}<br/>
        </span>
        {{retirement.city}}, {{retirement.state_province}}<br/>
        {{retirement.country}}<br/>
      </span>
      {{retirement.getDateInterval()}}<br/>
      {{retirement.places_remaining}} {{ 'retirement-list-item.place_availables' | translate }}
    </p>
    <app-alert [type]="'text-warning'" [messages]="getMessageAlert()"></app-alert>

    <div *ngIf="showDetails" class="retirement-list-item__description__more">
      <b>{{ 'retirement-list-item.begin' | translate }}:</b> {{retirement.getStartTime()}}<br/>
      <b>{{ 'retirement-list-item.end' | translate }}:</b> {{retirement.getEndTime()}},<br/>
      <span *ngIf="retirement.getActivityLanguageLabel()">
        <b>{{ 'retirement-list-item.animation' | translate }}:</b> {{ retirement.getActivityLanguageLabel() | translate }}<br/>
      </span>
      <b>{{ 'retirement-list-item.price' | translate }}:</b> {{retirement.price}}$CAN<br/>
      <span *ngIf="retirement.has_shared_rooms">
        {{ 'retirement-list-item.has_shared_rooms.true' | translate }}
      </span>
      <span *ngIf="!retirement.has_shared_rooms">
        {{ 'retirement-list-item.has_shared_rooms.false' | translate }}
      </span>

      <a class="retirement-list-item__description__more__button nt-button"
         *ngIf="userCanAddToCart()"
         (click)="addToCart(retirement)">
        {{ 'retirement-list-item.add_to_card' | translate }}
      </a>
      <a class="retirement-list-item__description__more__button nt-button nt-button--danger"
         *ngIf="userCanRemoveFromCart()"
         (click)="removeFromCart(retirement)">
        {{ 'retirement-list-item.remove_from_cart' | translate }}
      </a>
      <a class="retirement-list-item__description__more__button nt-button"
         *ngIf="userCanSubscribeToWaitingList()"
         (click)="subscribeToWaitingList()">
        {{ 'retirement-list-item.register_to_waiting_list' | translate }}
      </a>
      <app-alert class="retirement-list-item__description__more__alert" *ngIf="reserved" type="success">
        {{ 'retirement-list-item.already_reserved' | translate }}
      </app-alert>
      <app-alert class="retirement-list-item__description__more__alert" *ngIf="inQueue" type="success">
        {{ 'retirement-list-item.already_in_queue' | translate }}
      </app-alert>

      <a class="retirement-list-item__description__more__link nt-link" target="_blank" href="http://www.thesez-vous.com/questcequuneretraite.html">
        {{ 'retirement-list-item.know_more' | translate }}
      </a>
    </div>
  </div>
  <div class="retirement-list-item__action">
    <a (click)="toogleDetails()" class="retirement-list-item__action__item">
      <i *ngIf="!showDetails" class="icon icon-plus icon--5x"></i>
      <i *ngIf="showDetails" class="icon icon-times icon--5x"></i>
    </a>
  </div>
</div>
