/*****
Please use this file to define some base layout like anonymous vs connected
*****/

#container {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#content {
  flex: 1;
  padding-bottom: 100px;
}
