/*****
Please use this file to style all basic item like link (a),
paragraph (p) or list (ul, ol)
*****/

body {
  margin: 0;
  font-family: $font-family;
  color: $nt-text;
}

*, ::after, ::before {
  box-sizing: border-box;
  outline:none;
}

a {
  cursor: pointer;
  text-decoration: underline;
  color: inherit;
}

p {
  margin-bottom: 10px;
}

sup {
  font-size: 0.6em;
  position: relative;
  bottom: 0.5em;
}

h1, h2, h3, h4, h5, h6 {
  display: inline-block;
  color: $color-title;
  font-weight: 300;
}

h2 {
  font-size: 32px;
}

ul {
  padding-left: 15px;
  margin-left: 10px;
  list-style-type: circle;
}

ol {
  padding-left: 15px;
  margin-left: 10px;
  list-style-type: decimal;
}

.align-top {
  display: flex;
  align-items: flex-start;

  &:first-child {
    margin-right: 20px;
  }
}

.align-center {
  display: flex;
  align-items: center;
}
