/*****
Please use this file to style all basic item like link (a),
paragraph (p) or list (ul, ol)
*****/

body {
  margin: 0;
  font: 14px 'Roboto', sans-serif;
}

*, ::after, ::before {
  box-sizing: border-box;
}

a {
  color: $link-color;
  transition: all $ease-inout-sine 300ms;
  cursor: pointer;

  &:hover {
    color: $link-color-hover;
  }
}

h1, h2, h3, h4, h5, h6 {
  display: inline-block;
  color: $color-main;
}

h2 {
  font-size: 20px;
  border-bottom: 1px solid $color-main;
}
