/*****
Please use this file for all your constant

example :
$color-theme-green: #00d59c;
*****/

$color-grey-border: #D6D8DB;
$color-grey-background: #E2E3E5;
$color-grey-text: #393E42;

$color-blue-border: #B8DAFF;
$color-blue-background: #CCE5FF;
$color-blue-text: #034386;

$color-danger-border: #f5c6cb;
$color-danger-background: #F8D7DA;
$color-danger-text: #975057;

$color-grey: #4b4b4b;
$color-grey-dark: #1b1b1b;

$link-color: $color-grey;

$color-main: #33a27f;


$font-little: 10px;
$link-color-hover: $color-main;
