/*****
Please use this file for all your constant

example :
$color-theme-green: #00d59c;
*****/

$color-grey-border: #D6D8DB;
$color-grey-background: #E2E3E5;
$color-grey-text: #393E42;

$color-blue-border: #B8DAFF;
$color-blue-background: #CCE5FF;
$color-blue-text: #034386;

$color-neutral-border: #D6D8DB;
$color-neutral-background: #E2E3E5;
$color-neutral-background-hover: darken($color-neutral-background, 50%);
$color-neutral-text: #65696B;
$color-neutral-text-hover: white;

$color-danger-border: #f5c6cb;
$color-danger-background: #F8D7DA;
$color-danger-background-hover: darken($color-danger-background, 50%);
$color-danger-text: #975057;
$color-danger-text-hover: white;

$color-success-border: #C3E6CB;
$color-success-background: #D4EDDA;
$color-success-background-hover: darken($color-success-background, 50%);
$color-success-text: #155724;
$color-success-text-hover: white;

$color-grey: #4b4b4b;
$color-grey-dark: #1b1b1b;

$link-color: $color-grey;

$color-main: #33a27f;
$color-main-text: rgb(77, 77, 77);
$color-background-main: lighten($color-main, 52);
$color-hover-main: lighten($color-main, 40);

$color-title: rgb(43, 43, 43);

$font-family: 'Nunito Sans', sans-serif;
$font-little: 10px;
$link-color-hover: $color-main;


$nt-0: #E6DCCF;
$nt-1: #FFFFFF;
$nt-2: #F7EDD2;
$nt-3: #FFE6BC;
$nt-4: #FFD28B;
$nt-5: #FFB65B;
$nt-6: #FFB415;
$nt-7: #E3925C;
$nt-8: #D27339;
$nt-9: #D95219;
$nt-10: #7BCDA0;
$nt-11: #4D9374;
$nt-12: #2A7358;
$nt-13: #0D4436;
$nt-14: #0F2822;

$nt-background-color: $nt-2;
$nt-background-color-light: #FCF7EF;
$nt-background-color-dark: #F7B64B;
$nt-text: #142823;
$nt-background-danger: #B16E3C;
$border-calendar: #899592;

$color-warning-border: #FFEEBA;
$color-warning-background: $nt-5;
$color-warning-background-hover: darken($color-warning-background, 50%);
$color-warning-text: $nt-text;
$color-warning-text-hover: white;
