@import '../../../../assets/scss/theme';

.membership-summary-page {
  background-color: $nt-background-color-light;
  max-width: 600px;
  margin: 0 20px;
  padding: 40px;

  &__nav {
    margin: 30px 0;
  }

  &__title {
    margin: 30px 0;
  }

  &__form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    font-size: 12pt;

    &__spacer {
      flex: 1;
      border-bottom: 1px dotted $nt-text;
      margin: 0 5px;
      height: 10px;
    }

    &--total {
      margin-top: 40px;
    }
  }

  &__text {
    font-size: 10pt;
    margin-top: 30px;
    text-align: justify;
  }

  &__link {
    margin-top: 40px;
    font-size: 9pt;
  }

  &__actions {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__item {
      &--main {
        flex: 1;
        text-align: center;
        margin: 0 40px;
      }
    }
  }
}

@media only screen and (max-width: 650px) {
  .membership-summary-page {
    padding: 20px;

    &__actions {
      flex-direction: column-reverse;
      align-items: start;

      &__item {
        margin-top: 20px;

        &--main {
          margin: 20px 0;
        }
      }
    }
  }
}
