<div class="membership-summary-page">
  <div class="membership-summary-page__nav">
    <app-nt-wizzard [active]="menuActive"></app-nt-wizzard>
  </div>
  <div class="membership-summary-page__title">
    <h2 class="nt-title">
      {{ 'membership-summary.title' | translate }}
    </h2>
  </div>
  <div class="membership-summary-page__title">
    <h2 class="nt-title nt-title--secondary">
      {{ 'membership-summary.subscription' | translate }}
    </h2>
  </div>
  <div class="membership-summary-page__form" *ngIf="membership">
    <div>
      {{ membership.name }}
    </div>
    <div class="membership-summary-page__form__spacer"></div>
    <div>
      {{ membership.price }} $
    </div>
  </div>
  <div class="membership-summary-page__title">
    <h2 class="nt-title nt-title--secondary">
      {{ 'membership-summary.sub_total' | translate }}
    </h2>
  </div>
  <div class="membership-summary-page__form">
    <div>
      {{ 'shared.taxes.TPS' | translate }}
    </div>
    <div class="membership-summary-page__form__spacer"></div>
    <div>
      {{ getTPS() }} $
    </div>
  </div>
  <div class="membership-summary-page__form">
    <div>
      {{ 'shared.taxes.TVQ' | translate }}
    </div>
    <div class="membership-summary-page__form__spacer"></div>
    <div>
      {{ getTVQ() }} $
    </div>
  </div>
  <div class="membership-summary-page__form membership-summary-page__form--total">
    <div>
      {{ 'membership-summary.total' | translate }}
    </div>
    <div class="membership-summary-page__form__spacer"></div>
    <div>
      {{ getTotal() }} $CAN
    </div>
  </div>
  <div class="membership-summary-page__actions">
    <div class="membership-summary-page__actions__item membership-summary-page__actions__item--main">
      <a routerLink="/" class="nt-link">{{ 'shared.buttons.cancel' | translate }}</a>
    </div>
    <div>
      <a routerLink="/membership/subscription" class="membership-summary-page__actions__item nt-button nt-button--reverse">
        {{ 'shared.buttons.previous' | translate }}
      </a>
      <a routerLink="/membership/payment" type="submit" class="membership-summary-page__actions__item nt-button">
        {{ 'shared.buttons.confirm' | translate }}
      </a>
    </div>
  </div>
</div>
