<app-loader *ngIf="!retreat"></app-loader>

<div class="admin-retreat-page" *ngIf="retreat">
  <div class="admin-retreat-page__header">
    <div class="admin-retreat-page__header__name">
      {{ retreat.name }}
      <a class="admin-retreat-page__header__name__edit button" (click)="OpenModalEditRetreat()">
        <i class="fas fa-pencil-alt"></i> {{ 'retreat.edit_retreat' | translate }}
      </a>
      <a class="admin-retreat-page__header__name__edit button" (click)="exportOptions()">
        <i class="fas fa-file-download"></i> {{ 'retreat.export_options' | translate }}
      </a>
    </div>
    <div class="admin-retreat-page__header__informations">
      <i class="fas fa-location-arrow"></i> {{ retreat.getAddress() }}<br/>
    </div>
    <div class="admin-retreat-page__header__informations">
      <i class="fas fa-building"></i> {{ retreat.seats }} {{ 'retreat.place_available' | translate }}
    </div>
    <p class="admin-retreat-page__header__details">
      {{ retreat.details }}
    </p>
  </div>

  <app-retreat-invitation
    class="admin-retreat-page__invitations"
    [retreat]="retreat">
  </app-retreat-invitation>

  <app-table-retreat-reservations
    class="admin-retreat-page__reservations"
    [retreat]="retreat"
    (addButton)="addUserToRetreat()"
    (removeButton)="removeUserFromRetreat($event)"
    [hasAddButton]="true"
    [hasRemoveButton]="true"
    [confirmationOnDeletion]="false">
  </app-table-retreat-reservations>
</div>

<app-nt-modal name="select_user"
              typeModal="success"
              maxWidth="600px"
              [activated]="selectedUser != null"
              (button2)="addUser()">
  <div *ngIf="!selectedUser">
    <app-my-table [settings]="settings"
                [data]="listUsers"
                [useSearchBar]="true"
                (searchBar)="updateFilter('search', $event)"
                (selectItem)="selectUser($event)"
                (changePage)="changePage($event)"
                [limitChoices]="limitChoices"
                (updateLimit)="changeLimit($event)">
    </app-my-table>
  </div>
  <div
    *ngIf="selectedUser">
    <app-alert type="warning" [messages]="warningMessage">
    </app-alert>
    <p></p>
    <div
      class="admin-retreat-page__modal__selected-user">
      <img
        class="admin-retreat-page__modal__back"
        src="../../../assets/images/icons/icon_left_arrow.svg"
        (click)="unselectUser()">
      <div class="admin-retreat-page__modal__text">
        <p class="admin-retreat-page__modal__title">
          {{ selectedUser.first_name }}
          {{ selectedUser.last_name }}
        </p>
        <p>
          {{ selectedUser.email }}
        </p>
        <p *ngIf="selectedUser.university">
          {{ selectedUser.university }}
        </p>
        <p *ngIf="!selectedUser.university">
          {{ noUniversity | translate }}
        </p>
      </div>
    </div>
    <div *ngIf="errors" >
      <p></p>
      <app-alert type="danger" [messages]="errors">
      </app-alert>
    </div>
  </div>
</app-nt-modal>

<app-nt-modal name="form_retreats"
              typeModal="success"
              (button2)="submitRetreat()"
              maxWidth="600px">
  <app-form [form]="retreatForm" [fields]="retreatFields" [errors]="errors"></app-form>
</app-nt-modal>

<app-nt-modal name="cancel_reservation"
              typeModal="success"
              class="cancel_reservation_modal"
              (button2)="cancelReservation()"
              [activated]="securityOnCancelReservation"
              maxWidth="600px">
  <p>
    {{ 'retreat.cancel_reservation_modal.warning' | translate }}
  </p>

  <div class="cancel_reservation_modal__preview" *ngIf="selectedReservationOnCancellation">
    <div class="cancel_reservation_modal__preview__item">
      <div class="cancel_reservation_modal__preview__item__title">
        {{ 'retreat.cancel_reservation_modal.name_of_user' | translate }}
      </div>
      {{ selectedReservationOnCancellation.name }}
    </div>
    <div class="cancel_reservation_modal__preview__item">
      <div class="cancel_reservation_modal__preview__item__title">
        {{ 'retreat.cancel_reservation_modal.reserved_since' | translate }}
      </div>
      {{ selectedReservationOnCancellation.inscription_date }}
    </div>
  </div>

  <div class="align-top">
    <input id="refundCheckbox" type="checkbox" [(ngModel)]="refundOnCancelReservation" />
    <label class="nt-form-label" for="refundCheckbox">
      {{ 'retreat.cancel_reservation_modal.refund' | translate }}
    </label>
  </div>
  <app-alert class="cancel_reservation_modal__alert" *ngIf="refundOnCancelReservation" type="warning" [messages]="['retreat.cancel_reservation_modal.warning_refund']"></app-alert>
  <div class="align-top">
    <input id="securityCheckbox" type="checkbox" [(ngModel)]="securityOnCancelReservation" />
    <label class="nt-form-label" for="securityCheckbox">
      {{ 'retreat.cancel_reservation_modal.security' | translate }}
    </label>
  </div>
</app-nt-modal>
