@import '../../../../../assets/scss/theme';

.admin-retreat-page {
  display: flex;
  flex-direction: column;

  &__header {
    background-color: $nt-7;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    color: white;
    padding: 20px;


    &__name {
      font-weight: 900;
      font-size: 30px;
      display: flex;
      align-items: flex-start;

      &__edit {
        font-size: 10px;
        margin-left: 10px;
      }
    }

    &__informations {
      margin-top: 10px;
    }

    &__details {
      text-align: justify;
    }
  }

  &__invitations {
    padding: 20px;
  }

  &__reservations {
    padding: 20px 20px 20px 20px;
  }

  &__modal {

    &__selected-user {
      border: 1px solid black;
      background: white;
    }

    &__title{
      font-size: 1.3em;
    }

    &__text{
      text-align: center;
    }

    &__back {
      height: 45px;
      padding: 10px;
      object-position: 0 0;

      &:hover {
        cursor: pointer;
        color: $link-color-hover;
      }
    }

  }

}
