@import '../../../../../assets/scss/theme';

.profile-tomatoes {
  display: flex;
  border: 1px solid $border-calendar;
  margin-top: 20px;

  &__done {
    flex: 2;
    text-align: center;
    padding: 30px;

    &__number {
      font-size: 45px;
      font-weight: 700;
      display: flex;
      justify-content: center;
      align-items: center;

      &__icon {
        width: 45px;
        margin-left: 10px;
      }
    }

    &__text {
      font-size: 1.1em;
      text-transform: uppercase;
      font-weight: 700;
    }

    &__sub-text {
      margin-top: 10px;
      font-size: 0.8em;
    }
  }

  &__future {
    flex: 1;
    text-align: center;
    padding: 30px;
    border-left: 1px solid $border-calendar;

    &__number {
      font-size: 45px;
      font-weight: 700;
      display: flex;
      justify-content: center;
      align-items: center;

      &__icon {
        width: 45px;
        margin-left: 10px;
      }
    }

    &__text {
      font-size: 1.1em;
      text-transform: uppercase;
      font-weight: 700;
    }

    &__sub-text {
      margin-top: 10px;
      font-size: 0.8em;
    }
  }
}
