<div class="profile-tomatoes">
  <div class="profile-tomatoes__done">
    <p class="profile-tomatoes__done__number">
      {{ totalPastTomatoes }}
      <img src="../../../../assets/images/icons/icon_tomato.svg" class="profile-tomatoes__done__number__icon"/>
    </p>
    <p class="profile-tomatoes__done__text">
      {{ 'profile-tomatoes.accomplished' | translate }}
    </p>
    <p class="profile-tomatoes__done__sub-text">
      {{ 'profile-tomatoes.accomplished_subtext' | translate }}
    </p>
  </div>
  <div class="profile-tomatoes__future">
    <p class="profile-tomatoes__future__number">
      {{ totalFutureTomatoes }}
      <img src="../../../../assets/images/icons/icon_tomato.svg" class="profile-tomatoes__future__number__icon"/>
    </p>
    <p class="profile-tomatoes__future__text">
      {{ 'profile-tomatoes.planned' | translate }}
    </p>
    <p class="profile-tomatoes__future__sub-text">
      {{ 'profile-tomatoes.planned_subtext' | translate }}
    </p>
  </div>
</div>
