<div class="cart-summary">
  <app-title [level]="4" text="{{'cart-summary.panier' | translate}}" *ngIf="displayTitle"></app-title>
  <div class="cart-summary__items">
    <div *ngFor="let membership of cart.getMemberships()" class="cart-summary__items__item">
      <div class="cart-summary__items__item__left">
        <app-title [level]="9" class="cart-summary__items__item__left__name" [text]="membership.name"></app-title>
        <app-title [level]="9" class="cart-summary__items__item__left__price" text="{{membership.price}} $CAN"></app-title>
      </div>
      <div class="cart-summary__items__item__right">
        <div class="cart-summary__items__item__right__action">
          <img (click)="removeMembershipFromCart(membership)"
               class="cart-summary__items__item__right__action__icon"
               src="../../assets/images/icons/icon_exit.svg"
               alt="{{'cart-summary.img1_alt' | translate}}" />
        </div>
      </div>
    </div>

    <div *ngFor="let retreat of cart.getRetreats()" class="cart-summary__items__item">
      <div class="cart-summary__items__item__left">
        <div class="cart-summary__items__item__left__name">
          <app-title [level]="9" class="cart-summary__items__item__left__name" [text]="retreat.name"></app-title><br/>
          <app-title [level]="9"
                     *ngIf="retreat.type === 'P'"
                     class="cart-summary__items__item__left__name"
                     [text]="retreat.place_name"></app-title>
          <app-title [level]="9"
                     *ngIf="retreat.type === 'V'"
                     class="cart-summary__items__item__left__name"
                     [text]="retreat.videoconference_tool"></app-title>
          <br/>
          <app-title [level]="9" class="cart-summary__items__item__left__name" [text]="retreat.getDateInterval()"></app-title><br/>
          <br/>
          <br/>
          <app-title [level]="9"
                     *ngIf="cart.isVirtualRetreatFree(retreat)"
                     class="cart-summary__items__item__left__name"
                     text="{{'cart-summary.why_virtual_retreat_is_free' | translate}}"></app-title>
          <br/>
          <app-title [level]="9"
                     *ngFor="let assignedOption of cart.getAssignedProductOptions(retreat)"
                     class="cart-summary__items__item__left__option"
                     text="{{ assignedOption.option.name }} x{{ assignedOption.quantity }} ({{ assignedOption.option.price }}$CAN/u)"></app-title>
        </div>
        <div class="cart-summary__items__item__left__price">
          <app-title [level]="9"
                     class="cart-summary__items__item__left__name"
                     [text]="getDisplayedPrice(cart.getRetreatPrice(retreat)) | translate"></app-title><br/>
        </div>
      </div>
      <div class="cart-summary__items__item__right">
        <div class="cart-summary__items__item__right__action">
          <a (click)="removeRetreatFromCart(retreat)">
            <img class="cart-summary__items__item__right__action__icon"
                 src="../../assets/images/icons/icon_exit.svg"
                 alt="{{'cart-summary.img1_alt' | translate}}" />
          </a>
        </div>
      </div>
    </div>

    <div *ngFor="let timeslot of cart.getTimeslots()" class="cart-summary__items__item">
      <div class="cart-summary__items__item__left">
        <div class="cart-summary__items__item__left__name">
          <app-title [level]="9" class="cart-summary__items__item__left__name"
                     text="{{'cart-summary.plage_horaire' | translate}}"></app-title><br/>
          <app-title [level]="9" class="cart-summary__items__item__left__name" [text]="timeslot.getStartDay()"></app-title><br/>
          <app-title [level]="9" class="cart-summary__items__item__left__name" text="{{ timeslot.getStartTime() }} - {{ timeslot.getEndTime() }}"></app-title><br/>
        </div>
        <div class="cart-summary__items__item__left__price">
          <app-title [level]="9" class="cart-summary__items__item__left__name" text="{{ 'cart-summary.bloc_prepaye' | translate: ({billingPrice: timeslot.billing_price}) }}"></app-title><br/>
        </div>
      </div>
      <div class="cart-summary__items__item__right">
        <div class="cart-summary__items__item__right__action">
          <a (click)="removeTimeslotFromCart(timeslot)">
            <img class="cart-summary__items__item__right__action__icon"
                 src="../../assets/images/icons/icon_exit.svg"
                 alt="{{'cart-summary.img3_alt' | translate}}" />
          </a>
        </div>
      </div>
    </div>

    <div *ngFor="let reservationPackage of cart.getReservationPackages()" class="cart-summary__items__item">
      <div class="cart-summary__items__item__left">
        <div class="cart-summary__items__item__left__name">
          <app-title [level]="9" class="cart-summary__items__item__left__name" text="{{'cart-summary.redaction-prepeye' | translate}}"></app-title><br/>
          <app-title [level]="9" class="cart-summary__items__item__left__name"
                     text="{{ 'cart-summary.nb_reservations' | translate: ({reservations: reservationPackage.reservations}) }}"></app-title><br/>
        </div>
        <div class="cart-summary__items__item__left__price">
          <app-title [level]="9" class="cart-summary__items__item__left__name" text="{{ reservationPackage.price }} $CAN"></app-title><br/>
        </div>
      </div>
      <div class="cart-summary__items__item__right">
        <div class="cart-summary__items__item__right__action">
          <a (click)="removeReservationPackageFromCart(reservationPackage)">
            <img class="cart-summary__items__item__right__action__icon" src="../../assets/images/icons/icon_exit.svg" alt="{{'cart-summary.img4_alt' | translate}}" />
          </a>
        </div>
      </div>
    </div>

    <div *ngIf="cart.isEmpty()" class="cart-summary__items__item">
      <div class="cart-summary__items__item__left">
        <app-title [level]="9" class="cart-summary__items__item__left__name" text="{{'cart-summary.panier_empty' | translate}}"></app-title>
      </div>
    </div>
  </div>
  <div class="cart-summary__coupons" *ngIf="cart.getCoupons().length && displayCoupon">
    <app-title [level]="6" class="cart-summary__coupons__title" text="{{'cart-summary.title_reduction' | translate}}"></app-title>
    <div *ngFor="let coupon_applied of cart.getAppliedCoupons()" class="cart-summary__coupons__coupon">
      <div class="cart-summary__coupons__coupon__code">
        <app-title [level]="9" [text]="coupon_applied.coupon.code"></app-title>
        <div class="cart-summary__coupons__coupon__code__reason"
             [ngClass]="{'cart-summary__coupons__coupon__code__reason--disabled': isCouponDisabled(coupon_applied)}"
             *ngIf="getAppliedCoupon(coupon_applied.coupon) && getAppliedCoupon(coupon_applied.coupon).reason">
          {{ getAppliedCoupon(coupon_applied.coupon).reason }}
        </div>
      </div>
      <div class="cart-summary__coupons__coupon__price">
        <span *ngIf="getAppliedCoupon(coupon_applied.coupon) && !getAppliedCoupon(coupon_applied.coupon).reason">
          {{ getAppliedCoupon(coupon_applied.coupon)['value'] }} $CAN
        </span>
      </div>
      <div class="cart-summary__coupons__coupon__action">
        <img (click)="removeCouponFromCart()"
             class="cart-summary__coupons__coupon__action__icon"
             src="../../assets/images/icons/icon_exit.svg"
             alt="{{'cart-summary.img4_alt' | translate}}" />
      </div>
    </div>
  </div>


  <div class="cart-summary__actions">
    <app-link [text]="'cart-summary.link_panier_empty' | translate" (onClick)="cleanCart()"></app-link>
  </div>

  <div class="cart-summary__taxes" *ngIf="displayPrice">
    <div class="cart-summary__taxes__line cart-summary__taxes__line--main">
      <app-title [level]="6" class="cart-summary__taxes__line__name" text="{{'cart-summary.sub_total' | translate}}"></app-title>
      <app-title [level]="6" class="cart-summary__taxes__line__price" text="{{ cart.getSubTotal() }} $CAN"></app-title>
    </div>
    <div class="cart-summary__taxes__line">
      <app-title [level]="9" class="cart-summary__taxes__line__name" text="{{'cart-summary.title_tps' | translate}}"></app-title>
      <app-title [level]="9" class="cart-summary__taxes__line__price" text="{{ cart.getTPS() }} $CAN"></app-title>
    </div>
    <div class="cart-summary__taxes__line">
      <app-title [level]="9" class="cart-summary__taxes__line__name" text="{{'cart-summary.title_tvq' | translate}}"></app-title>
      <app-title [level]="9" class="cart-summary__taxes__line__price" text="{{ cart.getTVQ() }} $CAN"></app-title>
    </div>
    <div class="cart-summary__taxes__line cart-summary__taxes__line--main">
      <app-title [level]="6" class="cart-summary__taxes__line__name" text="{{'cart-summary.title_total' | translate}}"></app-title>
      <app-title [level]="6" class="cart-summary__taxes__line__price" text="{{ cart.getTotal() }} $CAN"></app-title>
    </div>
    <div class="cart-summary__taxes__line" *ngIf="getActualTotalTicket()">
      <app-title [level]="9" class="cart-summary__taxes__line__name" text="{{'cart-summary.title_old_solde_bloc_prepaye' | translate}}"></app-title>
      <app-title [level]="9" class="cart-summary__taxes__line__price" text="{{ getActualTotalTicket() }} bloc(s)"></app-title>
    </div>
    <div class="cart-summary__taxes__line" *ngIf="getNewTotalTicket()">
      <app-title [level]="9" class="cart-summary__taxes__line__name" text="{{'cart-summary.title_new_solde_bloc_prepaye' | translate}}"></app-title>
      <app-title [level]="9" class="cart-summary__taxes__line__price"
                 text="{{'cart-summary.nb_total_ticket' | translate: ({totalTicket: getNewTotalTicket()})}}"></app-title>
    </div>
  </div>
</div>
