@import '../../../../assets/scss/theme';

.cart-summary {

  &__title {
    font-weight: 900;
    text-transform: uppercase;
    border-bottom: 1px solid $border-calendar;
    padding: 10px;
  }

  &__items {
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid $border-calendar;

    &__item {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid $border-calendar;

      &:last-child {
        border-bottom: none;
      }

      &__name {
        flex: 1;
        padding: 10px;
      }

      &__price {
        padding: 10px;
      }

      &__action {
        padding: 10px;

        &:hover {
          cursor: pointer;
        }

        &__icon {
          width: 20px;
        }
      }
    }
  }

  &__taxes {

    &__line {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid $border-calendar;

      &--main {
        margin-top: 40px;
        text-transform: uppercase;
        font-weight: 700;
      }

      &__name {
        flex: 1;
        padding: 10px;
      }

      &__price {
        padding: 10px;
      }
    }
  }
}
