<div class="cart-summary">
  <app-title [level]="4" text="Panier" *ngIf="displayTitle"></app-title>
  <div class="cart-summary__items">
    <div *ngFor="let membership of cart.getMemberships()" class="cart-summary__items__item">
      <div class="cart-summary__items__item__left">
        <app-title [level]="9" class="cart-summary__items__item__left__name" [text]="membership.name"></app-title>
        <app-title [level]="9" class="cart-summary__items__item__left__price" text="{{membership.price}} $CAN"></app-title>
      </div>
      <div class="cart-summary__items__item__right">
        <div class="cart-summary__items__item__right__action">
          <img (click)="removeMembershipFromCart(membership)" class="cart-summary__items__item__right__action__icon" src="../../assets/images/icons/icon_exit.svg" alt="enlever du panier" />
        </div>
      </div>
    </div>

    <div *ngFor="let retreat of cart.getRetreats()" class="cart-summary__items__item">
      <div class="cart-summary__items__item__left">
        <div class="cart-summary__items__item__left__name">
          <app-title [level]="9" class="cart-summary__items__item__left__name" [text]="retreat.name"></app-title><br/>
          <app-title [level]="9" class="cart-summary__items__item__left__name" [text]="retreat.place_name"></app-title><br/>
          <app-title [level]="9" class="cart-summary__items__item__left__name" [text]="retreat.getDateInterval()"></app-title><br/>
          <br/>
          <app-title [level]="9"
                     *ngFor="let assignedOption of cart.getAssignedProductOptions(retreat)"
                     class="cart-summary__items__item__left__option"
                     text="{{ assignedOption.option.name }} x{{ assignedOption.quantity }} ({{ assignedOption.option.price }}$CAN/u)"></app-title>
        </div>
        <div class="cart-summary__items__item__left__price">
          <app-title [level]="9" class="cart-summary__items__item__left__name" text="{{ retreat.price }} $CAN"></app-title><br/>
        </div>
      </div>
      <div class="cart-summary__items__item__right">
        <div class="cart-summary__items__item__right__action">
          <a (click)="removeRetreatFromCart(retreat)">
            <img class="cart-summary__items__item__right__action__icon" src="../../assets/images/icons/icon_exit.svg" alt="enlever du panier" />
          </a>
        </div>
      </div>
    </div>

    <div *ngFor="let timeslot of cart.getTimeslots()" class="cart-summary__items__item">
      <div class="cart-summary__items__item__left">
        <div class="cart-summary__items__item__left__name">
          <app-title [level]="9" class="cart-summary__items__item__left__name" text="Plage horaire de redaction"></app-title><br/>
          <app-title [level]="9" class="cart-summary__items__item__left__name" [text]="timeslot.getStartDay()"></app-title><br/>
          <app-title [level]="9" class="cart-summary__items__item__left__name" text="{{ timeslot.getStartTime() }} - {{ timeslot.getEndTime() }}"></app-title><br/>
        </div>
        <div class="cart-summary__items__item__left__price">
          <app-title [level]="9" class="cart-summary__items__item__left__name" text="{{ timeslot.billing_price }} bloc prépayé"></app-title><br/>
        </div>
      </div>
      <div class="cart-summary__items__item__right">
        <div class="cart-summary__items__item__right__action">
          <a (click)="removeTimeslotFromCart(timeslot)">
            <img class="cart-summary__items__item__right__action__icon" src="../../assets/images/icons/icon_exit.svg" alt="enlever du panier" />
          </a>
        </div>
      </div>
    </div>

    <div *ngFor="let reservationPackage of cart.getReservationPackages()" class="cart-summary__items__item">
      <div class="cart-summary__items__item__left">
        <div class="cart-summary__items__item__left__name">
          <app-title [level]="9" class="cart-summary__items__item__left__name" text="Lot de bloc de redaction prepaye"></app-title><br/>
          <app-title [level]="9" class="cart-summary__items__item__left__name" text="{{ reservationPackage.reservations }} blocs"></app-title><br/>
        </div>
        <div class="cart-summary__items__item__left__price">
          <app-title [level]="9" class="cart-summary__items__item__left__name" text="{{ reservationPackage.price }} $CAN"></app-title><br/>
        </div>
      </div>
      <div class="cart-summary__items__item__right">
        <div class="cart-summary__items__item__right__action">
          <a (click)="removeReservationPackageFromCart(reservationPackage)">
            <img class="cart-summary__items__item__right__action__icon" src="../../assets/images/icons/icon_exit.svg" alt="enlever du panier" />
          </a>
        </div>
      </div>
    </div>

    <div *ngIf="cart.isEmpty()" class="cart-summary__items__item">
      <div class="cart-summary__items__item__left">
        <app-title [level]="9" class="cart-summary__items__item__left__name" text="Votre panier est vide"></app-title>
      </div>
    </div>
  </div>
  <div class="cart-summary__coupons" *ngIf="cart.getCoupons().length && displayCoupon">
    <app-title [level]="6" class="cart-summary__coupons__title" text="RÉDUCTIONS"></app-title>
    <div *ngFor="let coupon_applied of cart.getAppliedCoupons()" class="cart-summary__coupons__coupon">
      <div class="cart-summary__coupons__coupon__code">
        <app-title [level]="9" [text]="coupon_applied.coupon.code"></app-title>
        <div class="cart-summary__coupons__coupon__code__reason"
             [ngClass]="{'cart-summary__coupons__coupon__code__reason--disabled': isCouponDisabled(coupon_applied)}"
             *ngIf="getAppliedCoupon(coupon_applied.coupon) && getAppliedCoupon(coupon_applied.coupon).reason">
          {{ getAppliedCoupon(coupon_applied.coupon).reason }}
        </div>
      </div>
      <div class="cart-summary__coupons__coupon__price">
        <span *ngIf="getAppliedCoupon(coupon_applied.coupon) && !getAppliedCoupon(coupon_applied.coupon).reason">
          {{ getAppliedCoupon(coupon_applied.coupon)['value'] }} $CAN
        </span>
      </div>
      <div class="cart-summary__coupons__coupon__action">
        <img (click)="removeCouponFromCart()" class="cart-summary__coupons__coupon__action__icon" src="../../assets/images/icons/icon_exit.svg" alt="enlever du panier" />
      </div>
    </div>
  </div>


  <div class="cart-summary__actions">
    <app-link [text]="'Vider le panier'" (onClick)="cleanCart()"></app-link>
  </div>

  <div class="cart-summary__taxes" *ngIf="displayPrice">
    <div class="cart-summary__taxes__line cart-summary__taxes__line--main">
      <app-title [level]="6" class="cart-summary__taxes__line__name" text="Sous-total"></app-title>
      <app-title [level]="6" class="cart-summary__taxes__line__price" text="{{ cart.getSubTotal() }} $CAN"></app-title>
    </div>
    <div class="cart-summary__taxes__line">
      <app-title [level]="9" class="cart-summary__taxes__line__name" text="TPS"></app-title>
      <app-title [level]="9" class="cart-summary__taxes__line__price" text="{{ cart.getTPS() }} $CAN"></app-title>
    </div>
    <div class="cart-summary__taxes__line">
      <app-title [level]="9" class="cart-summary__taxes__line__name" text="TVQ"></app-title>
      <app-title [level]="9" class="cart-summary__taxes__line__price" text="{{ cart.getTVQ() }} $CAN"></app-title>
    </div>
    <div class="cart-summary__taxes__line cart-summary__taxes__line--main">
      <app-title [level]="6" class="cart-summary__taxes__line__name" text="TOTAL"></app-title>
      <app-title [level]="6" class="cart-summary__taxes__line__price" text="{{ cart.getTotal() }} $CAN"></app-title>
    </div>
    <div class="cart-summary__taxes__line" *ngIf="getActualTotalTicket()">
      <app-title [level]="9" class="cart-summary__taxes__line__name" text="Ancien solde de bloc prepaye"></app-title>
      <app-title [level]="9" class="cart-summary__taxes__line__price" text="{{ getActualTotalTicket() }} bloc(s)"></app-title>
    </div>
    <div class="cart-summary__taxes__line" *ngIf="getNewTotalTicket()">
      <app-title [level]="9" class="cart-summary__taxes__line__name" text="Nouveau solde de bloc prepaye"></app-title>
      <app-title [level]="9" class="cart-summary__taxes__line__price" text="{{ getNewTotalTicket() }} bloc(s)"></app-title>
    </div>
  </div>
</div>
