@import "../../../assets/scss/_theme.scss";

.my-table {

  &__actions {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;

    &__title {
      margin: 0;
      padding: 0;
    }
  }

  &__searchbar {
    display: flex;
    align-items: center;
    margin-bottom: 5px;

    &__icon {
      height: 30px;
      padding: 10px;
      font-size: 10px;
      background-color: $nt-7;
      color: white;
      border: solid grey;
      border-width: 1px 0 1px 1px;
    }

    &__input {
      background-color: white;
      width: 100%;
      border: solid grey;
      border-width: 1px 1px 1px 0;
      height: 30px;
      color: $nt-text;
      padding-left: 10px;
    }
  }
  &__filters {
    padding: 5px 0;
    text-align: right;

    &__filter {
      display: flex;
      align-items: center;
      justify-content: flex-end;

      &> div {
        padding: 5px;
      }
    }

    &__actions {
      display: flex;
      justify-content: flex-end;
    }
  }

  &__table {
    font-size: 14px;
    width: 100%;

    border: 1px solid $border-calendar;
    border-collapse: collapse;

    &--full-width {
      width: 100%;
    }

    &__header {

      &__column {
        text-align: left;
        font-weight: bold;
        padding: 10px;
        background-color: $nt-7;
        color: white;

        &--actions {
          text-align: right;
        }
      }
    }

    &__no-data {
      text-align: center;

      &__cell {
        padding: 10px;

        &__image {
          height: 75px;
        }
      }
    }

    &__line {
      background-color: $nt-background-color-light;

      &:nth-child(odd) {
        background-color: white;
      }

      &__cell {
        padding: 10px;

        &--actions {
          text-align: right;

          &__edit {
            margin: 0 5px;
            text-decoration: none;

            &:hover {
              color: $color-warning-text;
              cursor: pointer;
            }
          }

          &__remove {
            margin: 0 5px;
            text-decoration: none;

            &:hover {
              color: $color-danger-text;
              cursor: pointer;
            }
          }
        }
      }

      &--clickable {
        &:hover {
          cursor: pointer;
          background-color: $nt-4;
        }
      }
    }
  }

  &__footer {
    display: flex;
    justify-content: space-between;

    &__limits {
      display: flex;
      justify-content: flex-start;
      font-size: 10px;
      font-weight: 900;

      &__title {
        text-transform: uppercase;
        padding: 5px 0;
      }

      &__choice {
        padding: 5px 5px;
      }
    }

    &__pagination {
      text-align: right;

      &__page {
        background-color: $nt-text;
        border: 1px solid $nt-text;
        padding: 5px;
        color: white;
        margin-left: 5px;
        position: relative;
        top: 10px;
        text-align: center;
        font-weight: bold;
        cursor: pointer;

        &.active {
          color: $nt-text;
          background-color: white;
          border: 1px solid $nt-text;
        }

        &.disabled {
          background-color: inherit;
          border: none;
          padding: 5px;
          color: inherit;
          margin-right: 5px;
          position: relative;
          top: 10px;
          text-align: center;
          cursor: inherit;
        }
      }
    }
  }
}

input {
  border: 1px solid lightgrey;
  height: 25px;
}

select {
  border: 1px solid lightgrey;
  height: 25px;
}

button {
  border: 1px solid lightgrey;

  &:hover {
    cursor: pointer;
  }
}
