@import "../../../assets/scss/_theme.scss";

.new-layout {
  min-height: 100vh;
  display: flex;
  width: 100%;

  &__content {
    height: 100vh;
    overflow-y: auto;
    flex: 1;
  }

  &__nav {
    background-color: $nt-2;
  }
}

@media only screen and (max-width: 1300px) {
  .new-layout {
    flex-direction: column;

    &__nav {
      position: inherit;
    }

    &__content {
      &__top {
        display: none;
      }
    }
  }
}
