@import "../../../assets/scss/_theme.scss";

.new-layout {
  background-color: $nt-background-color;
  min-height: 100vh;

  &__nav {
    max-width: 350px;
    position: fixed;
    height: 100vh;
  }

  &__content {
    padding: 50px 50px 50px 350px;
    min-height: 100vh;
  }
}

@media only screen and (max-width: 1300px) {
  .new-layout {
    &__nav {
      max-width: none;
      width: 100%;
      height: auto;
      position: inherit;
    }

    &__content {
      padding: 50px;
    }
  }
}
