@import "../../../assets/scss/_theme.scss";

.new-layout {
  background-color: $nt-background-color;
  min-height: 100vh;
  display: flex;

  &__content {
    padding: 50px;
    min-height: 100vh;
  }
}

@media only screen and (max-width: 1300px) {
  .new-layout {
    flex-direction: column;

    &__nav {
      position: inherit;
    }
  }
}

@media only screen and (max-width: 550px) {
  .new-layout {
    &__content {
      padding: 10px;
    }
  }
}
