<div class="membership-register-page">
  <div class="membership-register-page__nav">
    <app-nt-wizzard [active]="menuActive"></app-nt-wizzard>
  </div>
  <form (submit)="submit()" class="membership-register-page__form" [formGroup]="registerForm">
    <div class="membership-register-page__form__content__header">
      <div>
        <h2 class="nt-title">
          {{ 'membership-register.title' | translate }}
        </h2>
      </div>
    </div>
    <div class="membership-register-page__form__content__form">
      <app-alert [messages]="errors" *ngIf="errors" type="danger"></app-alert>

      <div class="form-group form-group--multiple">
        <div class="form-group__item">
          <label for="firstname" class="nt-form-label">{{ 'membership-register.first_name' | translate }}*:</label>
          <input formControlName="first_name" type="text" id="firstname" class="nt-form-input" />
          <div class="form-text form-text--right form-text--danger"
               *ngFor="let errorMessage of registerForm.controls['first_name'].getError('apiError')">
            {{ errorMessage }}
          </div>
        </div>
        <div class="form-group__item">
          <label for="lastname" class="nt-form-label">{{ 'membership-register.last_name' | translate }}*:</label>
          <input formControlName="last_name" type="text" id="lastname" class="nt-form-input" />
          <div class="form-text form-text--right form-text--danger"
               *ngFor="let errorMessage of registerForm.controls['last_name'].getError('apiError')">
            {{ errorMessage }}
          </div>
        </div>
      </div>
      <app-alert type="warning">
        <p>
          Pour devenir membre, il faut absolument utiliser son courriel universitaire. C’est la seule façon de
          savoir que vous êtes étudiant.e.
        </p>
        <p>
          Faites attention et assurez-vous que cette adresse est la bonne. La plupart des bogues arrivent, car il y
          a une erreur dans l’adresse inscrite au formulaire. Prenez 2min pour valider votre adresse avant de
          vous inscrire ;-)
        </p>
      </app-alert>
      <div class="form-group">
        <label for="university" class="nt-form-label">{{ 'membership-register.university' | translate }}*:</label>
        <select formControlName="university" id="university" class="nt-form-input nt-form-input--select" (change)="changeUniversity()">
          <option value="none">{{ 'membership-register.university_none' | translate }}</option>
          <option value="{{ organization.name }}" *ngFor="let organization of listOrganizations">
            {{ organization.name }}
          </option>
        </select>
        <div class="form-text form-text--right form-text--danger"
             *ngFor="let errorMessage of registerForm.controls['university'].getError('apiError')">
          {{ errorMessage }}
        </div>
      </div>
      <div class="form-group" *ngIf="selectedUniversity">
        <label for="study_level" class="nt-form-label">{{ 'membership-register.academic_level' | translate }}*:</label>
        <select formControlName="academic_level" id="study_level" class="nt-form-input nt-form-input--select">
          <option value="none"></option>
          <option value="{{ level.name }}" *ngFor="let level of listAcademicLevels">
            {{ level.name }}
          </option>
        </select>
        <div class="form-text form-text--right form-text--danger"
             *ngFor="let errorMessage of registerForm.controls['academic_level'].getError('apiError')">
          {{ errorMessage }}
        </div>
      </div>
      <div class="form-group" *ngIf="selectedUniversity">
        <label for="study_field" class="nt-form-label">{{ 'membership-register.academic_field' | translate }}*:</label>
        <select formControlName="academic_field" id="study_field" class="nt-form-input nt-form-input--select">
          <option value="none"></option>
          <option value="{{ field.name }}" *ngFor="let field of listAcademicFields">
            {{ field.name }}
          </option>
        </select>
        <div class="form-text form-text--right form-text--danger"
             *ngFor="let errorMessage of registerForm.controls['academic_field'].getError('apiError')">
          {{ errorMessage }}
        </div>
      </div>
      <div class="form-group">
        <label *ngIf="selectedUniversity" for="email" class="nt-form-label">{{ 'shared.form.university_email' | translate }}*:</label>
        <label *ngIf="!selectedUniversity" for="email" class="nt-form-label">{{ 'shared.form.email' | translate }}*:</label>
        <input formControlName="email" type="email" id="email" class="nt-form-input" />
        <div class="form-text form-text--right form-text--danger"
             *ngFor="let errorMessage of registerForm.controls['email'].getError('apiError')">
          {{ errorMessage }}
        </div>
        <app-alert type="danger" *ngIf="selectedUniversity">
            <p>
              {{ 'membership-register.info_domain_name' | translate }}:
            </p>
            <ul>
              <li *ngFor="let domain of selectedUniversity.domains">
                {{ domain.example }}
              </li>
            </ul>
        </app-alert>
      </div>
      <div class="membership-register-page__form__content__form__inline">
        <div class="membership-register-page__form__content__form__inline__dates form-group">
          <label for="birthday_day" class="nt-form-label">{{ 'membership-register.birthdate' | translate }}*:</label>
          <div class="form-group form-group--multiple">
            <div class="form-group__item">
              <select formControlName="birth_day" id="birthday_day" class="nt-form-input nt-form-input--select">
                <option value="" disabled="disabled">{{ 'membership-register.day' | translate }}</option>
                <option value="01">1</option>
                <option value="02">2</option>
                <option value="03">3</option>
                <option value="04">4</option>
                <option value="05">5</option>
                <option value="06">6</option>
                <option value="07">7</option>
                <option value="08">8</option>
                <option value="09">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
                <option value="16">16</option>
                <option value="17">17</option>
                <option value="18">18</option>
                <option value="19">19</option>
                <option value="20">20</option>
                <option value="21">21</option>
                <option value="22">22</option>
                <option value="23">23</option>
                <option value="24">24</option>
                <option value="25">25</option>
                <option value="26">26</option>
                <option value="27">27</option>
                <option value="28">28</option>
                <option value="29">29</option>
                <option value="30">30</option>
                <option value="31">31</option>
              </select>
              <div class="form-text form-text--right form-text--danger"
                   *ngFor="let errorMessage of registerForm.controls['birth_day'].getError('apiError')">
                {{ errorMessage }}
              </div>
            </div>
            <div class="form-group__item">
              <select formControlName="birth_month" id="birthday_month" class="nt-form-input nt-form-input--select">
                <option value="" disabled="disabled">{{ 'membership-register.month' | translate }}</option>
                <option value="01">{{ 'shared.month.january' | translate }}</option>
                <option value="02">{{ 'shared.month.february' | translate }}</option>
                <option value="03">{{ 'shared.month.march' | translate }}</option>
                <option value="04">{{ 'shared.month.april' | translate }}</option>
                <option value="05">{{ 'shared.month.may' | translate }}</option>
                <option value="06">{{ 'shared.month.june' | translate }}</option>
                <option value="07">{{ 'shared.month.july' | translate }}</option>
                <option value="08">{{ 'shared.month.august' | translate }}</option>
                <option value="09">{{ 'shared.month.september' | translate }}</option>
                <option value="10">{{ 'shared.month.october' | translate }}</option>
                <option value="11">{{ 'shared.month.november' | translate }}</option>
                <option value="12">{{ 'shared.month.december' | translate }}</option>
              </select>
              <div class="form-text form-text--right form-text--danger"
                   *ngFor="let errorMessage of registerForm.controls['birth_month'].getError('apiError')">
                {{ errorMessage }}
              </div>
            </div>
            <div class="form-group__item">
              <select formControlName="birth_year" id="birthday_year" class="nt-form-input nt-form-input--select">
                <option value="" disabled="disabled">{{ 'membership-register.year' | translate }}</option>
                <option *ngFor="let year of years" value="{{year}}">{{year}}</option>
              </select>
              <div class="form-text form-text--right form-text--danger"
                   *ngFor="let errorMessage of registerForm.controls['birth_year'].getError('apiError')">
                {{ errorMessage }}
              </div>
            </div>
          </div>
        </div>
        <div class="membership-register-page__form__content__form__inline__gender form-group">
          <label for="gender" class="nt-form-label">{{ 'shared.form.gender' | translate }}*:</label>
          <select formControlName="gender" id="gender" class="nt-form-input nt-form-input--select">
            <option value="A">{{ 'shared.form.gender_none' | translate }}</option>
            <option value="M">{{ 'shared.form.gender_male' | translate }}</option>
            <option value="F">{{ 'shared.form.gender_female' | translate }}</option>
            <option value="T">{{ 'shared.form.gender_no_binary' | translate }}</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="password" class="nt-form-label">{{ 'shared.form.password' | translate }}*:</label>
        <input formControlName="password" type="password" id="password" class="nt-form-input" />
        <div class="form-text form-text--right form-text--danger"
             *ngFor="let errorMessage of registerForm.controls['password'].getError('apiError')">
          {{ errorMessage }}
        </div>
      </div>
      <div class="form-group">
        <label for="confirmation" class="nt-form-label">{{ 'shared.form.password_confirmation' | translate }}*:</label>
        <input formControlName="confirmation" type="password" id="confirmation" class="nt-form-input" />
        <div class="form-text form-text--right form-text--danger"
             *ngFor="let errorMessage of registerForm.controls['confirmation'].getError('apiError')">
          {{ errorMessage }}
        </div>
      </div>
    </div>
    <app-alert *ngIf="!registerForm.valid && hasSubmit" class="membership-register-page__form__content__error" type="danger">
        {{ 'shared.form.errors.forgot_fields' | translate }}
    </app-alert>
    <div class="membership-register-page__form__content__link">
      <a (click)="goToLoginPage()" class="nt-link">{{ 'membership-register.link_to_login' | translate }}</a>
    </div>
    <div class="membership-register-page__form__content__actions">
      <div class="membership-register-page__form__content__actions__item membership-register-page__form__content__actions__item--main">
        <a routerLink="/" class="nt-link">{{ 'membership-register.cancel_button' | translate }}</a>
      </div>
      <div>
        <a routerLink="/membership/intro" type="submit" class="membership-register-page__form__content__actions__item nt-button nt-button--reverse">
          {{ 'shared.buttons.previous' | translate }}
        </a>
        <button type="submit" [disabled]="inProcess" class="membership-register-page__form__content__actions__item nt-button">
          {{ 'shared.buttons.next' | translate }}
        </button>
      </div>
    </div>
  </form>
</div>

<app-terms name="form_terms"
           (button2)="acceptTerms()"
           maxWidth='780px'
           class="modal-terms">
</app-terms>
