@import "../../../assets/scss/theme.scss";

.footer {
  display: flex;
  flex-direction: column;
  background-color: $nt-4;
  padding: 20px;
  color: $nt-text;
  text-align: center;
  border-top: 1px solid $border-calendar;
}
