<div class="cart-panel">
  <div class="cart-panel__close" (click)="closePanel()">
    <i class="icon icon-times icon--5x"></i>
  </div>
  <div class="cart-panel__content">

    <app-cart-summary [cart]="cart" [displayPrice]="false" [displayCoupon]="false"></app-cart-summary>

    <div class="cart-panel__content__actions">
      <app-button text="Passer a la caisse" (onClick)="clickedToFinalize()"></app-button>
      <app-link text="Fermer" (onClick)="closePanel()"></app-link>
    </div>
  </div>
</div>
