@import '../../assets/scss/theme';

.retreat-reservation {
  display: flex;

  &__cart-button {
    position: fixed;
    top: 20px;
    right: 20px;
  }

  &__main {
    flex: 1;
    max-height: 100vh;
    overflow-y: auto;

    &__content {
      display: flex;
      flex-direction: column;
      max-width: 750px;
      margin: auto;
      padding: 100px 10px;

      &__header {
        display: flex;
        flex-direction: column;

        &__alert {
          margin-top: 30px;
        }

        &__description {
          margin-top: 20px;
        }

        &__link {
          margin-top: 20px;
        }
      }

      &__retreat {
        width: 100%;
        margin: 70px 0 70px 0;
      }

      &__politics {
        display: flex;
        flex-direction: column;
        margin-top: 70px;

        &__title {
          padding-bottom: 20px;
        }

        &__content {
          border-top: 1px solid $nt2-color-4;
          padding: 40px 0;
        }
      }
    }
  }
}

@media only screen and (max-width: 1500px) {
  .retreat-reservation {
    &__panel {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      min-height: 100vh;
    }
  }
}


@media only screen and (max-width: 600px) {
  .retreat-reservation {
    &__main {
      &__content {
        padding-top: 30px;

        &__retreat {
          margin: 30px 0;
        }
      }
    }
  }
}
