<div class="retreat-reservation" *ngIf="!displayTutorial">
  <app-cart-button *ngIf="!displayedPanel"
                   class="retreat-reservation__cart-button"
                   (onClick)="openCart()"></app-cart-button>
  <div class="retreat-reservation__main">
    <div class="retreat-reservation__main__content">
      <div class="retreat-reservation__main__content__header">
        <app-title [level]="4"
                   class="retreat-reservation__main__content__header__title"
                   text="{{ 'retreat-list.list_of_retreats' | translate }}">
        </app-title>
        <app-title [level]="9"
                   class="retreat-reservation__main__content__header__description"
                   text="{{ 'retreat-list.details' | translate }}">
        </app-title>
        <app-link class="retreat-reservation__main__content__header__link"
                  text="{{ 'retreat-list.know_more' | translate }}"
                  target="_blank"
                  href="http://www.thesez-vous.com/questcequuneretraite.html">
        </app-link>
      </div>
      <app-loader *ngIf="!retreats">
      </app-loader>
      <app-alert type="info"
                 class="retreat-reservation__main__content__header__alert"
                 [messages]="['Aucun retraite disponible a l\'achat']"
                 *ngIf="retreats && retreats.length === 0"></app-alert>
      <app-retreat-preview *ngFor="let retreat of retreats"
                           class="retreat-reservation__main__content__retreat"
                           [retreat]="this.retreat"
                           [displaySubscribeButton]="true"
                           (subscribe)="subscribe(retreat)">
      </app-retreat-preview>

      <div class="retreat-reservation__main__content__politics">
        <app-title [level]="4" class="retreat-reservation__main__content__politics__title" text="Politique d'annulation"></app-title>
        <app-title class="retreat-reservation__main__content__politics__content" [level]="9" text="Toute annulation de
        participation doit être communiquée par écrit à l’adresse suivante : info@thesez-
        vous.com. Des frais de gestion équivalent à 10% du prix de la retraite payé par le ou la participant.e
        ayant annulé sont applicables. Le ou la participant.e ayant annulé sera remboursé à la hauteur de 90%
        du prix payé uniquement si son annulation a eu lieu plus de 7 jours ouvrables précédant le début de la
        retraite. Thèsez-vous se réserve le droit d’annuler ou de déplacer une retraite si le nombre
        d’inscriptions est insuffisant."></app-title>
      </div>
    </div>
  </div>
  <app-product-selector-panel *ngIf="displayedPanel === 'product-selector'"
                              class="retreat-reservation__panel"
                              [product]="selectedRetreat"
                              (close)="closePanel()"
                              (addToCart)="addToCart()">
  </app-product-selector-panel>
  <app-authentication-panel *ngIf="displayedPanel === 'authentication'"
                            class="retreat-reservation__panel"
                            (close)="closePanel()"
                            (onAuthentication)="subscribe(selectedRetreat)">
  </app-authentication-panel>
  <app-cart-panel *ngIf="displayedPanel === 'cart'"
                  class="retreat-reservation__panel"
                  (close)="closePanel()"
                  (finalize)="finalize()">
  </app-cart-panel>
</div>
<app-retreat-tutorial *ngIf="displayTutorial" (close)="closeTutorial()"></app-retreat-tutorial>
