@import '../../assets/scss/theme';

.retreat-reservation {
  display: flex;

  &__cart-button {
    position: fixed;
    top: 20px;
    right: 20px;
  }

  &__main {
    flex: 1;

    &__content {
      display: flex;
      flex-direction: column;
      max-width: 750px;
      margin: auto;
      padding: 100px 10px;

      &__header {
        display: flex;
        flex-direction: column;

        &__alert {
          margin-top: 30px;
        }

        &__description {
          margin-top: 20px;
          white-space: pre-wrap;
        }

        &__links {
          margin-top: 20px;

          &__link {
            margin-right: 20px;
          }
        }
      }

      &__info {
        display: block;
        margin-top: 50px;
      }

      &__retreats {
        &__summary {
          display: block;
          margin: 70px 0 150px 0;
        }

        &__list {
          display: block;
          width: 100%;
          margin: 70px 0 100px 0;
        }
      }
    }
  }

  &__policies-modal {
    &__section {
      margin-bottom: 30px;

      &__title {
        display: block;
        margin-bottom: 20px;
      }

      &__content {
        white-space: pre-wrap;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .retreat-reservation {
    &__main {
      &__content {
        padding-top: 30px;

        &__retreat {
          margin: 30px 0;
        }
      }
    }
  }
}
