<nav class="navbar" [class.responsive]="responsive">
  <a class="navbar__item navbar__item--brand" href="#" (click)="closeResponsiveNavbar()">
    <img src="assets/images/logo.png" alt="Logo" />
  </a>
  <div class="navbar__left" (click)="closeResponsiveNavbar()">
  </div>
  <div class="navbar__right" (click)="closeResponsiveNavbar()">
    <a class="navbar__item" routerLink="">Accueil</a>
    <a class="navbar__item" href="#">À propos</a>
    <a class="navbar__item" href="#">Inscription</a>
    <a class="navbar__item" href="#">Ressources</a>
    <a class="navbar__item" href="#">Blogue</a>
    <a class="navbar__item" href="#">Contact</a>
    <a class="navbar__item" routerLink="login/">Connexion</a>
  </div>
  <span class="navbar__item navbar__item--icon" (click)="toogleResponsiveNavbar()">
    &#9776;
  </span>
</nav>
