<nav class="navbar" [class.responsive]="responsive">
  <a class="navbar__item navbar__item--brand" href="#" (click)="closeResponsiveNavbar()">
    <img src="assets/images/logo.png" alt="Logo" />
  </a>
  <div class="navbar__left" (click)="closeResponsiveNavbar()">
  </div>
  <div class="navbar__right" (click)="closeResponsiveNavbar()">
    <a class="navbar__item" routerLink="">Accueil</a>
    <a class="navbar__item" href="#">À propos</a>
    <a class="navbar__item" href="#">Ressources</a>
    <a class="navbar__item" href="#">Blogue</a>
    <a class="navbar__item" href="#">Contact</a>
    <a class="navbar__item" routerLink="/login" *ngIf="!isAuthenticated()">Connexion</a>
    <div *ngIf="isAuthenticated()"
         (mouseenter)="openDropdown('profile')"
         (mouseleave)="closeDropdown('profile')">
      <div class="navbar__item">
        Mon profil <i class="fas fa-caret-down"></i>
      </div>
      <div class="navbar__dropdown" *ngIf="dropdownOpened.indexOf('profile') !== -1">
        <a class="navbar__item" href="#">Mon profil</a>
        <a class="navbar__item" routerLink="/admin/users" [appHasPermissions]="['canAccessAdminPanel']">Administration</a>
        <a class="navbar__item" routerLink="/logout" *ngIf="isAuthenticated()">Deconnexion</a>
      </div>
    </div>
  </div>
  <span class="navbar__item navbar__item--icon" (click)="toogleResponsiveNavbar()">
    &#9776;
  </span>
</nav>
