<nav class="navbar" [class.responsive]="responsive">
  <a class="navbar__item navbar__item--brand" href="#" (click)="closeResponsiveNavbar()">
    <img src="assets/images/logo.png" alt="Logo" />
  </a>
  <div class="navbar__left">
  </div>
  <div class="navbar__right">
    <a class="navbar__item" routerLink="" (click)="closeResponsiveNavbar()">Accueil</a>
    <a class="navbar__item" href="#" (click)="closeResponsiveNavbar()">À propos</a>
    <a class="navbar__item" href="#" (click)="closeResponsiveNavbar()">Ressources</a>
    <a class="navbar__item" href="#" (click)="closeResponsiveNavbar()">Blogue</a>
    <a class="navbar__item" href="#" (click)="closeResponsiveNavbar()">Contact</a>
    <a class="navbar__item" routerLink="/login" *ngIf="!isAuthenticated()" (click)="closeResponsiveNavbar()">Connexion</a>
    <div *ngIf="isAuthenticated()"
         (mouseenter)="openDropdown('profile')"
         (mouseleave)="closeDropdown('profile')">
      <div class="navbar__item" (click)="toogleDropdown('profile')">
        Profil <i class="fas fa-caret-down"></i>
      </div>
      <div class="navbar__dropdown" *ngIf="dropdownOpened.indexOf('profile') !== -1">
        <a class="navbar__item" routerLink="/profile" (click)="closeResponsiveNavbar()">Mon profil</a>
        <a class="navbar__item" routerLink="/admin/users" (click)="closeResponsiveNavbar()" [appHasPermissions]="['canAccessAdminPanel']">Administration</a>
        <a class="navbar__item" routerLink="/logout" (click)="closeResponsiveNavbar()" *ngIf="isAuthenticated()">Deconnexion</a>
      </div>
    </div>
  </div>
  <span class="navbar__item navbar__item--icon" (click)="toogleResponsiveNavbar()">
    &#9776;
  </span>
</nav>
