<div class="admin-workplaces-page">
  <div class="admin-workplaces-page__title">
    <h2>Espaces de travail</h2>
  </div>
  <div class="admin-workplaces-page__table">
    <app-my-table [settings]="settings"
                  [data]="listWorkplaces"
                  (addButton)="OpenModalCreateWorkplace()"
                  (removeItem)="removeWorkplace($event)"
                  (selectItem)="redirectToWorkplace($event.id)"
                  (changePage)="changePage($event)">
    </app-my-table>
  </div>
</div>

<app-my-modal name="form_workplaces"
              typeModal="success"
              (button2)="submitWorkplace()">
  <form [formGroup]="workplaceForm">
    <div *ngFor="let error of workplaceErrors" class="alert alert--danger">
      {{ error }}
    </div>
    <div class="form-group">
      <label for="name" class="form-label">Nom:</label>
      <input formControlName="name" type="text" id="name" class="form-input" />
      <div class="form-text form-text--right form-text--danger"
           *ngFor="let errorMessage of workplaceForm.controls['name'].getError('apiError')">
        {{ errorMessage }}
      </div>
    </div>
    <div class="form-group">
      <label for="details" class="form-label">Description:</label>
      <textarea formControlName="details" id="details" class="form-input form-input--textarea">
          </textarea>
      <div class="form-text form-text--right form-text--danger"
           *ngFor="let errorMessage of workplaceForm.controls['details'].getError('apiError')">
        {{ errorMessage }}
      </div>
    </div>
    <div class="form-group">
      <label for="seats" class="form-label">Nombre de place:</label>
      <input formControlName="seats" type="text" id="seats" class="form-input" />
      <div class="form-text form-text--right form-text--danger"
           *ngFor="let errorMessage of workplaceForm.controls['seats'].getError('apiError')">
        {{ errorMessage }}
      </div>
    </div>
    <div class="form-group">
      <label for="address_line1" class="form-label">1ere ligne d'adresse:</label>
      <input formControlName="address_line1" type="text" id="address_line1" class="form-input" />
      <div class="form-text form-text--right form-text--danger"
           *ngFor="let errorMessage of workplaceForm.controls['address_line1'].getError('apiError')">
        {{ errorMessage }}
      </div>
    </div>
    <div class="form-group">
      <label for="address_line2" class="form-label">2nd ligne d'adresse:</label>
      <input formControlName="address_line2" type="text" id="address_line2" class="form-input" />
      <div class="form-text form-text--right form-text--danger"
           *ngFor="let errorMessage of workplaceForm.controls['address_line2'].getError('apiError')">
        {{ errorMessage }}
      </div>
    </div>
    <div class="form-group">
      <label for="postal_code" class="form-label">Code postal:</label>
      <input formControlName="postal_code" type="text" id="postal_code" class="form-input" />
      <div class="form-text form-text--right form-text--danger"
           *ngFor="let errorMessage of workplaceForm.controls['postal_code'].getError('apiError')">
        {{ errorMessage }}
      </div>
    </div>
    <div class="form-group">
      <label for="city" class="form-label">Ville:</label>
      <input formControlName="city" type="text" id="city" class="form-input" />
      <div class="form-text form-text--right form-text--danger"
           *ngFor="let errorMessage of workplaceForm.controls['city'].getError('apiError')">
        {{ errorMessage }}
      </div>
    </div>
    <div class="form-group">
      <label for="state_province" class="form-label">Etat/Province:</label>
      <input formControlName="state_province" type="text" id="state_province" class="form-input" />
      <div class="form-text form-text--right form-text--danger"
           *ngFor="let errorMessage of workplaceForm.controls['state_province'].getError('apiError')">
        {{ errorMessage }}
      </div>
    </div>
    <div class="form-group">
      <label for="country" class="form-label">Pays:</label>
      <input formControlName="country" type="text" id="country" class="form-input" />
      <div class="form-text form-text--right form-text--danger"
           *ngFor="let errorMessage of workplaceForm.controls['country'].getError('apiError')">
        {{ errorMessage }}
      </div>
    </div>
    <div class="form-group">
      <label for="timezone" class="form-label">Timezone:</label>
      <input formControlName="timezone" type="text" id="timezone" class="form-input" />
      <div class="form-text form-text--right form-text--danger"
           *ngFor="let errorMessage of workplaceForm.controls['timezone'].getError('apiError')">
        {{ errorMessage }}
      </div>
    </div>
  </form>
</app-my-modal>
