<div class="admin-workplaces-page">
  <div class="admin-workplaces-page__table">
    <app-my-table [settings]="settings"
                  [data]="listWorkplaces"
                  (addButton)="OpenModalCreateWorkplace()"
                  (removeItem)="removeWorkplace($event)"
                  (selectItem)="redirectToWorkplace($event.id)"
                  (changePage)="changePage($event)"
                  [confirmationOnDeletion]="false">
    </app-my-table>
  </div>
</div>

<app-nt-modal name="form_workplaces"
              typeModal="success"
              (button2)="submitWorkplace()"
              maxWidth="600px">
  <app-form [form]="workplaceForm" [fields]="fields" [errors]="workplaceErrors"></app-form>
</app-nt-modal>

<app-nt-modal name="validation_deletion"
              typeModal="success"
              (button2)="removeWorkplace(null, true)"
              maxWidth="600px"
              [autoClose]="true"
              [activated]="isSecurityOnDeletionValid()">
  <p>
    {{ 'workplaces.validation_deletion_modal.text_1' | translate }}
  </p>
  <p>
    {{ 'workplaces.validation_deletion_modal.text_2' | translate }}
  </p>
  <p>
    {{ 'workplaces.validation_deletion_modal.text_3' | translate }}
  </p>
  <div class="form-group">
    <label class="nt-form-label">
      {{ 'workplaces.validation_deletion_modal.labels.name' | translate }}:
    </label>
    <input class="nt-form-input" type="text" [(ngModel)]="securityOnDeletion"/>
  </div>
</app-nt-modal>
