<app-my-table [settings]="settings"
              [data]="listAdaptedRetreatReservations"
              (selectItem)="goTo($event)"
              (changePage)="changePage($event)"
              (addButton)="addButtonFunction()"
              (removeItem)="removeButtonFunction($event)"
              [confirmationOnDeletion]="confirmationOnDeletion">
</app-my-table>

<app-nt-modal name="retreat_deleted"
              typeModal="success"
              maxWidth="600px"
              title="{{'table-retreat-reservations.modal_retreat_reservations_deleted_title' | translate}}"
              button2Label="{{'table-retreat-reservations.modal_retreat_reservations_deleted_btn' | translate}}"
              [autoClose]="true">
  <p>
    {{'table-retreat-reservations.modal_retreat_reservations_deleted_text' | translate}}
  </p>
</app-nt-modal>
