<app-nt-modal name="form_terms" [activated]="haveReadTerms" (button2)="acceptTerms()" maxWidth='780px' class="modal-terms">
  <h1 class="nt-title">
    Termes et conditions
  </h1>

  <div class="modal-terms__text" (scroll)="onScroll($event)">
    <div class="modal-terms__text__section">
      <h2 class="modal-terms__text__section__title">
        Conditions générales d'utilisation de La plateforme Thèsez-vous?
      </h2>
      <p class="modal-terms__text__section__text">
        Plus qu’une simple formalité, ces conditions générales d’utilisation proposent un cadre commun pour favoriser le bon fonctionnement de La plateforme Thèsez-vous. Ces conditions sont appelées à évoluer; chaque membre est invité à partager ses commentaires et idées. Pour toutes questions, contactez-nous sur <a href="mailto:info@thesez-vous.com">info@thesez-vous.com</a>
      </p>
    </div>
    <div class="modal-terms__text__columns">
      <div class="modal-terms__text__columns__column">
        <div class="modal-terms__text__section">
          <h2 class="modal-terms__text__section__title">
            À propos de La plateforme Thèsez-vous
          </h2>
          <div class="modal-terms__text__section__text">
            <p>
              La plateforme Thèsez-vous est une plateforme permettant de supporter les opérations et la communauté de Thèsez-vous. Dans son état actuel, cette plateforme permet de devenir membre de la communauté Thèsez-vous et l’inscription aux activités de l’Espace Thèsez-vous.
            </p>
            <p>
              La plateforme Thèsez-vous est portée par l'organisme à but non lucratif Blitz Paradisio et est développée en lien étroit avec les personnes utilisatrices et une grande diversité de partenaires, dans un souci de complémentarité. La plateforme Thèsez-vous souhaite s’adapter aux besoins et aux usages de ses membres; il s’agit donc d’une démarche évolutive qui mise sur l’intelligence collective.
            </p>
            <p>
              La plateforme Thèsez-vous fait l’objet d’une démarche continue d’évaluation participative; les détails sont disponibles en ligne ici.
            </p>
          </div>
        </div>
      </div>
      <div class="modal-terms__text__columns__column">
        <div class="modal-terms__text__section">
          <h2 class="modal-terms__text__section__title">
            Bref,
          </h2>
          <div class="modal-terms__text__text modal-terms__text__columns__column__bref">
            <p>
              Ceci est la plateforme de Thèsez-vous
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-terms__text__columns">
      <div class="modal-terms__text__columns__column">
        <div class="modal-terms__text__section">
          <h2 class="modal-terms__text__section__title">
            Inscription des membres
          </h2>
          <div class="modal-terms__text__section__text">
            <p>
              La plateforme Thèsez-vous s’adresse à toute personne intéressée à la rédaction académique.
            </p>
            <p>
              L’accès au site web Thèsez-vous est libre et gratuit. L’accès à la plateforme est réservé aux membres payants.
            </p>
            <p>
              Chaque personne s’inscrivant sur la plateforme Thèsez-vous doit accepter les conditions générales d’utilisation.
            </p>
            <p>
              Un seul compte peut être créé par personne et un membre ne peut pas partager son compte avec une autre personne. Vous êtes le seul responsable des activités qui se déroulent sur votre compte.
            </p>
            <p>
              Un membre peut en tout temps fermer son compte en envoyant une demande à cet effet à l'adresse http://www.thesez-vous.com/contact.html
            </p>
            <p>
              Une fermeture de compte ne mène pas au retrait des données que vous avez fourni à l’organisme. Pour plus d’information sur la conservation des données et la possibilité de récupérer vos données, voir la section données personnelles.
            </p>
          </div>
        </div>
      </div>
      <div class="modal-terms__text__columns__column">
        <div class="modal-terms__text__section">
          <h2 class="modal-terms__text__section__title">
            Bref,
          </h2>
          <div class="modal-terms__text__text modal-terms__text__columns__column__bref">
            <p>
              Cette plateforme permet de s’inscrire à des activités de Thèsez-vous
            </p>
            <p>
              Vous pouvez vous inscrire et devenir membre de l’organisme.
            </p>
            <p>
              Vous pouvez aussi fermer votre compte.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-terms__text__columns">
      <div class="modal-terms__text__columns__column">
        <div class="modal-terms__text__section">
          <h2 class="modal-terms__text__section__title">
            Politiques de remboursement
          </h2>
          <div class="modal-terms__text__section__text">
            <p>
              Thèsez-vous n'autorise pas d'échanges ou de remboursements.
            </p>
            <p>
              Toutefois si nous devons annuler une activité, vous serez remboursé.e.s.
            </p>
          </div>
        </div>
      </div>
      <div class="modal-terms__text__columns__column">
        <div class="modal-terms__text__section">
          <h2 class="modal-terms__text__section__title">
            Bref,
          </h2>
          <div class="modal-terms__text__text modal-terms__text__columns__column__bref">
            <p>
              Nous n'effectuons pas d'échanges ou de remboursement, à moins que nous ayons annuler l'activité.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-terms__text__columns">
      <div class="modal-terms__text__columns__column">
        <div class="modal-terms__text__section">
          <h2 class="modal-terms__text__section__title">
            Transactions bancaires
          </h2>
          <div class="modal-terms__text__section__text">
            <p>
              Thèsez-vous a recours à une organisation tierce de traitement des paiements (Banque Desjardins et Groupe Paysafe) pour lier votre carte de crédit à la plateforme. Le traitement des paiements afférents à l’utilisation de la plateforme sont assujettis aux modalités et aux conditions d’utilisation de l’organisation tierce de traitement des paiements et de la société émettrice de carte de crédit. Thèsez-vous n’est pas responsable des erreurs pouvant être commises par l’organisation tierce de traitement des paiements.
            </p>
          </div>
        </div>
      </div>
      <div class="modal-terms__text__columns__column">
        <div class="modal-terms__text__section">
          <h2 class="modal-terms__text__section__title">
            Bref,
          </h2>
          <div class="modal-terms__text__text modal-terms__text__columns__column__bref">
            <p>
              Desjardins et Groupe paysafe sont responsables d'assurer la sécurité de vos informations bancaires et d'effectuer les transactions.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-terms__text__columns">
      <div class="modal-terms__text__columns__column">
        <div class="modal-terms__text__section">
          <h2 class="modal-terms__text__section__title">
            Plateforme numérique
          </h2>
          <div class="modal-terms__text__section__text">
            <p>
              La plateforme est développée en code source ouvert et dans un esprit de mutualisation d’une ressource numérique pouvant profiter à plusieurs individus et organisations. Dans la mesure du possible et en fonction des ressources disponibles, des efforts sont consacrés à développer et adapter de manière continue les outils et fonctions pour que ceux-ci répondent aux besoins des membres et pour que leur utilisation soit le plus simple possible.
            </p>
            <p>
              Des efforts raisonnables sont consacrés pour assurer la performance et la sécurité de la plateforme, dont le respect des standards du Web, le recours à des outils fiables d'encryption des requêtes (https) et la mise à jour régulière des outils utilisés. La plateforme utilise des fichiers témoins («cookies») dans l’objectif de faciliter la navigation sur la plateforme et s’assurer de son bon fonctionnement. La plateforme est hébergée au Québec et est soumise aux juridictions québécoises et canadiennes.
            </p>
            <p>
              En cas de panne de serveur ou autres problèmes d’accès à la plateforme, dans la mesure du possible, l’équipe de Thèsez-vous informera les membres sur l’état de la situation via le compte Facebook ou Twitter de la plateforme Thèsez-vous.
            </p>
            <p>
              Des messages envoyés par courriel peuvent être transmis par la plateforme lors de la création d’un compte ou lors de la demande du renouvellement du mot de passe. Vous recevrez également des courriels lorsque vous faites des achats incluant la facture de ces achats ainsi que les informations nécessaires pour le bon fonctionnement des événements auxquels vous vous inscrivez.
            </p>
          </div>
        </div>
      </div>
      <div class="modal-terms__text__columns__column">
        <div class="modal-terms__text__section">
          <h2 class="modal-terms__text__section__title">
            Bref,
          </h2>
          <div class="modal-terms__text__text modal-terms__text__columns__column__bref">
            <p>
              Cette plateforme est développée en code source ouvert.
            </p>
            <p>
              Nous protégeons vos données au meilleur de nos moyens.
            </p>
            <p>
              Si la plateforme est en panne, vous en serez avertis par Facebook ou Twitter.
            </p>
            <p>
              Vous recevrez parfois des courriels quand vous vous inscrivez au site et à des activités.
            </p>
          </div>
        </div>
      </div>
    </div>
    <h2 class="modal-terms__text__section__title modal-terms__text__section__title--image">
      Données personnelles
    </h2>
    <p class="modal-terms__text__section">
      Les données suivantes sont collectées par la plateforme Thèsez-vous:
    </p>
    <img src="../../../../assets/images/image_conditions.svg">
    <div class="modal-terms__text__columns">
      <div class="modal-terms__text__columns__column">
        <div class="modal-terms__text__section">
          <div class="modal-terms__text__section__text">

            <ul>
              <li>Les données collectées ne seront jamais vendues.</li>
              <li>Vos données de contact, académiques et de participation aux activités seront partagées avec nos partenaires académiques uniquement afin de faire un suivi lors d’un support financier à l'usage spécifique</li>
              <li>Si les données sont partagées avec des partenaires clés (par exemple: Acfas, FRQ, Universités), ce sera afin de démontrer l’impact de Thèsez-vous. Ces données seront anonymisées et agrégées.</li>
            </ul>
            <br/>
            <p>Données conservées pour des fins de recherche:</p>

            <ul>
              <li>Les données anonymisées et agrégées pourront être utilisées dans un contexte de recherche scientifique.</li>
              <li>Vous pouvez demander que vos données soient retirées ou corrigées de la base de données de recherche en contactant info@thesez-vous.com.</li>
              <li>
                Peu importe le besoin, les données seront toujours anonymisées et agrégées de la façon suivante :
                <br/>
                <ul>
                  <li>Un employé de Thèsez-vous retirera toutes les informations identifiantes (nom, prénom, courriel, numéro de téléphone) de la base de données et les remplacera par un identifiant unique.</li>
                  <li>Nous ne conserverons pas de clé permettant de relier ces identifiants uniques à des données identifiantes.</li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="modal-terms__text__columns__column">
        <div class="modal-terms__text__section">
          <h2 class="modal-terms__text__section__title">
            Bref,
          </h2>
          <div class="modal-terms__text__text modal-terms__text__columns__column__bref">
            <p>
              Nous collectons et conservons certaines données qui vous concernent.
            </p>
            <p>
              Nous ne vendrons jamais vos données.
            </p>
            <p>
              Vos données seront partagées avec votre université pour que vous puissiez recevoir des bourses.
            </p>
            <p>
              Sinon, toutes les données utilisées seront anonymisées.
            </p>
            <p>
              Certaines données anonymisées seront utilisées pour faire de la recherche scientifique.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-terms__text__columns">
      <div class="modal-terms__text__columns__column">
        <div class="modal-terms__text__section">
          <h2 class="modal-terms__text__section__title">
            Code de vie dans les activités Thèsez-vous
          </h2>
          <div class="modal-terms__text__section__text">
            <p>
              Les principes suivants doivent être respectés lors de toutes les activités Thèsez-vous, en personne ou en ligne. Le non-respect de ces principes pourrait entraîner le retrait de votre membership et l'annulation de toutes vos participations aux activités.
            </p>
            <ul>
              <li>Vous ne devez pas avoir de comportements ou langage violent ou haineux.</li>
              <li>Vous ne devez pas commettre de délit légal sur les lieux d'un environnement virtuel ou physique associé à une activité TV</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="modal-terms__text__columns__column">
        <div class="modal-terms__text__section">
          <h2 class="modal-terms__text__section__title">
            Bref,
          </h2>
          <div class="modal-terms__text__text modal-terms__text__columns__column__bref">
            <p>
              Soyez respectueu.x.se
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-terms__text__columns">
      <div class="modal-terms__text__columns__column">
        <div class="modal-terms__text__section">
          <h2 class="modal-terms__text__section__title">
            Exclusions
          </h2>
          <div class="modal-terms__text__section__text">
            <p>
              Thèsez-vous tente d’assurer le bon fonctionnement de la plateforme Thèsez-vous, dans la mesure de ses moyens et aussi longtemps qu’il est en mesure d’assurer le financement. Thèsez-vous ne peut être tenu responsable pour des interruptions de services, pannes de serveur, problèmes techniques, pertes de données ou vol de données en lien avec une situation hors de son contrôle.
            </p>
            <p>
              Vous êtes le seul utilisateur autorisé de votre compte. Vous êtes responsable de maintenir la confidentialité de votre mot de passe et de votre compte pour accéder à la plateforme. Vous êtes seul et entièrement responsable de toutes les activités qui se produisent sous votre mot de passe ou votre compte. Thèsez-vous n'a aucun contrôle sur l'utilisation d’un compte d'utilisateur et décline expressément toute responsabilité découlant de celle-ci. Sans limiter ce qui précède, Thèsez-vous ne peut être tenu responsable si d’autres personnes utilisent la plateforme par le biais de votre identité, et ce, pour tout dommage subis en raison d’une violation des présentes conditions ou des lois ou des règlements applicables via votre compte.
            </p>
            <p>
              Si vous soupçonnez qu’une tierce partie a un accès non autorisé à votre mot de passe ou votre compte ou si vous soupçonnez toute autre violation de la sécurité, veuillez communiquer directement avec Thèsez-vous.
            </p>
          </div>
        </div>
      </div>
      <div class="modal-terms__text__columns__column">
        <div class="modal-terms__text__section">
          <h2 class="modal-terms__text__section__title">
            Bref,
          </h2>
          <div class="modal-terms__text__text modal-terms__text__columns__column__bref">
            <p>
              Nous faisons de notre mieux pour que cette plateforme demeure opérationnelle.
            </p>
            <p>
              Gardez votre mot de passe secret
            </p>
            <p>
              Nous ne sommes pas responsables si quelqu'un d'autre utilise votre compte pour faire des achats ou des méfaits
            </p>
            <p>
              Si vous pensez que l'accès à votre compte est compromis, dites-le nous
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-terms__text__columns">
      <div class="modal-terms__text__columns__column">
        <div class="modal-terms__text__section">
          <h2 class="modal-terms__text__section__title">
            Modifications à ces Termes
          </h2>
          <div class="modal-terms__text__section__text">
            <p>
              Thèsez-vous peut apporter des changements aux présentes conditions d’utilisation et charte d’engagement de temps à autre. La nouvelle version sera publiée sur notre site et envoyée par courriel aux membres, qui seront invités à faire part de leurs commentaires. Les modifications entreront en vigueur automatiquement 60 jours après leur publication. Votre utilisation de la plateforme après ce délai de 60 jours équivaudra à une acceptation des nouvelles conditions d’utilisation.
            </p>
            <p>
              Si nous jugeons que les changements sont d'envergures ou qu'ils touchent de nouvelles fonctionnalités, il se peut que vous soyez appelés à les accepter de nouveau.
            </p>
          </div>
        </div>
      </div>
      <div class="modal-terms__text__columns__column">
        <div class="modal-terms__text__section">
          <h2 class="modal-terms__text__section__title">
            Bref,
          </h2>
          <div class="modal-terms__text__text modal-terms__text__columns__column__bref">
            <p>
              Nous vous informerons de toute modification à ces termes et conditions.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-terms__text__columns">
      <div class="modal-terms__text__columns__column">
        <div class="modal-terms__text__section">
          <h2 class="modal-terms__text__section__title">
            Propriété Intellectuelle
          </h2>
          <div class="modal-terms__text__section__text">
            <p>
              Les marques de commerce et autres marques de Thèsez-vous, y compris, sans limitation les logos sont des marques appartenant à Thèsez-vous. Vous ne pouvez pas copier ou utiliser l'une de ces marques, logos ou noms commerciaux sans le consentement exprès préalable et écrit du propriétaire.
            </p>
          </div>
        </div>
      </div>
      <div class="modal-terms__text__columns__column">
        <div class="modal-terms__text__section">
          <h2 class="modal-terms__text__section__title">
            Bref,
          </h2>
          <div class="modal-terms__text__text modal-terms__text__columns__column__bref">
            <p>
              Vous ne pouvez pas utiliser nos logos ou images sans en obtenir la permission.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <p>
    En cliquant sur "ACCEPTER", j'accepte les termes et conditions de Thèsez-vous?.
  </p>
</app-nt-modal>
