<app-nt-modal [name]="name" [activated]="haveReadTerms" (button2)="acceptTerms()" [maxWidth]="maxWidth" class="modal-terms">
  <h1 class="nt-title">
    {{ 'terms.title' | translate }}
  </h1>

  <div class="modal-terms__text" (scroll)="onScroll($event)">
    <div class="modal-terms__text__section">
      <h2 class="modal-terms__text__section__title">
        {{ 'terms.legal.title' | translate }}
      </h2>
      <p class="modal-terms__text__section__text">
        {{ 'terms.legal.introduction' | translate }} <a href="mailto:info@thesez-vous.com">info@thesez-vous.com</a>
      </p>
    </div>
    <div class="modal-terms__text__columns">
      <div class="modal-terms__text__columns__column">
        <div class="modal-terms__text__section">
          <h2 class="modal-terms__text__section__title">
            {{ 'terms.legal.title_1' | translate }}
          </h2>
          <div class="modal-terms__text__section__text" [innerHTML]="'terms.legal.section_1' | translate">
          </div>
        </div>
      </div>
      <div class="modal-terms__text__columns__column">
        <div class="modal-terms__text__section">
          <h2 class="modal-terms__text__section__title">
            {{ 'terms.legal.short_title' | translate }}
          </h2>
          <div class="modal-terms__text__text modal-terms__text__columns__column__bref">
            <p>
              {{ 'terms.legal.short_1' | translate }}
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-terms__text__columns">
      <div class="modal-terms__text__columns__column">
        <div class="modal-terms__text__section">
          <h2 class="modal-terms__text__section__title">
            {{ 'terms.legal.title_2' | translate }}
          </h2>
          <div class="modal-terms__text__section__text" [innerHTML]="'terms.legal.section_2' | translate">
          </div>
        </div>
      </div>
      <div class="modal-terms__text__columns__column">
        <div class="modal-terms__text__section">
          <h2 class="modal-terms__text__section__title">
            {{ 'terms.legal.short_title' | translate }}
          </h2>
          <div class="modal-terms__text__text modal-terms__text__columns__column__bref" [innerHTML]="'terms.legal.short_2' | translate">
          </div>
        </div>
      </div>
    </div>
    <div class="modal-terms__text__columns">
      <div class="modal-terms__text__columns__column">
        <div class="modal-terms__text__section">
          <h2 class="modal-terms__text__section__title">
            {{ 'terms.legal.title_3' | translate }}
          </h2>
          <div class="modal-terms__text__section__text" [innerHTML]="'terms.legal.section_3' | translate">
          </div>
        </div>
      </div>
      <div class="modal-terms__text__columns__column">
        <div class="modal-terms__text__section">
          <h2 class="modal-terms__text__section__title">
            {{ 'terms.legal.short_title' | translate }}
          </h2>
          <div class="modal-terms__text__text modal-terms__text__columns__column__bref" [innerHTML]="'terms.legal.short_3' | translate">
          </div>
        </div>
      </div>
    </div>
    <div class="modal-terms__text__columns">
      <div class="modal-terms__text__columns__column">
        <div class="modal-terms__text__section">
          <h2 class="modal-terms__text__section__title">
            {{ 'terms.legal.title_4' | translate }}
          </h2>
          <div class="modal-terms__text__section__text" [innerHTML]="'terms.legal.section_4' | translate">
          </div>
        </div>
      </div>
      <div class="modal-terms__text__columns__column">
        <div class="modal-terms__text__section">
          <h2 class="modal-terms__text__section__title">
            {{ 'terms.legal.short_title' | translate }}
          </h2>
          <div class="modal-terms__text__text modal-terms__text__columns__column__bref" [innerHTML]="'terms.legal.short_4' | translate">
          </div>
        </div>
      </div>
    </div>
    <div class="modal-terms__text__columns">
      <div class="modal-terms__text__columns__column">
        <div class="modal-terms__text__section">
          <h2 class="modal-terms__text__section__title">
            {{ 'terms.legal.title_5' | translate }}
          </h2>
          <div class="modal-terms__text__section__text" [innerHTML]="'terms.legal.section_5' | translate">
          </div>
        </div>
      </div>
      <div class="modal-terms__text__columns__column">
        <div class="modal-terms__text__section">
          <h2 class="modal-terms__text__section__title">
            {{ 'terms.legal.short_title' | translate }}
          </h2>
          <div class="modal-terms__text__text modal-terms__text__columns__column__bref" [innerHTML]="'terms.legal.short_5' | translate">
          </div>
        </div>
      </div>
    </div>
    <div class="modal-terms__text__columns">
      <div class="modal-terms__text__columns__column">
        <div class="modal-terms__text__section">
          <h2 class="modal-terms__text__section__title">
            {{ 'terms.legal.title_6' | translate }}
          </h2>
          <div class="modal-terms__text__section__text" [innerHTML]="'terms.legal.section_6' | translate">
          </div>
        </div>
      </div>
      <div class="modal-terms__text__columns__column">
        <div class="modal-terms__text__section">
          <h2 class="modal-terms__text__section__title">
            {{ 'terms.legal.short_title' | translate }}
          </h2>
          <div class="modal-terms__text__text modal-terms__text__columns__column__bref" [innerHTML]="'terms.legal.short_6' | translate">
          </div>
        </div>
      </div>
    </div>
    <div class="modal-terms__text__columns">
      <div class="modal-terms__text__columns__column">
        <div class="modal-terms__text__section">
          <h2 class="modal-terms__text__section__title">
            {{ 'terms.legal.title_7' | translate }}
          </h2>
          <div class="modal-terms__text__section__text" [innerHTML]="'terms.legal.section_7' | translate">
          </div>
        </div>
      </div>
      <div class="modal-terms__text__columns__column">
        <div class="modal-terms__text__section">
          <h2 class="modal-terms__text__section__title">
            {{ 'terms.legal.short_title' | translate }}
          </h2>
          <div class="modal-terms__text__text modal-terms__text__columns__column__bref" [innerHTML]="'terms.legal.short_7' | translate">
          </div>
        </div>
      </div>
    </div>
    <div class="modal-terms__text__columns">
      <div class="modal-terms__text__columns__column">
        <div class="modal-terms__text__section">
          <h2 class="modal-terms__text__section__title">
            {{ 'terms.legal.title_8' | translate }}
          </h2>
          <div class="modal-terms__text__section__text" [innerHTML]="'terms.legal.section_8' | translate">
          </div>
        </div>
      </div>
      <div class="modal-terms__text__columns__column">
        <div class="modal-terms__text__section">
          <h2 class="modal-terms__text__section__title">
            {{ 'terms.legal.short_title' | translate }}
          </h2>
          <div class="modal-terms__text__text modal-terms__text__columns__column__bref" [innerHTML]="'terms.legal.short_8' | translate">
          </div>
        </div>
      </div>
    </div>
    <h2 class="modal-terms__text__section__title modal-terms__text__section__title--image">
      {{ 'terms.legal.title_9' | translate }}
    </h2>
    <p class="modal-terms__text__section" [innerHTML]="'terms.legal.section_9_intro' | translate">
    </p>
    <img src="../../../../assets/images/image_conditions.svg">
    <div class="modal-terms__text__columns">
      <div class="modal-terms__text__columns__column">
        <div class="modal-terms__text__section">
          <div class="modal-terms__text__section__text" [innerHTML]="'terms.legal.section_9_content' | translate">
          </div>
        </div>
      </div>
      <div class="modal-terms__text__columns__column">
        <div class="modal-terms__text__section">
          <h2 class="modal-terms__text__section__title">
            {{ 'terms.legal.short_title' | translate }}
          </h2>
          <div class="modal-terms__text__text modal-terms__text__columns__column__bref" [innerHTML]="'terms.legal.short_9' | translate">
          </div>
        </div>
      </div>
    </div>
    <div class="modal-terms__text__columns">
      <div class="modal-terms__text__columns__column">
        <div class="modal-terms__text__section">
          <h2 class="modal-terms__text__section__title">
            {{ 'terms.legal.title_10' | translate }}
          </h2>
          <div class="modal-terms__text__section__text" [innerHTML]="'terms.legal.section_10' | translate">
          </div>
        </div>
      </div>
      <div class="modal-terms__text__columns__column">
        <div class="modal-terms__text__section">
          <h2 class="modal-terms__text__section__title">
            {{ 'terms.legal.short_title' | translate }}
          </h2>
          <div class="modal-terms__text__text modal-terms__text__columns__column__bref" [innerHTML]="'terms.legal.short_10' | translate">
          </div>
        </div>
      </div>
    </div>
    <div class="modal-terms__text__columns">
      <div class="modal-terms__text__columns__column">
        <div class="modal-terms__text__section">
          <h2 class="modal-terms__text__section__title">
            {{ 'terms.legal.title_11' | translate }}
          </h2>
          <div class="modal-terms__text__section__text" [innerHTML]="'terms.legal.section_11' | translate">
          </div>
        </div>
      </div>
      <div class="modal-terms__text__columns__column">
        <div class="modal-terms__text__section">
          <h2 class="modal-terms__text__section__title">
            {{ 'terms.legal.short_title' | translate }}
          </h2>
          <div class="modal-terms__text__text modal-terms__text__columns__column__bref" [innerHTML]="'terms.legal.short_11' | translate">
          </div>
        </div>
      </div>
    </div>
    <div class="modal-terms__text__columns">
      <div class="modal-terms__text__columns__column">
        <div class="modal-terms__text__section">
          <h2 class="modal-terms__text__section__title">
            {{ 'terms.legal.title_12' | translate }}
          </h2>
          <div class="modal-terms__text__section__text" [innerHTML]="'terms.legal.section_12' | translate">
          </div>
        </div>
      </div>
      <div class="modal-terms__text__columns__column">
        <div class="modal-terms__text__section">
          <h2 class="modal-terms__text__section__title">
            {{ 'terms.legal.short_title' | translate }}
          </h2>
          <div class="modal-terms__text__text modal-terms__text__columns__column__bref" [innerHTML]="'terms.legal.short_12' | translate">
          </div>
        </div>
      </div>
    </div>
    <div class="modal-terms__text__columns">
      <div class="modal-terms__text__columns__column">
        <div class="modal-terms__text__section">
          <h2 class="modal-terms__text__section__title">
            {{ 'terms.legal.title_13' | translate }}
          </h2>
          <div class="modal-terms__text__section__text" [innerHTML]="'terms.legal.section_13' | translate">
          </div>
        </div>
      </div>
      <div class="modal-terms__text__columns__column">
        <div class="modal-terms__text__section">
          <h2 class="modal-terms__text__section__title">
            {{ 'terms.legal.short_title' | translate }}
          </h2>
          <div class="modal-terms__text__text modal-terms__text__columns__column__bref" [innerHTML]="'terms.legal.short_13' | translate">
          </div>
        </div>
      </div>
    </div>
  </div>

  <p>
    {{ 'terms.acceptation_text' | translate }}
  </p>

  <app-alert *ngIf="!haveReadTerms" type="danger">
      {{ 'terms.alert_text' | translate }}
  </app-alert>
</app-nt-modal>
