<app-my-table [settings]="settings"
              [data]="listAdaptedPeriods"
              (addButton)="OpenModalCreatePeriod()"
              (editItem)="OpenModalEditPeriod($event)"
              (removeItem)="removePeriod($event)"
              (selectItem)="goToPeriod($event)"
              (changePage)="changePage($event)">
</app-my-table>

<app-nt-modal name="form_periods"
              typeModal="success"
              (button2)="submitPeriod()"
              maxWidth="600px">
  <app-form [form]="periodForm" [fields]="fields" [errors]="periodErrors"></app-form>
</app-nt-modal>

<app-nt-modal name="validation_deletion"
              typeModal="success"
              (button2)="removePeriod(null, true)"
              maxWidth="600px"
              [activated]="isSecurityOnDeletionValid()">
  <p>
    {{ 'table-periods.validation_deletion_modal.text_1'| translate }}
  </p>
  <p>
    {{ 'table-periods.validation_deletion_modal.text_2'| translate }}
  </p>
  <div class="form-group">
    <label class="nt-form-label">
      {{ 'table-periods.validation_deletion_modal.labels.custom_message'| translate }}:
    </label>
    <textarea [(ngModel)]="messageOnDeletion" class="nt-form-input nt-form-input--textarea"></textarea>
  </div>
  <div class="align-top">
    <input id="securityCheckbox" type="checkbox" [(ngModel)]="securityOnDeletion" />
    <label class="nt-form-label" for="securityCheckbox">
      {{ 'table-periods.validation_deletion_modal.labels.checkbox_security'| translate }}
    </label>
  </div>
</app-nt-modal>
