<div class="payment-flow-success">
  <img src="../../../../assets/images/felicitations.svg" class="payment-flow-success__image">
  <app-title [level]="4"
             text="{{'payment-successful.thanks' | translate}}"
             class="payment-flow-success__texts"></app-title>
  <app-title [level]="9"
             class="payment-flow-success__texts"
             text="{{'payment-successful.title1' | translate}}"></app-title>
  <div class="payment-flow-success__email">
    {{profile.email}}
  </div>

  <app-title [level]="9"
             class="payment-flow-success__texts"
             text="{{'payment-successful.title2' | translate}}"></app-title>
  <app-title [level]="9"
             class="payment-flow-success__texts"
             text="{{'payment-successful.title3' | translate}}"></app-title>
  <app-button text="{{'payment-successful.btn' | translate}}" [type]="1" (click)="goToProfile()"></app-button>
</div>
