<div class="profile-retreats">
  <h2 class="title title--8">
    {{ 'profile-retreats.list_retreat_reservations.title' | translate }}
  </h2>

  <div class="profile-retreats__list profile-retreats__list--loading" *ngIf="!getDisplayedRetreatReservation()">
    <app-loader></app-loader>
  </div>
  <div class="profile-retreats__list profile-retreats__list--empty" *ngIf="getDisplayedRetreatReservation() && getDisplayedRetreatReservation().length === 0">
    {{ 'profile-retreats.list_retreat_reservations.no_reservation' | translate }}
  </div>
  <div class="profile-retreats__list" *ngIf="getDisplayedRetreatReservation() && getDisplayedRetreatReservation().length">
    <div class="profile-retreats__list__item"
         *ngFor="let retreatReservation of getDisplayedRetreatReservation()"
         (click)="openRetreatReservation(retreatReservation.id)">
      <div class="profile-retreats__list__item__title">
        <div class="profile-retreats__list__item__title__text">
          {{ retreatReservation.retreat_details.name }}
        </div>

        <div *ngIf="retreatReservationOpen === retreatReservation.id" class="profile-retreats__list__item__title__tomatoes">
          20 <i class="icon icon-tomato icon--3x"></i>
        </div>
      </div>
      <div class="profile-retreats__list__item__description">
        <p>
          {{ retreatReservation.retreat_details.details }}
        </p>
        <p>
          {{ retreatReservation.retreat_details.getDateInterval() }}
        </p>
        <div class="profile-retreats__list__item__description__more" *ngIf="retreatReservationOpen === retreatReservation.id">
          <b>{{ 'profile-retreats.retreats.details.begin' | translate }}:</b> {{retreatReservation.retreat_details.getStartTime()}}<br/>
          <b>{{ 'profile-retreats.retreats.details.end' | translate }}:</b> {{retreatReservation.retreat_details.getEndTime()}}<br/>
          <span *ngIf="retreatReservation.retreat_details.activityLanguageLabel">
                    <b>{{ 'profile-retreats.retreats.details.animation' | translate }}:</b>
            {{retreatReservation.retreat_details.activityLanguageLabel | translate }}<br/>
                  </span>
          <b>{{ 'profile-retreats.retreats.details.price' | translate }}:</b> {{retreatReservation.retreat_details.price}}$CAN<br/>
        </div>
      </div>
      <div class="profile-retreats__list__item__options">
        <button [matMenuTriggerFor]="optionsRetreat"
                class="options-button"
                (click)="stopPropagation($event)"
        >{{ 'profile-retreats.retreats.details.options' | translate }}
          <i class="icon icon-caret-down"></i></button>
        <mat-menu #optionsRetreat="matMenu"
                  class="options_menu"
        >

          <button mat-menu-item class="options_menu__item"
                  *ngIf="retreatReservation.refundable || isAdminReservation(retreatReservation)"
                  (click)="openModalCancelRetreatReservation(retreatReservation)">
            {{ 'profile-retreats.retreats.details.cancel' | translate }}
          </button>
          <button mat-menu-item class="options_menu__item"
                  *ngIf="retreatReservation.exchangeable"
                  (click)="openModalExchangeRetreatReservation(retreatReservation)">
            {{ 'profile-retreats.retreats.details.change' | translate }}
          </button>
          <a
            *ngIf="retreatReservation.retreat_details.form_url"
            target="_blank" [href]="retreatReservation.retreat_details.form_url"
            mat-menu-item class="options_menu__item">
            {{ 'profile-retreats.retreats.details.detail' | translate }}
          </a>
        </mat-menu>
      </div>
    </div>
  </div>
  <a class="profile-retreats__action" routerLink="/retreats">
    <i class="icon icon-plus icon--2x"></i>
    {{ 'profile-retreats.add_retreat_reservations' | translate }}
  </a>
  <a *ngIf="!displayAllRetreatReservation" class="profile-retreats__link nt-link" (click)="setDisplayAllRetreatReservation(true)">
    {{ 'profile-retreats.display_old_retreat_reservations' | translate }}
  </a>
  <a *ngIf="displayAllRetreatReservation" class="profile-retreats__link nt-link" (click)="setDisplayAllRetreatReservation(false)">
    {{ 'profile-retreats.hide_old_retreat_reservations' | translate }}
  </a>
</div>


<app-nt-modal name="form_exchange_retreat"
              typeModal="danger"
              title="{{ 'profile-retreats.exchange_reservation_retreat_title' | translate }}"
              button2Label="{{ 'profile-retreats.exchange_reservation_retreat_button_confirm' | translate }}"
              (button2)="exchangeRetreat()"
              maxWidth="600px"
              class="form-exchange-retreat">
  <div *ngIf="selectedRetreatReservation">
    <p>
      {{ 'profile-retreats.exchange_reservation_retreat_text' | translate:{'delay_max': selectedRetreatReservation.retreat_details.min_day_exchange} }}
    </p>

    <h2 class="form-exchange-retreat__title">
      {{ 'profile-retreats.exchange_reservation_retreat_title_actual' | translate }}
    </h2>

    <select [disabled]="true" class="nt-form-input nt-form-input--select">
      <option>{{ selectedRetreatReservation.retreat_details.name }} - {{ selectedRetreatReservation.retreat_details.getStartTime() }}</option>
    </select>

    <div class="form-exchange-retreat__icon">
      <i class="icon icon-transfer icon--5x"></i>
    </div>

    <h2 class="form-exchange-retreat__title">
      {{ 'profile-retreats.exchange_reservation_retreat_title_new' | translate }}
    </h2>

    <select [(ngModel)]="selectedRetreatForExchange" class="nt-form-input nt-form-input--select" name="retreatForExchange">
      <option *ngFor="let retreat of getChoicesExchangeRetreat()" [value]="retreat.url">
        {{ retreat.name }} - {{ retreat.getStartTime() }}
      </option>
    </select>

    <app-alert class="form-exchange-retreat__alert" type="danger" [messages]="errorExchangeRetreatReservation" *ngIf="errorExchangeRetreatReservation"></app-alert>
  </div>
</app-nt-modal>

<app-nt-modal name="form_cancel_reservation_retreat"
              typeModal="danger"
              title="{{ 'profile-retreats.cancel_reservation_retreat' | translate }}"
              button2Label="{{ 'profile-retreats.cancel_reservation_retreat_button' | translate }}"
              (button2)="cancelRetreat()"
              maxWidth="600px">
  <div *ngIf="selectedRetreatReservation" class="form-cancel-reservation-retreat">
    <h2 *ngIf="isAdminReservation(selectedRetreatReservation)">
      {{ 'profile-retreats.cancel_admin_reservation_retreat_text_warning' | translate}}!
    </h2>
    <p *ngIf="!isAdminReservation(selectedRetreatReservation)">
      {{ 'profile-retreats.cancel_reservation_retreat_text_1' | translate:{'rate': 100-selectedRetreatReservation.retreat_details.refund_rate, 'delay_max': selectedRetreatReservation.retreat_details.min_day_refund} }}
    </p>
    <p *ngIf="isAdminReservation(selectedRetreatReservation)">
      {{ 'profile-retreats.cancel_admin_reservation_retreat_text_1' | translate}}
    </p>
    <p *ngIf="isAdminReservation(selectedRetreatReservation)">
      {{ 'profile-retreats.cancel_admin_reservation_retreat_text_2' | translate}}
    </p>

    <div class="form-cancel-reservation-retreat__retreat">
      {{ selectedRetreatReservation.retreat_details.name }}<br/>
      {{ selectedRetreatReservation.retreat_details.details }}<br/>
      {{ selectedRetreatReservation.retreat_details.getDateInterval() }}
    </div>
    <p>
      {{ 'profile-retreats.cancel_reservation_retreat_text_2' | translate }}
    </p>

    <app-alert
      type="danger" [messages]="errorCancelationRetreatReservation"
      *ngIf="errorCancelationRetreatReservation">
    </app-alert>
  </div>
</app-nt-modal>
