@import '../../../../../assets/scss/theme';

.profile-retreats {
  &__list {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    border: 1px solid $border-calendar;

    &--empty {
      justify-content: center;
      align-items: center;
      padding: 20px;
    }

    &__item {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      border-bottom: 1px solid $border-calendar;
      padding: 5px 0;

      &:last-child {
        border: none;
      }

      &:hover {
        background-color: $nt-2;
        cursor: pointer;
      }

      &__icon {
        font-size: 45px;
      }

      & > * {
        padding: 10px;
      }

      &__title {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        min-width: 220px;

        &__text {
          display: flex;
          flex-direction: column;
        }

        &__tomatoes {
          flex: 1;
          margin-top: 30px;
          display: flex;
          align-items: center;
        }
      }

      &__description {
        flex:2;
        display: flex;
        flex-direction: column;

        &__more {
          margin-top: 30px;
        }
      }

      &--open {
        background-color: $nt-4;

        &:hover {
          background-color: $nt-4;
        }
      }
    }
  }

  &__action {
    font-size: 20px;
    font-weight: 500;
    padding: 20px;
    border-style: solid;
    border-color: $border-calendar;
    border-width:  0 1px 1px 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    text-decoration: none;

    &:hover {
      background-color: $nt-13;
      color: white;
    }
  }

  &__link {
    margin-top: 20px;
  }
}

.form-exchange-retreat {

  &__title {
    text-transform: uppercase;
    font-weight: 900;
    font-size: $font-size-normal;
    margin-top: 20px;
  }

  &__icon {
    text-align: center;
    margin-top: 20px;
  }

  &__alert {
    display: block;
    margin-top: 10px;
  }
}

.form-cancel-reservation-retreat {
  &__retreat {
    border: 1px solid $border-calendar;
    padding: 20px;
    margin: 20px 0;
  }
}


.options-button {

  width: 130px;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 15px;
  font-weight: 600;
  background: None;
  border: 1px solid $border-calendar;
  text-transform: uppercase;
}

::ng-deep .mat-menu-content:not(:empty) {
  padding: 0 !important;
}

::ng-deep .options_menu {

  width: 130px !important;
  border-radius: 10px !important;
  padding: 0 0 !important;
  background: white !important;
  border: 1px solid $border-calendar !important;

  &__item {
    height: 40px !important;
    line-height: 20px !important;
    font-size: 15px !important;
    font-weight: 600 !important;
    text-align: left !important;
    border-bottom: 1px solid $border-calendar !important;
    padding: 10px 20px !important;
    text-transform: uppercase;


    &:last-child {
      border: none !important;
    }

  }
}

@media only screen and (max-width: 700px) {
  .profile-retreats {
    &__list {
      &__item {
        flex-wrap: wrap;

        &__title {
          order: 1;
          flex: none;
          align-items: flex-start;
        }

        &__description {
          order: 3;
          flex: none;
          width: 100%;
        }
        &__options {
          order: 2;
        }
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .profile-retreats {
    &__action {
      font-size: 0.7em;
    }
  }
}
