<div class="calandar">
  <div class="calandar__table">
    <div class="calandar__table__title">
      <h2>Plages horaire</h2>
      <hr>
      <div>
        Sélectionnez la ou les plage(s) horaire de votre choix pour les ajouter à votre panier.
      </div>
    </div>
    <div class="parent calandar__table__content" *ngIf="daysOfWeek">
      <div class="div1 calandar__box calandar__table__content__title">DATE </div>
      <div class="calandar__box calandar__table__content__day"
           [ngClass]="'div' + (+day_of_Week.position+1)"
           *ngFor="let day_of_Week of days_of_Week_titles">
        <ul>
          <li>{{day_of_Week.name_day}}</li>
          <li>{{day_of_Week.day_month}}</li>
        </ul>
      </div>

      <div class="calandar__box calandar__table__content__title">AM </div>
      <div class="calandar__box calandar__table__content_elt" *ngFor="let am of am_array">
        <span class="calandar__content__puce" [ngClass]="am"></span>
      </div>

      <div class="calandar__box calandar__table__content__title">PM </div>
      <div class="calandar__box calandar__table__content" *ngFor="let pm of pm_array">
        <span class="calandar__content__puce" [ngClass]="pm"></span>
      </div>

      <div class="calandar__box calandar__table__content__title">SOIR </div>
      <div class="calandar__box  calandar__table__content" *ngFor="let night of night_array">
        <span class="calandar__content__puce" [ngClass]="night"></span>
      </div>
    </div>
  </div>

  <div class="calandar__legend">
    <div class="calandar__legend__title">
      <h2>Légende</h2>
      <hr>
    </div>
    <div class="calandar__legend__content"></div>
    <ul class="calandar__legend__list">
      <li class="calandar__legend__elt">
        <div><span class="calandar__content__puce many_place"></span></div>
        <div>Beaucoup de places disponibles</div>
      </li>
      <li class="calandar__legend__elt">
        <div><span class="calandar__content__puce less_50_place"></span></div>
        <div>Moins de 50% de places disponibles</div>
      </li>
      <li class="calandar__legend__elt">
        <div><span class="calandar__content__puce almost_no_place"></span></div>
        <div>Presque plus de places disponibles</div>
      </li>
      <li class="calandar__legend__elt">
        <div><span class="calandar__content__puce no_place"></span></div>
        <div>Aucune place disponible</div>
      </li>
      <li class="calandar__legend__elt">
        <div><span class="empty_case"></span></div>
        <div>Si la case est vide, c'est que l'espace est fermé</div>
      </li>
    </ul>
  </div>
</div>


