<div class="admin-reservation-packages-page">
  <div class="admin-reservation-packages-page__table">
    <app-my-table [settings]="settings"
                  [data]="listAdaptedReservationPackages"
                  (addButton)="OpenModalCreateReservationPackage()"
                  (editItem)="OpenModalEditReservationPackage($event)"
                  (changePage)="changePage($event)">
    </app-my-table>
  </div>
</div>

<app-nt-modal name="form_reservation_packages"
              class="modal-reservation-packages"
              typeModal="success"
              (button2)="submitReservationPackage()"
              maxWidth="600px">
  <app-form [form]="reservationPackageForm" [fields]="fields" [errors]="reservationPackageErrors"></app-form>
</app-nt-modal>
