<div class="admin-academics-page">
  <div class="admin-academics-page__levels">
    <app-my-table [settings]="settingsLevel"
                  [data]="listAcademicLevels"
                  (addButton)="OpenModalCreateLevel()"
                  (editItem)="OpenModalEditLevel($event)"
                  (removeItem)="removeLevel($event)"
                  (changePage)="changePageLevel($event)"></app-my-table>
  </div>
  <div class="admin-academics-page__fields">
    <app-my-table [settings]="settingsField"
                  [data]="listAcademicFields"
                  (addButton)="OpenModalCreateField()"
                  (editItem)="OpenModalEditField($event)"
                  (removeItem)="removeField($event)"
                  (changePage)="changePageField($event)"></app-my-table>
  </div>
</div>

<app-nt-modal name="form_academic_fields"
              typeModal="success"
              (button2)="submitField()"
              maxWidth="600px">
  <app-form [form]="fieldForm" [fields]="academicFieldFields" [errors]="fieldErrors"></app-form>
</app-nt-modal>

<app-nt-modal name="form_academic_levels"
              typeModal="success"
              (button2)="submitLevel()"
              maxWidth="600px">
  <app-form [form]="levelForm" [fields]="academicLevelFields" [errors]="levelErrors"></app-form>
</app-nt-modal>
