<div class="admin-academics-page">
  <div class="admin-academics-page__title">
    <h2>Domaines d'etudes</h2>
  </div>
  <div class="admin-academics-page__actions">
    <div>
      <!-- Space for some filters -->
    </div>
    <div>
      <!-- Space for button actions -->
    </div>
  </div>
  <div class="admin-academics-page__levels">
    <app-my-table [settings]="settings" [data]="listAcademicLevels"></app-my-table>
  </div>

  <div class="admin-academics-page__title">
    <h2>Niveaux d'etudes</h2>
  </div>
  <div class="admin-academics-page__actions">
    <div>
      <!-- Space for some filters -->
    </div>
    <div>
      <!-- Space for button actions -->
    </div>
  </div>
  <div class="admin-academics-page__fields">
    <app-my-table [settings]="settings" [data]="listAcademicFields"></app-my-table>
  </div>

</div>
