@import "../../../../assets/scss/theme";

.nt-header-sub {
  width: 300px;
  height: 100vh;
  background-color: $nt-14;
  color: $nt-2;
  text-transform: uppercase;

  &--hover {
    position: absolute;
    z-index: 1000;
  }

  &__title {
    padding: 40px;
    height: 130px;

    font-weight: 700;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &__nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;

    &__item {
      &__link {
        font-size: 14px;
        display: inline-block;
        text-decoration: none;
        text-align: center;
        padding: 15px;

        &:hover {
          font-weight: 900;
          cursor: pointer;
        }

        &--active {
          font-weight: 900;
        }

        &--button {
          border: 1px solid;
          margin-top: 52px;
        }
      }
    }
  }
}
