<div class="retreat-preview" *ngIf="retreat">
  <div class="retreat-preview__title">
    <app-title [level]="3" [text]="retreat.name"></app-title>
    <app-title [level]="3" [text]="retreat.getStartDay()"></app-title>
  </div>
  <app-title class="retreat-preview__subtitle" [level]="5" [text]="retreat.sub_title"></app-title>
  <app-title class="retreat-preview__description" [level]="8" [text]="retreat.description"></app-title>

  <div class="retreat-preview__picture" [ngStyle]="{'background-image': 'url(' + retreat.firstPicture + ')'}"></div>

  <div class="retreat-preview__infos">
    <div class="retreat-preview__infos__line">
      <app-title [level]='5' text="Dates"></app-title>
      <app-title [level]='9' [text]="retreat.getDateInterval()"></app-title>
    </div>
    <div class="retreat-preview__infos__line">
      <app-title [level]='5' text="Lieu"></app-title>
      <app-link text="{{ retreat.place_name }} ({{ retreat.city }})" [href]="retreat.google_maps_url" target="_blank"></app-link>
    </div>
    <div class="retreat-preview__infos__line">
      <app-title [level]='5' text="Place(s) disponible(s)"></app-title>
      <app-title [level]='9' [text]="availablePlace.toString()"></app-title>
    </div>
    <!--
    <div class="retreat-preview__infos__line">
      <app-title [level]='5' text="Chambres"></app-title>
      <app-title [level]='9' text="# Occupation double"></app-title>
    </div>
    -->
    <div class="retreat-preview__infos__line">
      <app-title [level]='5' text="Tarif"></app-title>
      <app-title [level]='9' text="{{ retreat.price }} $CAN"></app-title>
    </div>
    <!--
    <div class="retreat-preview__infos__line">
      <app-title [level]='5' text="Particularite(s)"></app-title>
      <app-title [level]='9' text="# # # #"></app-title>
    </div>
    -->
    <div class="retreat-preview__infos__line retreat-preview__infos__line--clickable" (click)="toggleDetails()">
      <app-title [level]='5' text="Informations supplémentaires"></app-title>
      <div>
        <i class="icon icon--4x icon-plus" *ngIf="!displayDetails"></i>
        <i class="fas fa-minus" *ngIf="displayDetails"></i>
      </div>
    </div>
    <div *ngIf="displayDetails" class="retreat-preview__infos__details">
      <div class="retreat-preview__infos__details__item">
        <app-title class="retreat-preview__infos__details__item__title" [level]="8" text="Adresse"></app-title>
        <app-title [level]="9" [text]="retreat.getAddress()"></app-title>
      </div>
      <div class="retreat-preview__infos__details__item">
        <app-title class="retreat-preview__infos__details__item__title" [level]="8" text="Début"></app-title>
        <app-title [level]="9" [text]="retreat.getStartTime()"></app-title>
      </div>
      <div class="retreat-preview__infos__details__item">
        <app-title class="retreat-preview__infos__details__item__title" [level]="8" text="Fin"></app-title>
        <app-title [level]="9" [text]="retreat.getEndTime()"></app-title>
      </div>
      <!--
      <div class="retreat-preview__infos__details__item">
        <app-title class="retreat-preview__infos__details__item__title" [level]="8" text="Toilettes"></app-title>
        <app-title [level]="9" text="# Genrees"></app-title>
      </div>
      -->
      <div class="retreat-preview__infos__details__item">
        <app-title class="retreat-preview__infos__details__item__title" [level]="8" text="Accessibilité"></app-title>
        <app-title [level]="9" [text]="retreat.accessibility_detail"></app-title>
      </div>
      <!--
      <div class="retreat-preview__infos__details__item">
        <app-title class="retreat-preview__infos__details__item__title" [level]="8" text="Options de repas"></app-title>
        <app-title [level]="9" text="# Options vege, vegan, sans gluten, etc.."></app-title>
      </div>
      -->
      <div class="retreat-preview__infos__details__item">
        <app-title class="retreat-preview__infos__details__item__title" [level]="8" text="Autres informations"></app-title>
        <app-title [level]="9" [text]="retreat.details"></app-title>
      </div>
    </div>
  </div>

  <app-alert type="success" *ngIf="existingReservation" [messages]="['Vous êtes déjà inscrit à cette retraite']"></app-alert>
  <app-alert type="success" *ngIf="existingWaitingQueue" [messages]="['Vous êtes déjà inscrit à cette file d\'attente']"></app-alert>
  <app-alert type="warning"
             *ngIf="!existingReservation && !existingWaitingQueue && availablePlace <= 0"
             [messages]="['Il n\'y a plus de place disponible pour cette retraite']"></app-alert>

  <app-button class="retreat-preview__button"
              text="S'inscrire"
              (onClick)="subscribeToRetreat()"
              *ngIf="displaySubscribeButton && canSubscribe()"></app-button>

  <app-button class="retreat-preview__button"
              text="Liste d'attente"
              (onClick)="subscribeToQueue()"
              *ngIf="displaySubscribeButton && canSubscribeToWaitingQueue()"></app-button>
</div>

<app-nt-modal name="waiting-list-success"
              typeModal="success"
              [displayButtons]="false"
              maxWidth="600px"
              [autoClose]="true">
  <p>
    {{ 'retreat-list-item.notifications.subscribe_waiting_list.success.content' | translate:{position: this.positionInList} }}
  </p>
</app-nt-modal>
