<div class="retreat-preview" *ngIf="retreat">
  <div class="retreat-preview__header" id="retreatPreview{{retreat.id}}">
    <img class="retreat-preview__header__icon" src="{{retreat.type.icon}}"/>
    <div class="retreat-preview__header__name">
      <app-title [level]="4" [text]="retreat.name"></app-title>
      <app-title *ngIf="retreat.animator"
                 [level]="9"
                 text="{{'retreat-preview.animated_by' | translate}} {{retreat.animator}}"></app-title>
    </div>
    <div class="retreat-preview__header__date">
      <app-title [level]="8" [text]="retreat.getStartDay()"></app-title>
      <app-title [level]="8" text="{{ retreat.activityLanguageLabel | translate }}"></app-title>
    </div>
  </div>
  <app-title class="retreat-preview__subtitle" *ngIf="retreat.sub_title" [level]="5" [text]="retreat.sub_title"></app-title>
  <app-title class="retreat-preview__description" *ngIf="retreat.description" [level]="8" [text]="retreat.description"></app-title>

  <div class="retreat-preview__picture" [ngStyle]="{'background-image': 'url(' + retreat.firstPicture + ')'}"></div>

  <div class="retreat-preview__infos">
    <div class="retreat-preview__infos__line">
      <app-title *ngIf="!retreat.isSameDay" [level]='5' text="{{'retreat-preview.dates' | translate}}"></app-title>
      <app-title *ngIf="retreat.isSameDay" [level]='5' text="{{'retreat-preview.date' | translate}}"></app-title>
      <app-title [level]='9' [text]="retreat.getDateInterval()"></app-title>
    </div>
    <div class="retreat-preview__infos__line" *ngIf="!retreat.type.is_virtual">
      <app-title [level]='5' text="{{'retreat-preview.location' | translate}}"></app-title>
      <app-link text="{{ retreat.place_name }} ({{ retreat.city }})" [href]="retreat.google_maps_url" target="_blank"></app-link>
    </div>
    <div class="retreat-preview__infos__line" *ngIf="retreat.type.is_virtual">
      <app-title [level]='5' text="{{'retreat-preview.videoconference_tool' | translate}}"></app-title>
      <app-title [level]='9' [text]="retreat.videoconference_tool"></app-title>
    </div>
    <div class="retreat-preview__infos__line">
      <app-title [level]='5' text="{{'retreat-preview.space_available' | translate}}"></app-title>
      <app-title [level]='9' [text]="availablePlace.toString()"></app-title>
    </div>
    <!--
    <div class="retreat-preview__infos__line">
      <app-title [level]='5' text="Chambres"></app-title>
      <app-title [level]='9' text="# Occupation double"></app-title>
    </div>
    -->
    <div class="retreat-preview__infos__line">
      <app-title [level]='5' text="{{'retreat-preview.rate' | translate}}"></app-title>
      <app-title [level]='9' text="{{ retreat.price }} $CAD"></app-title>
    </div>
    <!--
    <div class="retreat-preview__infos__line">
      <app-title [level]='5' text="Particularite(s)"></app-title>
      <app-title [level]='9' text="# # # #"></app-title>
    </div>
    -->
    <div class="retreat-preview__infos__line retreat-preview__infos__line--clickable" (click)="toggleDetails()">
      <app-title [level]='5' text="{{'retreat-preview.additional_information' | translate}}"></app-title>
      <div>
        <i class="icon icon--4x icon-plus" *ngIf="!displayDetails"></i>
        <i class="fas fa-minus" *ngIf="displayDetails"></i>
      </div>
    </div>
    <div *ngIf="displayDetails" class="retreat-preview__infos__details">
      <div class="retreat-preview__infos__details__item" *ngIf="!retreat.type.is_virtual">
        <app-title class="retreat-preview__infos__details__item__title" [level]="8" text="{{'retreat-preview.address' | translate}}"></app-title>
        <app-title [level]="9" [text]="retreat.getAddress()"></app-title>
      </div>
      <div class="retreat-preview__infos__details__item">
        <app-title class="retreat-preview__infos__details__item__title" *ngIf="!retreat.isSameDay" [level]='8' text="{{'retreat-preview.dates' | translate}}"></app-title>
        <app-title class="retreat-preview__infos__details__item__title" *ngIf="retreat.isSameDay" [level]='8' text="{{'retreat-preview.date' | translate}}"></app-title>
        <ul *ngIf="!retreat.isSameDay">
          <li *ngFor="let date of retreat.dates"><app-title [level]="9" [text]="date.getDateInterval()"></app-title></li>
        </ul>
        <ng-container *ngIf="retreat.isSameDay">
          <app-title *ngFor="let date of retreat.dates" [level]="9" [text]="date.getDateInterval()"></app-title>
        </ng-container>
      </div>
      <!--
      <div class="retreat-preview__infos__details__item">
        <app-title class="retreat-preview__infos__details__item__title" [level]="8" text="Toilettes"></app-title>
        <app-title [level]="9" text="# Genrees"></app-title>
      </div>
      -->
      <div class="retreat-preview__infos__details__item" *ngIf="!retreat.type.is_virtual">
        <app-title class="retreat-preview__infos__details__item__title" [level]="8" text="{{'retreat-preview.Accessibility' | translate}}"></app-title>
        <app-title *ngIf="retreat.accessibility_detail" [level]="9" [text]="retreat.accessibility_detail"></app-title>
        <app-title *ngIf="!retreat.accessibility_detail" [level]="9" text="-"></app-title>
      </div>
      <!--
      <div class="retreat-preview__infos__details__item">
        <app-title class="retreat-preview__infos__details__item__title" [level]="8" text="Options de repas"></app-title>
        <app-title [level]="9" text="# Options vege, vegan, sans gluten, etc.."></app-title>
      </div>
      -->
      <div class="retreat-preview__infos__details__item" *ngIf="retreat.details">
        <app-title class="retreat-preview__infos__details__item__title" [level]="8" text="{{'retreat-preview.other_informations' | translate}}"></app-title>
        <app-title [level]="9" [text]="retreat.details"></app-title>
      </div>
    </div>
  </div>

  <app-alert type="success" *ngIf="existingReservation" [messages]="['retreat-preview.already_registered_retreat' | translate]"></app-alert>
  <app-alert type="success" *ngIf="existingWaitingQueue" [messages]="['retreat-preview.already_registered_queue' | translate]"></app-alert>
  <app-alert type="warning"
             *ngIf="!existingReservation && !existingWaitingQueue && availablePlace <= 0"
             [messages]="['retreat-preview.room_no_available_retreat' | translate]"></app-alert>

  <app-button class="retreat-preview__button"
              text="{{'retreat-preview.to_register' | translate}}"
              (onClick)="subscribeToRetreat()"
              *ngIf="displaySubscribeButton && canSubscribe()"></app-button>

  <app-button class="retreat-preview__button"
              text="{{'retreat-preview.Waiting_list' | translate}}"
              (onClick)="subscribeToQueue()"
              *ngIf="display_wait_queue_button"></app-button>
</div>

<app-nt-modal name="waiting-list-success"
              typeModal="success"
              [displayButtons]="false"
              maxWidth="600px"
              [autoClose]="true">
  <p>
    {{ 'retreat-list-item.notifications.subscribe_waiting_list.success.content' | translate:{position: this.positionInList} }}
  </p>
</app-nt-modal>
