@import '../../assets/scss/theme';

.retirement-cart {
  padding: 40px;
  height: 100%;
  overflow-y: auto;

  &__step {
    border: solid $border-calendar;
    border-width: 0 1px 1px 1px;

    &--no-border {
      border: none;
      margin-top: 20px;
    }

    &:first-child {
      border-top-width: 1px;
    }

    &__title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 30px;

      &__action {
        &__icon {
          width: 20px;
        }
      }
    }

    &__content {
      padding: 30px;
      border-top: 1px solid $border-calendar;

      &__section {
        margin-top: 30px;
      }
    }
  }
}

@media only screen and (max-width: 1100px) {
  .retirement-cart {
    height: inherit;
    overflow-y: visible;
  }
}

@media only screen and (max-width: 430px) {
  .retirement-cart {
    padding: 10px;
  }
}
