<div class="retirement-cart">
  <div class="retirement-cart__step">
    <div class="retirement-cart__step__title" (click)="toggleStep(1)">
      <div class="retirement-cart__step__title__text nt-title">
        1. {{ 'retirement-cart.connexion.title' | translate }}
      </div>
      <div class="retirement-cart__step__title__action">
        <i [class]="getIconForStep(1)"></i>
      </div>
    </div>
    <div class="retirement-cart__step__content" *ngIf="currentStep===1 || stepOpened.indexOf(1) > -1">
      <div *ngIf="!isAuthenticated()">
        <app-alert type="text-warning">
          {{ 'retirement-cart.connexion.warning' | translate }}
        </app-alert>
        <app-login-form [centered]="true" [registerLink]="true"></app-login-form>
      </div>
      <div *ngIf="isAuthenticated()">
        <app-alert type="success">{{ 'retirement-cart.connexion.success' | translate }}</app-alert>
      </div>
    </div>
  </div>

  <div class="retirement-cart__step">
    <div class="retirement-cart__step__title" (click)="toggleStep(2)">
      <div class="retirement-cart__step__title__text nt-title">
        2. {{ 'retirement-cart.membership.title' | translate }}
      </div>
      <div class="retirement-cart__step__title__action">
        <i [class]="getIconForStep(2)"></i>
      </div>
    </div>
    <div class="retirement-cart__step__content" *ngIf="currentStep===2 || stepOpened.indexOf(2) > -1">
      <div *ngIf="!haveMembership()">
        <app-alert type="text-warning">
          {{ 'retirement-cart.membership.warning' | translate }}
        </app-alert>

        <p class="retirement-cart__step__content__section">
          *{{ 'retirement-cart.membership.details' | translate }} <a href="mailto:info@thesez-vous.com">info@thesez-vous.com</a>.
        </p>
        <div class="retirement-cart__step__content__section form-group">
          <label class="nt-form-label">
            {{ 'retirement-cart.membership.labels.membership' | translate }}
            <a target="_blank" href="http://www.thesez-vous.com/membre.html">
              <i class="icon icon-question-circle-reverse icon--2x"></i>
            </a>
          </label>
          <select class="nt-form-input nt-form-input--select" [(ngModel)]="selectedMembership" [disabled]="haveMembership()">
            <option value="" disabled>{{ 'retirement-cart.membership.placeholders.membership' | translate }}</option>
            <option *ngFor="let membership of memberships" [value]="membership.id">{{membership.name}}</option>
          </select>
        </div>
        <p class="retirement-cart__step__content__section">
          <button class="nt-button" (click)="selectMembership()" [disabled]="!selectedMembership || haveMembership()">
            {{ 'retirement-cart.membership.save' | translate }}
          </button>
        </p>
      </div>
      <app-alert type="success" *ngIf="haveMembership()">
        {{ 'retirement-cart.membership.success' | translate }}
      </app-alert>
    </div>
  </div>

  <div class="retirement-cart__step">
    <div class="retirement-cart__step__title" (click)="toggleStep(3)">
      <div class="retirement-cart__step__title__text nt-title">
        3. {{ 'retirement-cart.infos.title' | translate }}
      </div>
      <div class="retirement-cart__step__title__action">
        <i [class]="getIconForStep(3)"></i>
      </div>
    </div>
    <div class="retirement-cart__step__content" *ngIf="currentStep===3 || stepOpened.indexOf(3) > -1">
      <app-alert type="text-warning" *ngIf="!personalInformationFormIsValid()">
        {{ 'retirement-cart.infos.warning' | translate }}
      </app-alert>
      <app-alert type="success" *ngIf="personalInformationFormIsValid()">
        {{ 'retirement-cart.infos.success' | translate }}
      </app-alert>

      <app-form [form]="personalInformationForm" [fields]="personalInformationFields" [errors]="personalInformationErrors"></app-form>

      <button class="retirement-cart__step__content__section nt-button" (click)="submitPersonalInformation()">
        {{ 'retirement-cart.infos.save' | translate }}
      </button>
    </div>
  </div>

  <div class="retirement-cart__step">
    <div class="retirement-cart__step__title" (click)="toggleStep(4)">
      <div class="retirement-cart__step__title__text nt-title">
        4. {{ 'retirement-cart.grants.title' | translate }}
        <a target="_blank" href="http://www.thesez-vous.com/bourses-et-financement.html">
          <i class="icon icon-question-circle-reverse icon--5x"></i>
        </a>
      </div>
    </div>
    <div class="retirement-cart__step__content" *ngIf="currentStep===5 && stepOpened.indexOf(4) > -1">
      <div *ngIf="!cart.getCoupons().length">
        <p>
          {{ 'retirement-cart.grants.info_intro' | translate }}
        </p>
        <app-form [form]="universityForm" [fields]="universityFields" [errors]="universityErrors"></app-form>

        <button class="retirement-cart__step__content__section nt-button" [disabled]="!canAddAGrant()" (click)="submitUniversityInformation()">
          {{ 'retirement-cart.grants.apply' | translate }}
        </button>
      </div>
      <app-alert type="success" *ngIf="cart.getCoupons().length">
        {{ 'retirement-cart.grants.success' | translate }}
      </app-alert>
    </div>
  </div>

  <div class="retirement-cart__step retirement-cart__step--no-border">
    <div class="retirement-cart__step__title">
      <div class="retirement-cart__step__title__text nt-title">
        5. {{ 'retirement-cart.cart.title' | translate }}
      </div>
    </div>
    <div class="retirement-cart__step__content" *ngIf="cart.isEmpty()">
      {{ 'retirement-cart.cart.no_retirement_selected' | translate }}
    </div>
    <div class="retirement-cart__step__content" *ngIf="!cart.isEmpty()">
      <app-cart-summary [cart]="cart"></app-cart-summary>
      <div class="retirement-cart__step__content__section">
        <app-cart-payment></app-cart-payment>
      </div>
      <div class="retirement-cart__step__content__section">
        <button class="nt-button" [disabled]="this.currentStep !== 5 || !havePaymentMethod()" (click)="openModalSummaryPayment()">
          {{ 'retirement-cart.pay' | translate }}
        </button>
      </div>
    </div>
  </div>
</div>

<app-nt-modal name="summary_payment"
              button2Label="Confirmer"
              maxWidth="600px"
              title="Paiement"
              (button2)="submitOrder()">
  <div class="modal-summary-payment">
    <app-cart-summary [cart]="cart"></app-cart-summary>
    <app-alert type="danger" [messages]="errorOrder" *ngIf="errorOrder"></app-alert>
  </div>
</app-nt-modal>
