.register-page {
  display: flex;
  justify-content: center;

  &__content {
    margin-top: 50px;
    border: 2px solid lightgrey;
    padding: 20px;
    margin-bottom: 100px;
    width: 600px;

    &__header {
      text-align: center;
    }

    &__form {
      &__birthday {
        display: flex;

        &__item {
          padding-right: 20px;

          &:last-child {
            padding-right: 0;
          }
        }
      }
    }

    &__actions {
      margin-top: 40px;
      display: flex;
      justify-content: space-between;
    }
  }
}
