@import '../../../../assets/scss/theme';

.register-page {
  background-color: $nt-background-color-light;
  max-width: 600px;
  margin: 0 20px;
  padding: 40px;

  &__form {
    &__content {
      &__form {
        &__inline {
          display: flex;

          &__gender {
            margin-left: 10px;
            flex: 1;
          }
        }
      }

      &__actions {
        margin-top: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__main {
          flex: 1;
          text-align: center;
        }
      }

      &__error {
        margin-top: 20px;
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .register-page {
    padding: 20px;

    &__form {

      &__content {
        &__form {
          &__inline {
            flex-direction: column;

            &__gender {
              margin-left: 0;
            }
          }
        }

        &__actions {
          flex-direction: column-reverse;
          align-items: start;

          &__item {
            margin-top: 20px;
            width: 100%;
            text-align: left;
          }
        }
      }
    }
  }
}
