@import '../../../../assets/scss/theme';

.card-payment {
  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__text {
      font-size: 20px;
      font-weight: 900;
    }
  }

  &__alert {
    display: block;
    margin: 20px 0;
  }

  &__cards {
    display: flex;
    flex-direction: column;
  }

  &__form {
    margin-top: 20px;
  }

  &__action {
    margin-top: 30px;
  }
}
