<div class="card-payment">
  <div class="card-payment__cards">
    <app-title [level]="7" type="label" for="card" [text]="'cart-payment.credit_card' | translate"></app-title>
    <app-title [level]="9" [text]="'cart-payment.select_a_card' | translate"></app-title>
    <select id="card" [(ngModel)]="paymentCard" class="nt-form-input nt-form-input--select" (change)="setCard()">
      <option disabled value="">
        {{ 'cart-payment.select_default_choice' | translate }}
      </option>
      <option *ngFor="let card of listCards" [value]="card.payment_token">
        **** **** **** {{ card.last_digits }} ({{card.card_expiry.month}}/{{card.card_expiry.year}})
      </option>
    </select>
  </div>
  <app-link class="card-payment__action"
            (click)="toggleFormNewCard()"
            [text]="'cart-payment.add_a_new_credit_card' | translate"></app-link>
</div>

<app-nt-modal name="new-card"
              [button2Label]="'cart-payment.new_card_modal.submit_button' | translate"
              maxWidth="800px"
              [title]="'cart-payment.new_card_modal.title' | translate"
              [displayButtons]="false">
  <div class="card-payment-modale">
    <app-paysafe-form (singleUseToken)="setSingleUseToken($event)"></app-paysafe-form>
  </div>
</app-nt-modal>
