<app-loader *ngIf="!timeslot"></app-loader>

<div class="admin-timeslot-page" *ngIf="timeslot">
  <div class="admin-timeslot-page__title">
    <h2 class="nt-title">Bloc de rédaction / #{{ timeslot.id }}</h2>
  </div>
  <ul>
    <li>Début du bloc de rédaction: {{ timeslot.getStartDay() }} a {{ timeslot.getStartTime() }}</li>
    <li>Fin du bloc de rédaction: {{ timeslot.getStartDay() }} a {{ timeslot.getEndTime() }}.</li>
    <li>Espace de travail: <a routerLink="/admin/workplaces/{{timeslot.workplace.id}}">{{ timeslot.workplace.name }}</a></li>
  </ul>
  <div class="admin-timeslot-page__table">
    <app-my-table [settings]="settings"
                  [data]="listReservations"
                  (selectItem)="goToUser($event)">
    </app-my-table>
  </div>
</div>
