<app-loader *ngIf="!timeslot"></app-loader>

<div class="admin-timeslot-page" *ngIf="timeslot">
  <div class="admin-timeslot-page__title">
    <h2 class="nt-title">Bloc de rédaction / #{{ timeslot.id }}</h2>
  </div>
  <div class="admin-timeslot-page__header">
    <div>
      <a class="ng-link" routerLink="/admin/workplaces/{{ timeslot.workplace.id }}">Retour à l'espace de travail</a>
    </div>
    <div class="admin-timeslot-page__header__date">
      <app-calendar-icon class="admin-timeslot-page__header__date__item" [date]="timeslot.start_time">
      </app-calendar-icon>
      <div class="admin-timeslot-page__header__date__item admin-timeslot-page__header__date__item--times">
        <div class="admin-timeslot-page__header__date__item--times__hours">
          {{timeslot.getStartTime()}}
        </div>
        <i class="fas fa-angle-double-down"></i>
        <div class="admin-timeslot-page__header__date__item--times__hours">
          {{timeslot.getEndTime()}}
        </div>
      </div>
    </div>
  </div>
  <div class="admin-timeslot-page__table">
    <app-my-table [settings]="settings"
                  [data]="listReservations"
                  (selectItem)="goToUser($event)"
                  (editItem)="editReservation($event)">
    </app-my-table>
  </div>
</div>

<app-nt-modal name="reservation_edition"
              typeModal="boolean"
              maxWidth="600px"
              title="Modifier une présence"
              (button1)="submitReservation(true)"
              (button2)="submitReservation(false)">

  <p *ngIf="selectedReservation">
    Est-ce que {{selectedReservation.first_name}} {{selectedReservation.last_name}} était
    présent dans l'espace lors du bloc de rédaction ?
  </p>
</app-nt-modal>

