<div class="retreat-tutorial">
  <div class="retreat-tutorial__title nt-title">
    {{ 'retreat-tutorial.inscription' | translate }}
  </div>
  <div class="retreat-tutorial__content">
    <p>
      {{ 'retreat-tutorial.introduction' | translate }}
    </p>

    <ol class="retreat-tutorial__content__list">
      <li>{{ 'retreat-tutorial.text_1' | translate }}</li>
      <li>{{ 'retreat-tutorial.text_2' | translate }}</li>
      <li>{{ 'retreat-tutorial.text_3' | translate }}</li>
      <li>{{ 'retreat-tutorial.text_4' | translate }}</li>
      <li>{{ 'retreat-tutorial.text_5' | translate }}</li>
      <li>{{ 'retreat-tutorial.text_6' | translate }}</li>
      <li>{{ 'retreat-tutorial.text_7' | translate }}</li>
    </ol>
  </div>
  <a class="retreat-tutorial__link nt-link" target="_blank" href="http://www.thesez-vous.com/questcequuneretraite.html">
    {{ 'retreat-tutorial.link' | translate }}
  </a>
  <div class="retreat-tutorial__actions">
    <a class="retreat-tutorial__actions__next nt-button" (click)="closeTutorial()">
      {{ 'retreat-tutorial.next' | translate }}
    </a>
    <a class="retreat-tutorial__actions__cancel nt-link" routerLink="/">
      {{ 'retreat-tutorial.cancel' | translate }}
    </a>
  </div>
  <div class="retreat-tutorial__politics">
    Politique d'annulation :
    Toute annulation de participation doit être communiquée par écrit à l'adresse suivante :
    info@thesez-vous.com. Des frais de gestion équivalent à 10% du prix de la retraite payé par
    le ou la participant.e ayant annulé sont applicables. Le ou la participant.e ayant annulé sera
    remboursé à la hauteur de 90% du prix payé uniquement si son annulation a eu lieu plus de 7
    jours ouvrables précédant le début de la retraite. Thèsez-vous se réserve le droit d'annuler
    ou de déplacer une retraite si le nombre d'inscriptions est insuffisant.
  </div>
</div>
