.button {
  padding: 5px 10px;
  color: $color-main;
  background-color: white;
  border: 1px solid $color-main;
  border-radius: 15px;
  text-decoration: none;

  &:hover {
    background-color: $color-main;
    color: white;
    cursor: pointer;
  }
}

.button-icon {
  border: 2px solid $color-main;
  margin: 10px 0;
  text-decoration: none;
  color: $color-main;
  background-color: inherit;
  transition: all $ease-inout-sine 300ms;
  text-align: center;
  display: flex;
  align-items: center;

  &:hover {
    background-color: $color-main;
    color: white;
    cursor: pointer;
  }

  &__text {
    border-right: 2px solid $color-main;
    padding: 10px;
    flex: 1;
  }

  &__icon {
    padding: 10px;
  }

  &--color-reverse {
    color: white;
    border-color: white;

    &:hover {
      background-color: white;
      color: $color-main;
    }

    .button-icon__text {
      border-right: 2px solid white;
    }
  }

  &--reverse {
    &__text {
      border-left: 2px solid $color-main;
      border-right: none;
    }
  }

  &--full-width {
    width: 100%;
  }

  &--main {
    background-color: $color-main;
    color: white;

    &:hover {
      background-color: white;
      color: $color-main;
    }
  }
}
