.button {
  padding: 5px 10px;
  color: $nt-text;
  background-color: white;
  border: 1px solid $nt-text;
  border-radius: 15px;
  text-decoration: none;
  display: inline-block;

  &:hover {
    background-color: $nt-text;
    color: white;
    cursor: pointer;
  }

  &--danger {
    color: $color-danger-text;
    border-color: $color-danger-text;

    &:hover {
      background-color: $color-danger-text;
    }
  }
}
