.nt-button {
  background-color: $nt-text;
  color: $nt-background-color;
  padding: 15px 30px;
  border: 1px solid $nt-text;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-weight: bold;
  transition: all $ease-inout-sine 300ms;
  line-height: 15pt;
  text-align: center;
  font-size: 11pt;
  min-width: 170px;

  &:hover {
    color: $nt-text;
    background-color: transparent;
    cursor: pointer;
  }

  &--reverse {
    background-color: transparent;
    color: $nt-text;
    border: 1px solid $nt-text;

    &:hover {
      color: $nt-background-color;
      background-color: $nt-text;
    }
  }

  &:disabled {
    background-color: $nt-0;
    color: grey;
    cursor: not-allowed;
  }
}
