.nt-button {
  background-color: $nt-text;
  color: white;
  border-radius: 25px;
  padding: 15px 30px;
  border: 1px solid $nt-text;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-weight: bold;
  transition: all $ease-inout-sine 300ms;
  line-height: 15pt;
  text-align: center;
  font-size: 11pt;
  min-width: 170px;
  font-family: $font-family;

  &:hover {
    color: $nt-text;
    background-color: transparent;
    cursor: pointer;
  }

  &--full-width {
    width: 100%;
  }

  &--reverse {
    background-color: transparent;
    color: $nt-text;
    border: 1px solid $nt-text;

    &:hover {
      color: $nt-background-color;
      background-color: $nt-text;
    }
  }

  &:disabled, &--disabled{
    background-color: $nt-0;
    border-color: $nt-0;
    color: grey;

    &:hover {
      color: grey;
      background-color: $nt-0;
      border-color: $nt-0;
      cursor: not-allowed;
    }
  }

  &--success {
    background-color: $button-success-background;
    color: $button-success-text;

    &:hover {
      color: darken($button-success-text, 10);
      background-color: darken($button-success-background, 10);
    }
  }

  &--danger {
    background-color: $nt-9;
    border-color: $nt-9;
    color: white;

    &:hover {
      color: $nt-9;
      background-color: transparent;
    }
  }
}
