.nt-link {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  color: $nt-text;
  text-decoration: underline;
  display: inline-block;

  &:hover {
    text-decoration: none;
  }
}
