<div class="forgot-password-confirmation-page">
  <div class="forgot-password-confirmation-page__content">
    <div class="forgot-password-confirmation-page__content__icon">
      <i class="fas fa-envelope-open"></i>
    </div>
    <div class="forgot-password-confirmation-page__content__title">
      Un courriel de verification viens de vous etre envoye!
    </div>
    <div class="forgot-password-confirmation-page__content__sub-title">
      Verifier vos courriels pour reinitialiser votre mot de passe.
    </div>
  </div>
</div>
