@import '../../../../assets/scss/theme';

.forgot-password-confirmation-page {
  background-color: $nt-background-color-light;
  max-width: 600px;
  margin: 0 20px;
  padding: 40px;

  &__sub-title {
    margin-top: 40px;
    font-size: 16px;
  }
}
