<div class="admin-organizations-page">
  <div class="admin-organizations-page__table">
    <app-my-table [settings]="settings"
                  [data]="listOrganizations"
                  (addButton)="OpenModalCreateOrganization()"
                  (editItem)="OpenModalEditOrganization($event)"
                  (removeItem)="removeOrganization($event)"
                  (selectItem)="goToOrganization($event)"
                  (changePage)="changePage($event)">
    </app-my-table>
  </div>
</div>

<app-nt-modal name="form_organizations"
              typeModal="success"
              (button2)="submitOrganization()"
              maxWidth="600px">
  <app-form [fields]="fields" [form]="organizationForm" [errors]="organizationErrors"></app-form>
</app-nt-modal>
