<div class="export-page">
  <div class="export-page__list">
    <div class="export-page__list__title" (click)="exportUser()">
      {{ 'export.page_title' | translate }}
    </div>

    <div class="export-page__list__item" *ngFor="let type of exports" (click)="export(type.code)">
      <i class="export-page__list__item__icon {{type.icon}}"></i>
      <div class="export-page__list__item__name">
        {{ type.name | translate }}
      </div>
    </div>

  </div>
  <div class="export-page__content">
    <h1 class="nt-title" *ngIf="!selectedExport">
      {{ 'export.title' | translate }}
    </h1>
    <h1 class="nt-title" *ngIf="selectedExport">
      {{ selectedExport.name }}
    </h1>
    <h1 class="nt-title" *ngIf="!selectedExport">
      {{ 'export.title' | translate }}
    </h1>
    <div *ngIf="numberOfPages.length === 0">
      {{ 'export.welcome_message' | translate }}
    </div>
    <div *ngIf="numberOfPages.length != 0">
      {{ 'export.help_message' | translate }}
    </div>
    <div class="export-page__content__list" *ngIf="numberOfPages.length != 0">
      <div class="export-page__content__list__page" *ngFor="let page of numberOfPages" (click)="export(selectedExport.code, page + 1)">
        <div>
          {{ (page * limit) +1 }}
        </div>
        <div>
          -
        </div>
        <div>
          {{ (page+1) * limit }}
        </div>
      </div>
    </div>
  </div>
</div>
