<div class="export-page">
  <h1 class="export-page__title nt-title">
    Export
  </h1>

  <div class="export-page__list">
    <div class="export-page__list__item" (click)="exportUser()">
      <i class="export-page__list__item__icon fa fa-users"></i>
      <div class="export-page__list__item__name">
        Utilisateurs
      </div>
    </div>

    <div class="export-page__list__item" (click)="exportOrder()">
      <i class="export-page__list__item__icon fas fa-file-invoice-dollar"></i>
      <div class="export-page__list__item__name">
        Commandes
      </div>
    </div>

    <div class="export-page__list__item" (click)="exportPackage()">
      <i class="export-page__list__item__icon fas fa-hand-holding-usd"></i>
      <div class="export-page__list__item__name">
        Forfaits
      </div>
    </div>

    <div class="export-page__list__item" (click)="exportMembership()">
      <i class="export-page__list__item__icon fas fa-address-card"></i>
      <div class="export-page__list__item__name">
        Memberships
      </div>
    </div>

    <div class="export-page__list__item" (click)="exportOrganization()">
      <i class="export-page__list__item__icon fas fa-university"></i>
      <div class="export-page__list__item__name">
        Universités
      </div>
    </div>

    <div class="export-page__list__item" (click)="exportPeriod()">
      <i class="export-page__list__item__icon far fa-calendar-alt"></i>
      <div class="export-page__list__item__name">
        Périodes
      </div>
    </div>

    <div class="export-page__list__item" (click)="exportTimeslot()">
      <i class="export-page__list__item__icon far fa-clock"></i>
      <div class="export-page__list__item__name">
        Blocs de rédaction
      </div>
    </div>

    <div class="export-page__list__item" (click)="exportReservation()">
      <i class="export-page__list__item__icon far fa-calendar-check"></i>
      <div class="export-page__list__item__name">
        Réservations
      </div>
    </div>

    <div class="export-page__list__item" (click)="exportAcademicLevel()">
      <i class="export-page__list__item__icon fa fa-graduation-cap"></i>
      <div class="export-page__list__item__name">
        Niveaux d'études
      </div>
    </div>

    <div class="export-page__list__item" (click)="exportAcademicField()">
      <i class="export-page__list__item__icon fa fa-graduation-cap"></i>
      <div class="export-page__list__item__name">
        Domaines d'études
      </div>
    </div>

    <div class="export-page__list__item" (click)="exportWorkplace()">
      <i class="export-page__list__item__icon fas fa-building"></i>
      <div class="export-page__list__item__name">
        Espaces
      </div>
    </div>
  </div>
</div>
