<div class="membership-confirmation-page">
  <div class="membership-confirmation-page__nav">
    <app-nt-wizzard [items]="menu" [active]="menuActive"></app-nt-wizzard>
  </div>
  <div class="membership-confirmation-page__content" *ngIf="success">
    <div>
      <h2 class="nt-title">
        Confirmé
      </h2>
    </div>
    <div class="membership-confirmation-page__content__text">
      <p>
        Votre adresse courriel est confirmée.
      </p>
      <p>
        Attention! Votre inscription n'est pas encore completée.
      </p>
    </div>
    <div class="membership-confirmation-page__content__actions">
      <div class="membership-confirmation-page__content__actions__item membership-confirmation-page__content__actions__item--main">
        <a routerLink="/" class="nt-link">Annuler</a>
      </div>
      <div>
        <a routerLink="/membership/subscription" class="membership-confirmation-page__content__actions__item nt-button">
          Suivant
        </a>
      </div>
    </div>
  </div>
  <div class="membership-confirmation-page__content" *ngIf="success === false">
    <div>
      <h2 class="nt-title">
        Echec de la confirmation
      </h2>
    </div>
    <div class="membership-confirmation-page__content__text">
      Vérifiez que le profil n'ait pas déjà été activé, si ce n'est
      pas le cas n'hésitez pas à contacter l'équipe d'administration.
    </div>
    <div class="membership-confirmation-page__content__actions">
      <div>
        <a routerLink="/login" class="nt-link">
          Se rendre sur la page de connexion
        </a>
      </div>
    </div>
  </div>
</div>
