<div class="membership-confirmation-page">
  <div class="membership-confirmation-page__nav">
    <app-nt-wizzard [active]="menuActive"></app-nt-wizzard>
  </div>
  <div class="membership-confirmation-page__content" *ngIf="success">
    <div>
      <h2 class="nt-title">
        {{ 'membership-confirmation.success_title' | translate }}
      </h2>
    </div>
    <div class="membership-confirmation-page__content__text">
      <p>
        {{ 'membership-confirmation.success_text_1' | translate }}
      </p>
      <p>
        {{ 'membership-confirmation.success_text_2' | translate }}
      </p>
    </div>
    <div class="membership-confirmation-page__content__actions">
      <div class="membership-confirmation-page__content__actions__item membership-confirmation-page__content__actions__item--main">
        <a routerLink="/" class="nt-link">{{ 'shared.buttons.cancel' | translate }}</a>
      </div>
      <div>
        <a routerLink="/membership/subscription" class="membership-confirmation-page__content__actions__item nt-button">
          {{ 'shared.buttons.next' | translate }}
        </a>
      </div>
    </div>
  </div>
  <div class="membership-confirmation-page__content" *ngIf="success === false">
    <div>
      <h2 class="nt-title">
        {{ 'membership-confirmation.fail_title' | translate }}
      </h2>
    </div>
    <div class="membership-confirmation-page__content__text">
      {{ 'membership-confirmation.fail_text' | translate }}
    </div>
    <div class="membership-confirmation-page__content__actions">
      <div>
        <a routerLink="/login" class="nt-link">
          {{ 'membership-confirmation.fail_button' | translate }}
        </a>
      </div>
    </div>
  </div>
</div>
