<div class="hidden-retreat">
  <div class="hidden-retreat__main">
    <div class="hidden-retreat__main__content">
      <app-loader *ngIf="!retreat">
      </app-loader>
      <app-retreat-preview class="hidden-retreat__main__content__retreat"
                           *ngIf="retreat"
                           [retreat]="this.retreat"
                           [invitation]="this.invitation"
                           [displaySubscribeButton]="true"
                           (subscribe)="subscribe()"></app-retreat-preview>
      <div class="hidden-retreat__main__content__info">
        <app-title [level]="4" text="Une retraite Thesez-vous, c'est quoi ?"></app-title>
        <app-title class="hidden-retreat__main__content__info__subtitle" [level]="6" text="L’hébergement, les repas et l’horaire sont pris en charge, il ne vous reste qu’à rédiger!"></app-title>
        <app-title class="hidden-retreat__main__content__info__text" [level]="8" text="Une retraite Thèsez-vous, c’est trois jours durant lesquels on combine plus de 20h de rédaction productive,
        des ateliers, des activités pour s’aérer l’esprit et des occasions de partager des ressources avec des
        étudiant.e.s de toutes les disciplines et de toutes les universités du Québec."></app-title>
        <app-button class="hidden-retreat__main__content__info__button" text="Exemple d'horaire" [type]="2"></app-button>
      </div>
    </div>
  </div>
  <app-product-selector-panel *ngIf="displayedPanel === 'product-selector'"
                              class="hidden-retreat__panel"
                              [product]="retreat"
                              (close)="closePanel()"
                              (addToCart)="addToCart()">
  </app-product-selector-panel>
  <app-authentication-panel *ngIf="displayedPanel === 'authentication'"
                            class="hidden-retreat__panel"
                            (close)="closePanel()"
                            (onAuthentication)="subscribe()">
  </app-authentication-panel>
  <app-cart-panel *ngIf="displayedPanel === 'cart'"
                  class="hidden-retreat__panel"
                  [cart]="cart"
                  (close)="closePanel()"
                  (finalize)="finalize()">
  </app-cart-panel>
</div>
