<div class="hidden-retreat">
  <div class="hidden-retreat__main">
    <div class="hidden-retreat__main__content">
      <app-loader *ngIf="!retreat">
      </app-loader>
      <div *ngIf="retreat && coupon"
           class="hidden-retreat__main__content__coupon_info">
        <app-alert [type]="'success'">
          {{'hidden-retreat.alert_success' | translate: ({
          code: coupon.code,
          value: coupon.getValue(),
          typeValue: coupon.getLabelledTypeOfValue()
        })}}
        </app-alert>
      </div>
      <app-retreat-preview class="hidden-retreat__main__content__retreat"
                           *ngIf="retreat"
                           [retreat]="retreat"
                           [invitation]="invitation"
                           [displaySubscribeButton]="true"
                           (subscribe)="subscribe()"></app-retreat-preview>
      <div class="hidden-retreat__main__content__info">
        <app-title [level]="4" text="{{'hidden-retreat.alert_success_title_1' | translate}}"></app-title>
        <app-button class="hidden-retreat__main__content__info__button"
                    text="{{'hidden-retreat.alert_success_btn' | translate}}" [type]="2"
                    (click)="redirectToRetreatInfo()"></app-button>
      </div>
    </div>
  </div>
</div>
