<div class="retirement-reservation">
  <div class="retirement-reservation__title">
    <div class="retirement-reservation__title__text">
    {{ 'retirement-reservation.title' | translate }}
    </div>
  </div>
  <div class="retirement-reservation__content">
    <app-retirement-tutorial *ngIf="displayTutorial" (close)="closeTutorial()"></app-retirement-tutorial>

    <div *ngIf="!displayTutorial" class="retirement-reservation__content__list">
      <div class="retirement-reservation__content__list__go-to-cart" *ngIf="currentView === 'list'">
        <div>
          1 {{ 'retirement-reservation.selected_retirement' | translate }}
        </div>
        <button class="nt-button" (click)="changeCurrentView('cart')">
          {{ 'retirement-reservation.see_cart' | translate }}
        </button>
      </div>

      <div class="retirement-reservation__content__list__go-to-list" *ngIf="currentView === 'cart'">
        <a class="retirement-reservation__content__list__go-to-list__link nt-link" (click)="changeCurrentView('list')">
          <img class="retirement-reservation__content__list__go-to-list__link__icon" src="../../assets/images/icons/icon_left_arrow.svg">

          {{ 'retirement-reservation.back_to_list' | translate }}
        </a>
      </div>

      <app-retirement-list [ngClass]="{'retirement-reservation__content__list__retirements--responsive': currentView === 'list'}"
                           class="retirement-reservation__content__list__retirements"></app-retirement-list>
      <app-retirement-cart [ngClass]="{'retirement-reservation__content__list__cart--responsive': currentView === 'cart'}"
                           class="retirement-reservation__content__list__cart"></app-retirement-cart>
    </div>
  </div>
</div>
