@import '../../assets/scss/theme';

.retirement-reservation {
  display: flex;
  min-height: 100vh;

  &__title {
    width: 150px;
    display: inline-block;
    background-color: $nt-14;
    color: $nt-2;

    &__top {
      min-height: 100vh;
      position: relative;

      &__text {
        text-transform: uppercase;
        font-size: 30px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%) rotate(-90deg);
        width: 100vh;
        text-align: center;
        white-space: normal;
        line-height: 35px;
      }
    }
  }

  &__content {
    flex: 1;
    min-height: 100vh;

    &__list {
      display: flex;
      height: 100%;

      & > * {
        width: 100%;
      }

      &__go-to-list {
        display: none;
        margin: 20px;

        &__link {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          padding: 20px 10px;

          &__icon {
            width: 20px;
            margin-right: 20px;
          }
        }
      }

      &__go-to-cart {
        display: none;
        justify-content: space-between;
        align-items: center;
        background-color: $nt-10;
        padding: 20px 10px;
      }
    }
  }
}

@media only screen and (max-width: 1100px) {
  .retirement-reservation {
    height: inherit;
    min-height: 100vh;

    &__title {
      display: none;
    }

    &__content {

      &__list {
        display: flex;
        flex-direction: column;
        align-items: stretch;

        &__go-to-list {
          display: flex;
        }

        &__go-to-cart {
          display: flex;
        }

        &__retirements {
          display: none;

          &--responsive {
            display: block;
          }
        }

        &__cart {
          display: none;

          &--responsive {
            display: block;
          }
        }
      }
    }
  }
}
