<app-loader *ngIf="!user"></app-loader>

<div class="user-page" *ngIf="user">
  <div class="user-page__header">
    <div class="user-page__header__informations">
      <div class="user-page__header__informations__name">
        {{ user.first_name }} {{ user.last_name }}
      </div>
      <div class="user-page__header__informations__email">
        <i class="fas fa-envelope"></i> {{ user.email }}<br/>
      </div>
      <div class="user-page__header__informations__email" *ngIf="user.is_superuser">
        <i class="fas fa-user-shield"></i> Administrateur
      </div>
      <div class="user-page__header__informations__university" *ngIf="user.university">
        {{ user.university.name }}<br/>
        {{ user.academic_level.name }} ({{ user.academic_field.name }})
      </div>
    </div>
    <div class="user-page__header__right">
      <div class="user-page__header__right__status">
        <div class="user-page__header__right__status__main">
          {{user.tickets || 0}}
        </div>
        ticket(s) disponible(s)
      </div>
      <div class="user-page__header__right__status" *ngIf="user.membership_end">
        <div class="user-page__header__right__status__main">
          {{ user.getTimeBeforeEndMembership() }}
        </div>
        jours restants<br/>
        (Membership {{ user.membership.name }})
      </div>
    </div>
  </div>
  <div class="user-page__navbar">
    <a class="button" (click)="openModalUserEdition()">
      <i class="fas fa-pencil-alt"></i>
      Éditer l'utilisateur
    </a>
  </div>
  <div class="user-page__reservations">
    <app-my-table [settings]="settings"
                  [data]="listReservations"
                  (selectItem)="goToTimeslot($event)">
    </app-my-table>
  </div>
  <div class="user-page__cards">
    <app-my-table [settings]="settingsCard"
                  [data]="listCards">
    </app-my-table>
  </div>
  <div class="user-page__custom-payments">
    <app-my-table [settings]="settingsCustomPayment"
                  [data]="listCustomPayments"
                  (addButton)="openModalCustomPayment()">
    </app-my-table>
  </div>
</div>

<app-nt-modal name="timeslot_deleted"
              typeModal="success"
              maxWidth="600px"
              title="Plage horaire supprimé"
              button2Label="J'ai compris!"
              [autoClose]="true">
  <p>
    La réservation que vous venez de sélectionner a été annulé car la plage horaire a été supprimé. Nous ne pouvons donc pas vous rediriger vers ladite plage horaire.
  </p>
</app-nt-modal>

<app-nt-modal name="add_custom_payment"
              typeModal="success"
              maxWidth="600px"
              title="Add a custom payment"
              button2Label="Add the custom payment"
              [activated]="singleUseToken"
              (button2)="createCustomPayment()">
    <app-form *ngIf="singleUseToken" [form]="customPaymentForm" [fields]="customPaymentFields" [errors]="customPaymentErrors"></app-form>
    <div *ngIf="!singleUseToken">
      <app-alert type="info" [messages]="['These informations of payment will not be saved for future usages.']"></app-alert>
      <app-paysafe-form (singleUseToken)="setSingleUseToken($event)"></app-paysafe-form>
    </div>
</app-nt-modal>

<app-nt-modal name="edit_user"
              typeModal="success"
              maxWidth="600px"
              title="Edit user"
              button2Label="Edit the user"
              (button2)="editUser()">
  <app-form [form]="userForm" [fields]="userFields" [errors]="userErrors"></app-form>
</app-nt-modal>
