@import '../../../../../assets/scss/theme';

.user-page {
  &__header {
    background-color: $nt-7;
    min-height: 200px;
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 20px;

    &__informations {

      &__name {
        font-weight: 900;
        font-size: 30px;
        display: flex;
        align-items: flex-start;

        &__edit {
          font-size: 10px;
          margin-left: 10px;
        }
      }

      &__email {
        margin-top: 20px;
      }

      &__university {
        margin-top: 20px;
        font-size: 14px;
      }
    }

    &__right {
      display: flex;
      align-items: center;

      &__status {
        text-align: center;
        font-weight: 900;
        font-size: 20px;
        margin: 0 40px;

        &__main {
          font-size: 50px;
          margin-bottom: 5px;
        }
      }
    }
  }

  &__reservations {
    padding: 20px;
  }

  &__cards {
    padding: 20px;
  }
}
