<div class="membership-subscription-page">
  <div class="membership-subscription-page__nav">
    <app-nt-wizzard [active]="menuActive"></app-nt-wizzard>
  </div>
  <div class="membership-subscription-page__title">
    <h2 class="nt-title">
      {{ 'membership-subscription.title' | translate }}
    </h2>
  </div>
  <div *ngIf="profile.getTimeBeforeEndMembership() <= 0">
    <div *ngIf="error" class="nt-alert nt-alert--danger">
      <img class="nt-alert__icon" src="../../../../assets/images/icons/icon_attention.svg">
      <div class="nt-alert__content">
        {{ error }}
      </div>
    </div>
    <div *ngFor="let membership of listMemberships" class="membership-subscription-page__form" [ngClass]="{'membership-subscription-page__form--disabled': !membershipIsAvailable(membership)}">
      <div>
        <label for="membership-{{ membership.id }}">{{ membership.name }}</label>
      </div>
      <div class="membership-subscription-page__form__spacer"></div>
      <div class="membership-subscription-page__form__price">
        {{ membership.price }} $<sup>+txs</sup>
      </div>
      <div>
        <input class="nt-form-input"
               (click)="changeMembership($event)"
               name="membership"
               type="radio"
               value="{{ membership.id }}"
               id="membership-{{ membership.id }}"
               [disabled]="!membershipIsAvailable(membership)" />
      </div>
    </div>
    <div class="nt-card">
      <p [innerHTML]="'membership-subscription.text_1' | translate">

      </p>
      <p [innerHTML]="'membership-subscription.text_2' | translate"></p>
      <p [innerHTML]="'membership-subscription.text_3' | translate"></p>
    </div>
    <div class="membership-subscription-page__link">
      <a href="http://www.thesez-vous.com/membre.html?lang=fr" target="_blank" class="nt-link">
        {{ 'membership-subscription.link-to-subscriptions-infos' | translate }}
      </a>
    </div>
    <div class="membership-subscription-page__actions">
      <div class="membership-subscription-page__actions__item membership-subscription-page__actions__item--main">
        <a routerLink="/" class="nt-link">{{ 'shared.buttons.cancel' | translate }}</a>
      </div>
      <div>
        <button (click)="submit()" type="submit" class="membership-subscription-page__actions__item nt-button">
          {{ 'shared.buttons.next' | translate }}
        </button>
      </div>
    </div>
  </div>
  <div *ngIf="profile.getTimeBeforeEndMembership() > 0" >
    <div class="membership-subscription-page__unavailable">
      {{ 'membership-subscription.already_member_1' | translate }}
      {{ profile.getTimeBeforeEndMembership() }}
      {{ 'membership-subscription.already_member_2' | translate }}
    </div>
    <div class="membership-subscription-page__actions">
      <div class="membership-subscription-page__actions__item membership-subscription-page__actions__item--main">
        <a routerLink="/" class="nt-link">{{ 'membership-subscription.link-to-homepage' | translate }}</a>
      </div>
    </div>
  </div>
</div>
