<simple-notifications [options]="options"></simple-notifications>
<router-outlet></router-outlet>

<app-nt-modal [name]="alertModal"
              [displayButtons]="true"
              maxWidth="800px"
              [autoClose]="true"
              typeModal="information"
              button2Label="Ne plus afficher"
              (button2)="closeCovid19MessageModal()">
  <app-ckeditor-container
    [pageKey]="'alert-modal'"
    [autoSave]="false"
    (updatedAtChange)="checkAndDisplayModal($event)"></app-ckeditor-container>
</app-nt-modal>
