<div class="authentication-panel">
  <div class="authentication-panel__close" (click)="closePanel()">
    <i class="icon icon-times icon--5x"></i>
  </div>
  <div class="authentication-panel__content">
    <app-title [level]="4" text="Connexion"></app-title>
    <app-title [level]="9" text="Vous devez etre connecte.e pour ajouter un element a votre panier."></app-title>
    <app-link text="Vous n'avez pas encore de compte?"></app-link>

    <app-login-form class="authentication-panel__content__login"
                    [centered]="true"
                    [registerLink]="false"
                    [forgotPasswordLink]="true"
                    (isConnected)="authentified()"></app-login-form>
  </div>
</div>
