@import '../../../../assets/scss/theme';

.activation-page {
  background-color: $nt-background-color-light;
  max-width: 600px;
  margin: 0 20px;
  padding: 40px;

  &__sub-title {
    margin-top: 30px;
  }

  &__button {
    margin-top: 40px;
  }
}
