<div class="activation-page">
  <div *ngIf="success === null">
    <h2 class="nt-title">
      {{ 'activation-page.pending' | translate }}
    </h2>
  </div>
  <div *ngIf="success === false">
    <h2 class="nt-title">
      {{ 'activation-page.fail_title' | translate }}
    </h2>
    <div class="activation-page__sub-title">
      {{ 'activation-page.fail_text' | translate }}
    </div>
    <div class="activation-page__button">
      <a class="nt-link" routerLink="/login">
        {{ 'activation-page.fail_button' | translate }}
      </a>
    </div>
  </div>
  <div *ngIf="success">
    <h2 class="nt-title">
      {{ 'activation-page.success_title' | translate }}
    </h2>
    <div class="activation-page__sub-title">
      {{ 'activation-page.success_text' | translate }}
    </div>
    <div class="activation-page__button">
      <a routerLink="/login" class="nt-link">
        {{ 'activation-page.success_button' | translate }}
      </a>
    </div>
  </div>
</div>
