<div class="forgot-password-page">
  <div class="forgot-password-page__content">
    <div class="forgot-password-page__content__header">
      <img class="forgot-password-page__content__header__logo" src="assets/images/logo.png" alt="Logo" />

      <div>
        <h2>
          Retrouver son mot de passe
        </h2>
      </div>
    </div>
    <form>
      <div class="form-group">
        <label for="email" class="form-label">Courriel associe a votre compte :</label>
        <input type="email" id="email" class="form-input" />
      </div>
    </form>
    <div class="forgot-password-page__content__actions">
      <div>
        <a routerLink="/login">Se connecter</a>
      </div>
      <div>
        <a href="#" class="button-icon">
          <span class="button-icon__text">Rechercher</span>
          <span class="button-icon__icon">
            <i class="fa fa-caret-right"></i>
          </span>
        </a>
      </div>
    </div>
  </div>
</div>
