<div class="forgot-password-page">
  <form class="forgot-password-page__form" (submit)="resetPassword(forgotForm)" [formGroup]="forgotForm">
    <div>
      <h2 class="nt-title">
        {{ 'forgot-password-page.title' | translate }}
      </h2>
    </div>

    <app-link routerLink="/register" text="{{'login-form.sign_up' | translate}}"></app-link>
    <div class="form-group">
      <label for="email" class="nt-form-label">{{ 'forgot-password-page.email' | translate }}</label>
      <input formControlName="email" type="email" id="email" class="nt-form-input" />
      <div class="form-text form-text--right form-text--danger"
           *ngFor="let errorMessage of forgotForm.controls['email'].getError('apiError')">
        {{ errorMessage }}
      </div>
    </div>
    <div class="forgot-password-page__form__actions">
      <app-button type="submit"
                  [text]="'forgot-password-page.buttons.search' | translate "
                  class="forgot-password-page__form__actions__item">
      </app-button>
    </div>
  </form>
</div>
