@import "../../../../assets/scss/_theme.scss";

.forgot-password-page {
  background-color: $nt-background-color-light;
  max-width: 600px;
  margin: 0 20px;
  padding: 40px;

  &__actions {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__item {
      &--main {
        flex: 1;
        text-align: center;
      }
    }
  }
}
