<div class="admin-memberships-page">
  <div class="admin-memberships-page__table">
    <app-my-table [settings]="settings"
                  [data]="listAdaptedMemberships"
                  (addButton)="OpenModalCreateMembership()"
                  (editItem)="OpenModalEditMembership($event)"
                  (changePage)="changePage($event)">
    </app-my-table>
  </div>
</div>

<app-nt-modal name="form_memberships"
              class="modal-memberships"
              typeModal="success"
              (button2)="submitMembership()"
              maxWidth="600px">
  <app-form [fields]="fields" [form]="membershipForm" [errors]="membershipErrors"></app-form>
</app-nt-modal>
