<div class="retirement-tutorial">
  <div class="retirement-tutorial__title nt-title">
    Inscription
  </div>
  <div class="retirement-tutorial__content">
    <p>
      Suivez attentivement les étapes pour vous inscrire à une ou des retraite(s).
    </p>

    <ol class="retirement-tutorial__content__list">
      <li>S'assurer d'être connecté à votre compte.</li>
      <li>S'assurer d'être membre Thèsez-vous.</li>
      <li>Entrer les informations complémentaires à l'inscription aux retraites.</li>
      <li>Choisir la ou les retraite(s) auxquelles vous voulez participer.</li>
      <li>Inscrire le code qui vous donne accès à une bourse, si applicable.</li>
      <li>Accepter les termes et conditions et confirmer le paiement.</li>
      <li>Remplir les questions spécifiques aux retraites, le cas échéant.</li>
    </ol>
  </div>
  <a class="retirement-tutorial__link nt-link" target="_blank" routerLink="/profile">
    Une retraite Thèsez-vous, c'est quoi?
  </a>
  <div class="retirement-tutorial__actions">
    <a class="retirement-tutorial__actions__next nt-button" (click)="closeTutorial()">
      Commencer
    </a>
    <a class="retirement-tutorial__actions__cancel nt-link" routerLink="/">
      Retour à l'accueil
    </a>
  </div>
</div>
