@import '../../../../assets/scss/theme';

.alert {
  width: 100%;
  padding: 10px 15px;
  color: $nt-text;
  background-color: $nt-background-color;
  border-radius: 2px;
  display: flex;
  align-items: center;

  &__icon {
    align-content: center;
    margin-right: 15px;
  }

  &--success {
    background-color: $color-success-background;
    border-color: $color-success-border;
    color: $color-success-text;
  }

  &--info {
    background-color: $nt-7;
    border-color: $nt-7;
    color: white;
  }

  &--danger {
    background-color: $nt-background-danger;
    border-color: $nt-background-danger;
    color: $nt-text;
  }

  &--text-warning {
    background: none;
    color: $nt-9;
    padding: 0;
  }

  &--warning {
    background-color: $color-warning-background;
    border-color: $color-warning-border;
    color: $color-warning-text;
  }
}
