<div class="politics-page">
  <app-title [level]="3" text="Politiques d'annulation"></app-title>
  <app-title [level]="6" text="Les retraites de rédaction" class="politics-page__section"></app-title>
  <app-title [level]="9" text="Toute annulation de participation doit être communiquée par
            écrit à l’adresse suivante : info@thesez-vous.com. Des frais de gestion équivalent à 10%
            du prix de la retraite payé par le ou la participant.e ayant annulé sont applicables. Le
            ou la participant.e ayant annulé sera remboursé à la hauteur de 90% du prix payé uniquement
            si son annulation a eu lieu plus de 7 jours ouvrables précédant le début de la retraite.
            Thèsez-vous se réserve le droit d’annuler ou de déplacer une retraite si le nombre
            d’inscriptions est insuffisant."></app-title>
  <app-title [level]="6"
             class="politics-page__section"
             text="{{'shared.cancelation_politic.title' | translate}}"></app-title>
  <app-title [level]="9" text="{{'shared.cancelation_politic.text_1' | translate}}"></app-title>
  <app-title [level]="9" text="{{'shared.cancelation_politic.text_2' | translate}}"></app-title>
  <app-title [level]="9" text="{{'shared.cancelation_politic.text_3' | translate}}"></app-title>
</div>
