<div class="politics-page">
  <app-title [level]="3" text="{{'politics.title_page_1' | translate}}"></app-title>
  <app-title [level]="6" text="{{'politics.title_page_2' | translate}}" class="politics-page__section"></app-title>
  <app-title [level]="9" text="{{'politics.text' | translate}}"></app-title>
  <app-title [level]="6"
             class="politics-page__section"
             text="{{'politics.cancelation_politic.title' | translate}}"></app-title>
  <app-title [level]="9" text="{{'politics.cancelation_politic.text_1' | translate}}"></app-title>
  <app-title [level]="9" text="{{'politics.cancelation_politic.text_2' | translate}}"></app-title>
  <app-title [level]="9" text="{{'politics.cancelation_politic.text_3' | translate}}"></app-title>
</div>
