@import '../../../../assets/scss/theme';

.register-confirmation-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;

  &__content {

    &__icon {
      font-size: 70px;
      color: $color-main;
    }

    &__title {
      font-size: 25px;
    }

    &__sub-title {
      font-size: 16px;
    }
  }
}
