@import '../../../../assets/scss/theme';

.register-confirmation-page {
  background-color: $nt-background-color-light;
  width: 600px;
  margin: auto;
  padding: 40px;

  &__sub-title {
    margin-top: 30px;
  }

  &__link {
    margin-top: 40px;
  }
}
