@import '../../../assets/scss/theme';
@import '../../../assets/scss/easings';

.nt-header {
  color: $nt-text;
  height: 100vh;
  width: 230px;
  overflow-x: hidden;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100vh - 180px);
  }

  &__top {
    padding: 20px 60px  15px 20px;
    width: 100%;
    height:60px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    &__toggle {
      width: 20px;
      height: 20px;
      margin-right: 40px;
      display: block;
      text-decoration: none;

      &--closed {
        display: none;
      }
    }

    &__logo {
      display: block;
      flex: 1;

      &__image {
        height: 100%;
      }
    }
  }

  &__nav {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 25px 50px 0 45px;
    margin: 0;
    transition: all $ease-inout-sine 500ms;
    font-size: 11pt;
    border-top: 1px solid #E6DCCF;

    &:hover {
      color: $border-calendar;
    }

    &__item {
      margin: 15px 0;
      text-transform: uppercase;

      & a {
        text-decoration: none;

        &:hover {
          color: $nt-text;
        }
      }
    }

    &--closed {
      display: none;
    }
  }

  &__actions {
    display: flex;
    flex-direction: column;

    &__item {
      padding: 15px 0 15px 0;
      width: 100%;
      border-top: 1px solid #E6DCCF;
      font-weight: 900;
      text-transform: uppercase;
      text-decoration: none;
      display: flex;
      align-items: center;
      justify-content: center;

      &:last-child {
        border-bottom: 1px solid #E6DCCF;
      }

      &--closed {
        display: none;
      }

      &__icon {
        width: 25px;
        margin-right: 10px;
      }
    }
  }

  &__socials {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    transition: all $ease-inout-sine 500ms;

    &:hover {
      & path {
        fill: lightgrey;
      }
    }

    &__item {
      padding-right: 20px;
      width: 42px;

      &:hover {
        & path {
          fill: $nt-text;
        }
      }
    }
  }

  &__burger {
    display: none;
    text-decoration: none;
  }

  &--open {
    width: 60px;

    & .nt-header {
      &__top {
        padding: 0;

        &__toggle {
          display: none;
          margin: 20px 0;
          text-align: center;

          &--closed {
            display: block;
          }
        }

        &__logo {
          display: none;
        }
      }
      &__nav {
        display: none;

        &--closed {
          display: block;
          padding: 25px 0 0 0;
          text-align: center;

          &:hover {
            color: $nt-text;
          }
        }
      }

      &__content {
        display: flex;

        &__left {
          flex: 1;
        }

        &__right {
          flex: 1;
        }
      }

      &__actions {
        &__item {
          padding: 10px;
          display: none;

          &--closed {
            display: block;
          }
        }
      }

      &__socials {
        display: flex;
        flex-direction: column;
        align-items: center;

        &__item {
          padding: 10px;
        }
      }
    }
  }
}

@media only screen and (max-width: 1300px) {
  .nt-header {
    height: 80px;
    padding: 10px 30px;
    overflow-y: hidden;
    display: flex;
    align-items: center;
    width: 100%;
    transition: none;

    &__content {
      flex-direction: row;
      align-items: center;
      height: auto;
    }

    &__top {
      padding: 0;

      &__toggle {
        display: none;
      }

      &__logo {
        flex: 1;
        margin-bottom: 0;
        height: 60px;
        text-align: center;
      }
    }

    &__nav {
      display: none;
      border: none;
    }

    &__actions {
      &__item {
        display: none;
        border: 1px solid $nt-text;
        padding: 10px;
        white-space: nowrap;
        text-align: center;

        &--responsive {
          display: flex;
        }
      }
    }

    &__socials {
      display: none;
    }

    &__burger {
      margin: 0 20px;
      display: block;
    }

    &--open {
      width: 100%;
      height: 100vh;
      overflow-y: auto;
      position: fixed;
      top: 0;
      bottom: 0;
      background-color: $nt-background-color;
      display: block;
      margin: 0;
      padding: 20px;
      z-index: 100;

      & .nt-header {
        &__top {
          &__toggle {
            &--closed {
              display: none;
            }
          }

          &__logo {
            display: block;
          }
        }

        &__nav {
          display: flex;
          text-align: center;
          padding: 0;
        }

        &__content {
          display: flex;
          margin: 30px 70px 0 70px;

          &__left {
            flex: 1;
          }

          &__right {
            flex: 1;
          }
        }

        &__actions {
          &__item {
            display: flex;
            justify-content: center;
            margin-top: 20px;

            &--closed {
              display: none;
            }
          }
        }

        &__socials {
          display: flex;
          justify-content: center;
          flex-direction: row;
        }

        &__burger {
          position: fixed;
          top: 20px;
          right: 20px;
        }
      }
    }
  }
}

@media only screen and (max-width: 550px) {
  .nt-header {
    justify-content: space-between;
    padding: 10px;
    margin: 0;

    &__top {
      &__logo {
        height: 30px;
      }
    }

    &__actions {
      &__item {
        &--responsive {
          display: none;
        }
      }
    }

    &__content {
      flex-direction: column;
    }
  }
}
