@import "../../../assets/scss/theme";

.nt-header {

  display: flex;
  flex-direction: row;

  &__main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 250px;
    background-color: $nt-2;
    border-right: 1px solid $color-grey-border;

    &--no-border-right{
      border-right: none;
    }

    &__title {
      padding: 40px;
      height: 130px;
      border-bottom: 1px solid $color-grey-border;
      text-align: center;

    }

    &__nav {
      flex: 1;
      display: flex;
      flex-direction: column;
      padding-top: 40px;

      &__item {
        width: 100%;
        text-align: center;
        padding: 20px;
        text-transform: uppercase;

        &:hover {
          background-color: $nt-14;
          color: $nt-2;
          cursor: pointer;
        }

        &--active {
          border-top: 2px solid;
          border-bottom: 2px solid;
          border-color: red;
          padding: 18px 20px;
          background-color: $nt-14;
          color: $nt-2;
          cursor: pointer;
        }

        &--clickable {
          cursor: pointer;
        }
      }
    }

    &__socials {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin: 40px 0;

      &__item {

        &__icon {
          height: 20px;
          margin: 0 10px;

        }
      }
    }

    &__actions {

      display: flex;
      flex-direction: column;

      &__item {
        width: 100%;
        text-align: center;
        font-weight: 600;
        padding: 20px;
        text-transform: uppercase;
        border-top: 1px solid $color-grey-border;
        text-decoration: none;

        &:hover {
          border-color: $nt-14;
          background-color: $nt-14;
          color: $nt-2;
          cursor: pointer;
        }
      }
    }
  }
}
