<div class="nt-header" [ngClass]="{'nt-header--open': isOpen}">
  <a class="nt-header__logo">
    <img class="nt-header__logo__image" src="../../../assets/images/logo_general.svg"/>
  </a>
  <div class="nt-header__content">
    <div class="nt-header__content__left">
      <ul class="nt-header__nav">
        <li class="nt-header__nav__item">
          <a>A propos</a>
        </li>
        <li class="nt-header__nav__item">
          <a>
            Retraites
          </a>
        </li>
        <li class="nt-header__nav__item">
          <a>
            Membership
          </a>
        </li>
        <li class="nt-header__nav__item">
          <a>
            Espace
          </a>
        </li>
        <li class="nt-header__nav__item">
          <a>
            Rediger en ville
          </a>
        </li>
        <li class="nt-header__nav__item">
          <a>
            Ressources
          </a>
        </li>
        <li class="nt-header__nav__item">
          <a>
            Nous contacter
          </a>
        </li>
        <li class="nt-header__nav__item">
          <a>
            Faire un don
          </a>
        </li>
      </ul>
    </div>
    <div class="nt-header__content__right">
      <div class="nt-header__actions">
        <a routerLink="/register" class="nt-header__actions__item nt-button nt-button--reverse">Devenir membre</a>
        <a *ngIf="!isAuthenticated()" routerLink="/login" class="nt-header__actions__item nt-header__actions__item--responsive nt-button nt-button--reverse">Se connecter</a>
        <a *ngIf="isAuthenticated()" routerLink="/logout" class="nt-header__actions__item nt-header__actions__item--responsive nt-button nt-button--reverse">Se deconnecter</a>
      </div>

      <div class="nt-header__socials">
        <a>
          <img class="nt-header__socials__item" src="../../../assets/images/icons/icon_facebook.svg" />
        </a>
        <a>
          <img class="nt-header__socials__item" src="../../../assets/images/icons/icon_insta.svg" />
        </a>
        <a>
          <img class="nt-header__socials__item" src="../../../assets/images/icons/icon_twitter.svg" />
        </a>
        <a>
          <img class="nt-header__socials__item" src="../../../assets/images/icons/icon_linkedin.svg" />
        </a>
      </div>
    </div>
  </div>
  <a class="nt-header__burger" (click)="toggleHeader()">
    &#9776;
  </a>
</div>
