<div class="login-form">

  <div class="login-form__title">
    {{ 'login-form.title' | translate }}
  </div>
  <app-link class="login-form__register" *ngIf="registerLink" routerLink="/register" text="{{'login-form.sign_up' | translate}}"></app-link>

  <app-form class="login-form__form" [errors]="loginErrors" [fields]="loginFields" [form]="loginForm"></app-form>
  <div class="login-form__actions">
    <app-button (onClick)="submitForm()"
                [text]="'login-form.login'  | translate"
                class="login-form__actions__button">
    </app-button>
    <app-link *ngIf="forgotPasswordLink" class="login-form__actions__link" routerLink="/forgot-password"
              [text]="'login-form.forgot_password'  | translate"></app-link>
  </div>
</div>
