.login-form {

  &__actions {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    &__button {
      margin-top: 20px;
    }

    &__link {
      margin-top: 20px;
    }
  }

  &--centered {
    .login-form {
      &__actions {
        align-items: center;
      }
    }
  }
}
