@import '../../../../../assets/scss/theme';

.admin-period-page {
  padding: 0 20px 20px 20px;

  &__title {
    margin-top: 30px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    &__dates {
      display: flex;
      justify-content: center;
      align-items: center;

      &__item {
        margin: 20px;

        &--arrow {
          font-size: 40px;
        }
      }
    }
  }

  &__display-link {
    display: inline-block;
    margin: 30px 0 20px 0;
  }

  &__table {
    margin-top: 20px;
  }
}

.form-edit-timeslot {

  &__batch {
    margin-top: 20px;

    &__weekdays {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-top: 20px;

      &__day {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $color-main;
        color: white;
        margin: 0 10px;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        cursor: pointer;

        &--selected {
          background-color: $nt-text;
        }
      }
    }
  }
}
