<div class="admin-period-page" *ngIf="period">
  <div class="admin-period-page__title">
    <h2>{{ period.name }}</h2>
  </div>
  Début de la période: {{ period.getStartDay() }}<br/>
  Fin de la période: {{ period.getEndDay()}}

  <div class="admin-period-page__table">
    <app-my-table [settings]="settings"
                  [data]="listAdaptedTimeslots"
                  (addButton)="OpenModalCreateTimeslot()"
                  (editItem)="OpenModalEditTimeslot($event)"
                  (removeItem)="removeTimeslot($event)"
                  (selectItem)="goToTimeslot($event)">
    </app-my-table>
  </div>
</div>

<app-my-modal name="form_timeslots"
              typeModal="success"
              (button2)="submitTimeslot()">
  <form [formGroup]="timeslotForm">
    <div *ngFor="let error of timeslotErrors" class="alert alert--danger">
      {{ error }}
    </div>

    <div class="form-group">
      <label for="start_time" class="form-label">Début de la plage horaire:</label>
      <input [owlDateTimeTrigger]="dt_start" [owlDateTime]="dt_start"
             formControlName="start_time" class="form-input"
             id="start_time">
      <owl-date-time #dt_start [firstDayOfWeek]="1"></owl-date-time>
      <div class="form-text form-text--right form-text--danger"
           *ngFor="let errorMessage of timeslotForm.controls['start_time'].getError('apiError')">
        {{ errorMessage}}
      </div>
    </div>

    <div class="form-group">
      <label for="end_time" class="form-label">Fin de la plage horaire:</label>
      <input [owlDateTimeTrigger]="dt_end" [owlDateTime]="dt_end"
             formControlName="end_time" class="form-input"
             id="end_time">
      <owl-date-time #dt_end [firstDayOfWeek]="1"></owl-date-time>
      <div class="form-text form-text--right form-text--danger"
           *ngFor="let errorMessage of timeslotForm.controls['end_time'].getError('apiError')">
        {{ errorMessage}}
      </div>
    </div>
    <div *ngIf="selectedTimeslot && selectedTimeslot.number_of_reservations > 0">
      <div class="alert alert--danger">
        Si vous modifier cette plage horaire toutes les réservations
        déja effectué seront annulé et remboursé et un message
        d'explication sera envoyé aux membres ayant subit une annulation.
      </div>
      <div class="form-group">
        <label for="force_update" class="form-label">
          Message d'explication qui sera envoyé aux membres subissant une annulation:
        </label>
        <textarea formControlName="custom_message" class="form-input form-input--textarea" id="custom_message">
        </textarea>
        <div class="form-text form-text--right form-text--danger"
             *ngFor="let errorMessage of timeslotForm.controls['custom_message'].getError('apiError')">
          {{ errorMessage}}
        </div>
      </div>
      <div class="form-group">
        <input formControlName="force_update" class="form-input" id="force_update" type="checkbox">
        <label for="force_update">
          Je comprends les répercutions de cette modification.
        </label>
        <div class="form-text form-text--right form-text--danger"
             *ngFor="let errorMessage of timeslotForm.controls['force_update'].getError('apiError')">
          {{ errorMessage}}
        </div>
      </div>
    </div>
  </form>
</app-my-modal>
