<app-loader *ngIf="!period"></app-loader>

<div class="admin-period-page" *ngIf="period">
  <div class="admin-period-page__title">
    <h2 class="nt-title">Période de rédaction / {{ period.name }}</h2>
  </div>

  <div class="admin-period-page__header">
    <div>
      <a class="admin-period-page__display-link nt-button" *ngIf="displayOnlyFutureTimeslot" (click)="setDisplayOnlyFutureTimeslot(false)">Afficher les anciens blocs de rédaction</a>
      <a class="admin-period-page__display-link nt-button" *ngIf="!displayOnlyFutureTimeslot" (click)="setDisplayOnlyFutureTimeslot(true)">Cacher les anciens blocs de rédaction</a>
    </div>

    <div class="admin-period-page__header__dates">
      <app-calendar-icon class="admin-period-page__header__dates__item" [date]="period.start_date">
      </app-calendar-icon>

      <i class="admin-period-page__header__dates__item admin-period-page__header__dates__item--arrow fas fa-angle-double-right"></i>

      <app-calendar-icon class="admin-period-page__header__dates__item" [date]="period.end_date">
      </app-calendar-icon>
    </div>
  </div>

  <div class="admin-period-page__table">
    <app-my-table [settings]="settings"
                  [data]="listAdaptedTimeslots"
                  (addButton)="OpenModalCreateTimeslot()"
                  (editItem)="OpenModalEditTimeslot($event)"
                  (removeItem)="removeTimeslot($event)"
                  (changePage)="changePage($event)"
                  (selectItem)="goToTimeslot($event)"
                  [limitChoices]="limitChoices"
                  (updateLimit)="changeLimit($event)">
    </app-my-table>
  </div>
</div>

<app-nt-modal name="form_timeslots"
              typeModal="success"
              (button2)="submitTimeslot()"
              maxWidth="600px">
  <form [formGroup]="timeslotForm">
    <app-alert *ngIf="timeslotErrors" [messages]="timeslotErrors" type="danger"></app-alert>

    <div class="form-group">
      <label for="start_time" class="nt-form-label">Début du bloc de rédaction:</label>
      <input [owlDateTimeTrigger]="dt_start" [owlDateTime]="dt_start"
             formControlName="start_time" class="nt-form-input"
             id="start_time">
      <owl-date-time #dt_start [firstDayOfWeek]="1"></owl-date-time>
      <div class="form-text form-text--right form-text--danger"
           *ngFor="let errorMessage of timeslotForm.controls['start_time'].getError('apiError')">
        {{ errorMessage}}
      </div>
    </div>

    <div class="form-group">
      <label for="end_time" class="nt-form-label">Fin du bloc de rédaction:</label>
      <input [owlDateTimeTrigger]="dt_end" [owlDateTime]="dt_end"
             formControlName="end_time" class="nt-form-input"
             id="end_time">
      <owl-date-time #dt_end [firstDayOfWeek]="1"></owl-date-time>
      <div class="form-text form-text--right form-text--danger"
           *ngFor="let errorMessage of timeslotForm.controls['end_time'].getError('apiError')">
        {{ errorMessage}}
      </div>
    </div>
    <div *ngIf="selectedTimeslot && selectedTimeslot.number_of_reservations > 0">
      <app-alert type="danger" [messages]="[alertMessage]"></app-alert>
      <div class="form-group">
        <label for="force_update" class="nt-form-label">
          Message d'explication qui sera envoyé aux membres subissant une annulation:
        </label>
        <textarea formControlName="custom_message" class="nt-form-input nt-form-input--textarea" id="custom_message">
        </textarea>
        <div class="form-text form-text--right form-text--danger"
             *ngFor="let errorMessage of timeslotForm.controls['custom_message'].getError('apiError')">
          {{ errorMessage}}
        </div>
      </div>
      <div class="form-group">
        <input formControlName="force_update" id="force_update" type="checkbox">
        <label for="force_update">
          Je comprends les répercutions de cette modification.
        </label>
        <div class="form-text form-text--right form-text--danger"
             *ngFor="let errorMessage of timeslotForm.controls['force_update'].getError('apiError')">
          {{ errorMessage}}
        </div>
      </div>
    </div>
  </form>
</app-nt-modal>

<app-nt-modal name="validation_deletion"
              typeModal="success"
              (button2)="removeTimeslot(null, true)"
              maxWidth="600px"
              [autoClose]="true"
              [activated]="isSecurityOnDeletionValid()">
  <p>
    Une ou plusieurs personnes on déjà réservé ce bloc de rédaction.
  </p>
  <p>
    En supprimant ce bloc de rédaction vous entrainez des remboursements ainsi que des courriels
    d'excuses auprès de tous les utilisateurs ayant déjà réservé ce bloc de rédaction.
  </p>
  <div class="form-group">
    <label class="nt-form-label">Message explicatif pour les utilisateurs:</label>
    <textarea [(ngModel)]="messageOnDeletion" class="nt-form-input nt-form-input--textarea"></textarea>
  </div>
  <div class="align-top">
    <input id="securityCheckbox" type="checkbox" [(ngModel)]="securityOnDeletion" />
    <label class="nt-form-label" for="securityCheckbox">
      Je me suis renseigné sur les conséquences de mon acte et en prend l'entière responsabilité
    </label>
  </div>
</app-nt-modal>
