.payment-flow-bourse {
  display: flex;
  flex-direction: column;

  &__texts {
    margin-bottom: 30px;

    &__wrap {
      white-space: pre-wrap;
    }
  }

  &__actions {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
