<div class="payment-flow-bourse">
  <app-title [level]="4" text="Bourse" class="payment-flow-bourse__texts"></app-title>
  <app-title [level]="9"  class="payment-flow-bourse__texts"
             text="Certaines universités offrent des bourses pour réduire vos frais.
             Cliquez ici pour voir si vous êtes éligibles et comment vous inscrire. Si applicable,
             entrez les informations suivantes pour appliquer une bourse."></app-title>

  <app-form [form]="universityForm" [fields]="universityFields" [errors]="universityErrors"></app-form>

  <div class="payment-flow-bourse__actions">
    <app-button text="Precedent" [type]="3" (click)="goBack()"></app-button>
    <app-button text="Continuer" [type]="1" (click)="goForward()" [disabled]="!canAddAGrant"></app-button>
  </div>
</div>
