<div class="payment-flow">
  <app-payment-flow-wizard class="payment-flow__header" [steps]="steps" [(currentStep)]="currentStep"></app-payment-flow-wizard>

  <div class="payment-flow__content">
    <div class="payment-flow__content__body">
      <app-payment-flow-membership *ngIf="currentStep.id === 'membership'"
                                   (forward)="goForward()"></app-payment-flow-membership>
      <app-payment-flow-informations *ngIf="currentStep.id === 'informations'"
                                     (back)="goBack()"
                                     (forward)="goForward()"></app-payment-flow-informations>
      <app-payment-flow-bourse *ngIf="currentStep.id === 'bourses'"
                               (back)="goBack()"
                               (forward)="goForward()"></app-payment-flow-bourse>
      <app-payment-flow-mode *ngIf="currentStep.id === 'payment_mode'"
                             (back)="goBack()"
                             (forward)="goForward()"></app-payment-flow-mode>
      <app-payment-flow-confirmation *ngIf="currentStep.id === 'confirmation'"
                                     (back)="goBack()"
                                     (forward)="goForward()"></app-payment-flow-confirmation>
    </div>
    <div class="payment-flow__content__side">
      <app-cart-summary [displayCoupon]="isAfterBourseStep()" *ngIf="currentStep.id !== 'confirmation'"></app-cart-summary>
      <div *ngIf="currentStep.id === 'confirmation'" class="payment-flow__content__side__politics">
        <app-title [level]="3" text="{{'payment-flow.title_cancelled_policy_1' | translate}}"></app-title>
        <app-title [level]="6" text="{{'payment-flow.title_cancelled_policy_2' | translate}}"
                   class="payment-flow__content__side__politics__title"></app-title>
        <app-title [level]="9" text="{{'payment-flow.text_cancelled_policy' | translate}}"></app-title>
        <app-title [level]="6"
                   class="payment-flow__content__side__politics__title"
                   text="{{'payment-flow.cancelation_politic.title' | translate}}"></app-title>
        <app-title [level]="9" text="{{'payment-flow.cancelation_politic.text_1' | translate}}"></app-title>
        <app-title [level]="9" text="{{'payment-flow.cancelation_politic.text_2' | translate}}"></app-title>
        <app-title [level]="9" text="{{'payment-flow.cancelation_politic.text_3' | translate}}"></app-title>
      </div>
    </div>
  </div>
</div>
