<div class="reservation-page" *ngIf="workplace">
  <div class="reservation-page__details">
    <div class="reservation-page__details__text espace-detail">
      <div class="espace-detail__title">
        {{ workplace.name }}
      </div>
      <div class="espace-detail__description">
        {{ workplace.details }}
      </div>
      <div class="espace-detail__list">
        <div class="espace-detail__list__item">
          <div class="espace-detail__list__item__icon">
            <i class="fa fa-3x fa-home"></i>
          </div>
          <div class="espace-detail__list__item__text">
            {{workplace.location.address_line1}}<br/>
            {{workplace.location.city}}, {{workplace.location.state_province.name}} {{workplace.location.postal_code}}
          </div>
        </div>
        <div class="espace-detail__list__item">
          <div class="espace-detail__list__item__icon">
            <i class="fa fa-3x fa-clipboard-list"></i>
          </div>
          <div class="espace-detail__list__item__text">
            Membership requis
          </div>
        </div>
        <div class="espace-detail__list__item">
          <div class="espace-detail__list__item__icon">
            <i class="far fa-3x fa-building"></i>
          </div>
          <div class="espace-detail__list__item__text">
            {{ workplace.seats }} places disponibles
          </div>
        </div>
      </div>
    </div>
    <div class="reservation-page__details__pictures">
      <div class="reservation-page__details__pictures__preview">
        <img class="reservation-page__details__pictures__preview__item" src="../../../../assets/images/temp/espace.jpg" />
        <img class="reservation-page__details__pictures__preview__item" src="../../../../assets/images/temp/espace.jpg" />
        <img class="reservation-page__details__pictures__preview__item" src="../../../../assets/images/temp/espace.jpg" />
      </div>
      <img class="reservation-page__details__pictures__main" src="../../../../assets/images/temp/espace.jpg" />
    </div>
  </div>
  <div class="reservation-page__reservation">
    <div class="reservation-page__reservation__calendar">
      <div class="reservation-page__reservation__calendar__actions">
        <a class="button-icon button-icon--reverse">
          <span class="button-icon__icon button-icon--reverse__icon">
            <i class="fa fa-caret-left"></i>
          </span>
          <span class="button-icon__text button-icon--reverse__text"
                mwlCalendarPreviousView
                [view]="view"
                [(viewDate)]="viewDate"
                (viewDateChange)="activeDayIsOpen = false">
            Precedent
          </span>
        </a>
        <h2>
          {{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}
        </h2>
        <a class="button-icon"
           mwlCalendarNextView
           [view]="view"
           [(viewDate)]="viewDate"
           (viewDateChange)="activeDayIsOpen = false">
          <span class="button-icon__text">Suivant</span>
          <span class="button-icon__icon">
            <i class="fa fa-caret-right"></i>
          </span>
        </a>
      </div>
      <div [ngSwitch]="view" class="page-homepage__calendar">
        <mwl-calendar-month-view
          *ngSwitchCase="'month'"
          [viewDate]="viewDate"
          [events]="events"
          [refresh]="refresh"
          [weekStartsOn]="weekStartsOn"
          [locale]="locale"
          [activeDayIsOpen]="activeDayIsOpen"
          (dayClicked)="dayClicked($event.day)"
          (eventClicked)="eventClicked($event.event)"
          (eventTimesChanged)="eventTimesChanged($event)">
        </mwl-calendar-month-view>
      </div>
    </div>
    <div class="reservation-page__reservation__form">
      <div class="alert alert--warning" *ngIf="!user">
        <p>
          Pour reserver une plage horaire dans un espace de travail
          vous devez d'abord <a routerLink="/login">vous connecter</a> ou
          bien vous <a routerLink="/register">creer un compte</a>.
        </p>
      </div>
      <div class="reservation-page__reservation__form__ticket" *ngIf="user">
        <div class="reservation-page__reservation__form__ticket__title">
          Details
        </div>
        <div *ngIf="selectedTimeSlots.length === 0" class="alert alert--info">
          Aucune plage horaire selectionnee.
        </div>
        <div *ngFor="let timeslot of selectedTimeSlots" class="reservation-page__reservation__form__ticket__line">
          <div class="reservation-page__reservation__form__ticket__line__title">
            {{ timeslot.getStartDay() }} ({{ timeslot.getStartTime() }} - {{ timeslot.getEndTime() }}) - {{ timeslot.price }}$CAN
          </div>
          <div class="reservation-page__reservation__form__ticket__line__actions">
            <a (click)="removeFromCart(timeslot)">
              <i class="fa fa-times" style="color: darkred;"></i>
            </a>
          </div>
        </div>
        <div class="reservation-page__reservation__form__ticket__total">
          TOTAL: {{ totalBill }}$ CAN
        </div>
      </div>

      <form class="reservation-page__reservation__form__payment" *ngIf="user">
        <div class="form-group">
          <label for="card" class="form-label">Mode de paiement :</label>
          <select id="card" class="form-input">
            <option>Mastercard (xxxx xxxx xxxx 9371)</option>
            <option>Visa (xxxx xxxx xxxx 7785)</option>
          </select>
        </div>
        <div class="form__group">
          <input type="checkbox" value="yes" id="terms" />
          <label for="terms">J’accepte les <a href="#">conditions d’utilisation.</a></label>
        </div>
        <button type="submit" class="button-icon button-icon--full-width button-icon--main">
          <span class="button-icon__text">Reserver</span>
          <span class="button-icon__icon">
            <i class="fa fa-caret-right"></i>
          </span>
        </button>
      </form>
    </div>
  </div>
</div>
