<div class="reservation-page" *ngIf="workplace">
  <div class="reservation-page__header">
    <div class="reservation-page__header__details">
      <div class="reservation-page__header__details__title">
        {{ workplace.name }}
      </div>
      <div class="reservation-page__header__details__text">
        {{ workplace.details }}
      </div>
      <ul class="reservation-page__header__details__list">
        <li class="reservation-page__header__details__list__item">
          <img class="reservation-page__header__details__list__item__icon" src="../../../../assets/images/icons/icon_rdv.svg" />
          <span class="reservation-page__header__details__list__item__label">
            {{workplace.address_line1}}<br/>
            {{workplace.city}}, {{workplace.state_province}} {{workplace.postal_code}}
          </span>
        </li>
        <li class="reservation-page__header__details__list__item">
          <img class="reservation-page__header__details__list__item__icon" src="../../../../assets/images/icons/icon_membre.svg" />
          <span class="reservation-page__header__details__list__item__label">
            Membership requis
          </span>
        </li>
        <li class="reservation-page__header__details__list__item">
          <img class="reservation-page__header__details__list__item__icon" src="../../../../assets/images/icons/icon_chair.svg" />
          <span class="reservation-page__header__details__list__item__label">
            {{workplace.seats}} places disponibles
          </span>
        </li>
        <li class="reservation-page__header__details__list__item">
          <img class="reservation-page__header__details__list__item__icon" src="../../../../assets/images/icons/icon_coffee.svg" />
          <span class="reservation-page__header__details__list__item__label">
            Café inclus
          </span>
        </li>
      </ul>
    </div>
    <div class="reservation-page__header__picture" *ngIf="workplace.pictures[0]" [ngStyle]="{'background-image': 'url(' + workplace.pictures[0] + ')'}">
      <img *ngIf="workplace.pictures[0]" class="reservation-page__header__picture__image" src="" />
    </div>
    <div class="reservation-page__header__map">
    </div>
  </div>
  <div class="reservation-page__content">
    <div class="reservation-page__content__reservation">
      <div class="reservation-page__content__reservation__calendar">
        <div class="reservation-page__content__reservation__calendar__actions">
          <a class="reservation-page__content__reservation__calendar__actions__button"
             mwlCalendarPreviousView
             [view]="view"
             [(viewDate)]="viewDate"
             (viewDateChange)="activeDayIsOpen = false">
            <img class="reservation-page__content__reservation__calendar__actions__button__icon" src="../../../../assets/images/icons/icon_left_arrow.svg"/>
            <span>
            Précédent
          </span>
          </a>
          <h2 class="reservation-page__content__reservation__calendar__actions__title">
            {{ viewDate | calendarDate:(view + 'ViewTitle'):'fr' }}
          </h2>
          <a class="reservation-page__content__reservation__calendar__actions__button"
             mwlCalendarNextView
             [view]="view"
             [(viewDate)]="viewDate"
             (viewDateChange)="activeDayIsOpen = false">
          <span>
            Suivant
          </span>
            <img class="reservation-page__content__reservation__calendar__actions__button__icon" src="../../../../assets/images/icons/icon_right_arrow.svg"/>
          </a>
        </div>
        <div [ngSwitch]="view">
          <mwl-calendar-month-view
            *ngSwitchCase="'month'"
            [viewDate]="viewDate"
            [events]="events"
            [refresh]="refresh"
            [weekStartsOn]="weekStartsOn"
            [locale]="locale"
            [activeDayIsOpen]="activeDayIsOpen"
            (dayClicked)="dayClicked($event.day)"
            (eventClicked)="eventClicked($event.event)"
            (eventTimesChanged)="eventTimesChanged($event)">
          </mwl-calendar-month-view>
        </div>
        <div class="reservation-page__content__reservation__calendar__legend">
          <div class="reservation-page__content__reservation__calendar__legend__item" *ngFor="let color of colors">
            <div class="reservation-page__content__reservation__calendar__legend__item__color" [style.background-color]="color.color.primary"></div>
            <span class="reservation-page__content__reservation__calendar__legend__item__text">{{ color.label }}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="reservation-page__content__details">
      <div class="reservation-page__content__details__form">
        <div class="reservation-page__content__details__form__alert" *ngIf="!user">
          <div class="reservation-page__content__details__form__alert__content">
            <img class="reservation-page__content__details__form__alert__content__icon" src="../../../../assets/images/icons/icon_attention.svg"/>
            <p class="reservation-page__content__details__form__alert__content__text">
              Pour réserver un bloc d'heure dans un espace de travail
              vous devez d'abord <a (click)="goToLoginPage()">vous connecter</a> ou
              bien vous <a routerLink="/register">créer un profil</a>.
            </p>
          </div>
          <a (click)="goToLoginPage()" class="reservation-page__content__details__form__alert__button nt-button">Se connecter</a>
        </div>
        <div class="reservation-page__content__details__form__ticket" *ngIf="user" id="cart">
          <div class="reservation-page__content__details__form__ticket__title">
            Panier
          </div>
          <div *ngIf="selectedTimeSlots.length === 0">
            Aucun bloc d'heure sélectionné.
          </div>
          <div *ngFor="let timeslot of selectedTimeSlots" class="reservation-page__content__details__form__ticket__line">
            <div class="reservation-page__content__details__form__ticket__line__title">
              {{ timeslot.getStartDay() }} - {{ timeslot.getStartTime() }} à {{ timeslot.getEndTime() }}
            </div>
            <a (click)="removeFromCart(timeslot)" class="reservation-page__content__details__form__ticket__line__actions">
              <img src="../../../../assets/images/icons/icon_exit.svg" />
            </a>
          </div>
          <div *ngFor="let package of selectedPackages" class="reservation-page__content__details__form__ticket__line">
            <div class="reservation-page__content__details__form__ticket__line__title">
              {{ package.name }} - {{ package.reservations }} bloc(s) - {{ package.price }}$
            </div>
            <div class="reservation-page__content__details__form__ticket__line__actions">
              <a (click)="removePackageFromCart(package)">
                <img src="../../../../assets/images/icons/icon_exit.svg" />
              </a>
            </div>
          </div>
          <div *ngIf="selectedMembership" class="reservation-page__content__details__form__ticket__line">
            <div class="reservation-page__content__details__form__ticket__line__title">
              Membership {{ selectedMembership.name }} - {{ selectedMembership.price }}$
            </div>
            <div class="reservation-page__content__details__form__ticket__line__actions">
              <a (click)="removeMembershipFromCart()">
                <img src="../../../../assets/images/icons/icon_exit.svg" />
              </a>
            </div>
          </div>
          <div class="reservation-page__content__details__form__ticket__title">
            Total
          </div>
          <div class="reservation-page__content__details__form__ticket__total">
            {{ totalTicket }} bloc(s) prépayé(s)<br/>
            {{ totalPrice }} $CAN
          </div>
        </div>

        <ul class="reservation-page__content__details__form__infos" *ngIf="user && (user.membership || user.tickets > totalTicket)">
          <li *ngIf="!needToBuyMembership()" class="reservation-page__content__details__form__infos__item reservation-page__content__details__form__infos__item--success">
            <img src="../../../../assets/images/icons/icon_check.svg" class="reservation-page__content__details__form__infos__item__icon">
            Votre membership est encore valide.
          </li>
          <li *ngIf="needToBuyMembership()" class="reservation-page__content__details__form__infos__item reservation-page__content__details__form__infos__item">
            <img src="../../../../assets/images/icons/icon_exit.svg" class="reservation-page__content__details__form__infos__item__icon">
            Votre n'avez pas de membership actif.
          </li>
          <li *ngIf="!needToBuyPackage() && getNumberOfTicket()" class="reservation-page__content__details__form__infos__item reservation-page__content__details__form__infos__item--success">
            <img src="../../../../assets/images/icons/icon_check.svg" class="reservation-page__content__details__form__infos__item__icon">
            Il vous reste {{ getNumberOfTicket() - totalTicket }} bloc(s) prépayé(s).
          </li>
          <li *ngIf="needToBuyPackage()" class="reservation-page__content__details__form__infos__item reservation-page__content__details__form__infos__item">
            <img src="../../../../assets/images/icons/icon_exit.svg" class="reservation-page__content__details__form__infos__item__icon">
            Vous n'avez pas suffisament de blocs prépayés.
          </li>
        </ul>
        <a *ngIf="!wantToBuyPackage" (click)="askToBuyPackage()" class="nt-link">Acheter des blocs d'heures prépayés</a>

        <form class="reservation-page__content__details__form__alert" *ngIf="needToBuyMembership()">
          <div class="reservation-page__content__details__form__alert__content">
            <img class="reservation-page__content__details__form__alert__content__icon" src="../../../../assets/images/icons/icon_attention.svg"/>
            <div class="reservation-page__content__details__form__alert__content__text">
              Les blocs d'heure de cet espace de travail
              nécessitent un membership actif pour être
              réservées. Veuillez sélectionner un type
              de membership à acheter.
            </div>
          </div>
          <div class="form-group">
            <label for="membership" class="nt-form-label">Type de membership :</label>
            <select [(ngModel)]="currentMembership" name="membership" id="membership" class="nt-form-input nt-form-input--select">
              <option *ngFor="let membership of listMembership" value="{{membership.id}}">
                {{ membership.name }} - {{ membership.price }}$CAN
              </option>
            </select>
          </div>
          <button (click)="addMembership()"
                  type="submit"
                  class="reservation-page__content__details__form__alert__button nt-button">
            Ajouter au panier
          </button>
        </form>

        <form class="reservation-page__content__details__form__alert" [ngClass]="{'reservation-page__content__details__form__alert--warning': this.needToBuyPackage()}" *ngIf="showPackageSection() && user">
          <div class="reservation-page__content__details__form__alert__content" *ngIf="needToBuyPackage()">
            <img src="../../../../assets/images/icons/icon_attention.svg" class="reservation-page__content__details__form__alert__content__icon" />
            <div class="reservation-page__content__details__form__alert__content__text">
              Il vous manque {{ totalTicket - user.tickets }} bloc(s) prépayé(s) de plus que ceux disponibles sur votre profil.
            </div>
          </div>
          <div class="form-group">
            <label for="package" class="nt-form-label">Forfaits :</label>
            <select [(ngModel)]="currentPackage" name="reservationPackage" id="package" class="nt-form-input nt-form-input--select">
              <option *ngFor="let package of listReservationPackage" value="{{package.id}}">
                {{ package.reservations }} bloc(s) - {{ package.price }}$CAN
              </option>
            </select>
          </div>
          <button (click)="addPackage()" type="submit" class="reservation-page__content__details__form__alert__button nt-button">
            Ajouter au panier
          </button>
        </form>

        <form class="reservation-page__content__details__form__payment" *ngIf="user">
          <div class="reservation-page__content__details__form__payment__card form-group" *ngIf="needToUseCard()">
            <div *ngIf="listCards && listCards.length && !singleUseToken">
              <label for="card" class="nt-form-label">Mode de paiement :</label>
              <select id="card" class="nt-form-input nt-form-input--select" (change)="selectCard($event)">
                <option value="none">Choisir une carte de paiement</option>
                <option value="{{card.payment_token}}" *ngFor="let card of listCards">
                  **** **** **** {{card.last_digits}} ({{card.card_expiry.month}}/{{card.card_expiry.year}})
                </option>
              </select>
              <div class="form-text form-text--right">
                <a (click)="ToggleModal('form_credit_card')">Ajouter une nouvelle carte</a>
              </div>
            </div>
            <div *ngIf="(!listCards || !listCards.length) && !singleUseToken" class="reservation-page__content__details__form__alert">
              <div class="reservation-page__content__details__form__alert__content">
                <img src="../../../../assets/images/icons/icon_attention.svg" class="reservation-page__content__details__form__alert__content__icon" />
                <div class="reservation-page__content__details__form__alert__content__text">
                  Vous n'avez pas de carte de paiement enregistré pour le moment.
                </div>
              </div>
              <a (click)="ToggleModal('form_credit_card')" class="reservation-page__content__details__form__alert__button nt-button">
                Ajouter une carte
              </a>
            </div>
            <div *ngIf="singleUseToken" class="reservation-page__content__details__form__payment__card__single">
              Votre carte a bien été enregistré.

              <a (click)="setSingleUseToken(null)" class="reservation-page__content__details__form__payment__card__single__link nt-link">
                Utiliser une carte de paiment existante
              </a>
            </div>
          </div>
          <div *ngFor="let error of errorOrder" class="nt-alert nt-alert--danger">
            <img class="nt-alert__icon" src="../../../../assets/images/icons/icon_attention.svg">
            <div class="nt-alert__content">
              {{ error }}
            </div>
          </div>
          <button type="submit" (click)="generateOrder()" class="reservation-page__content__details__form__payment__button nt-button" [disabled]="!canFinalizePayment() || waitAPI">
            {{ getLabelFinalizeButton() }}
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<app-nt-modal name="form_credit_card"
              class="modal-credit-card"
              button2Label="Ajouter"
              typeModal="success"
              (button2)="addCard()"
              [activated]="!waitPaysafe"
              maxWidth="600px">
  <h1 class="nt-title">
    Ajouter une carte
  </h1>
  <form class="modal-credit-card__form">
    <div *ngFor="let errorMessage of errorModal" class="nt-alert nt-alert--danger">
      {{ errorMessage }}
    </div>
    <div class="form-group">
      <label for="card-number" class="nt-form-label">Numéro de la carte*:</label>
      <div id="card-number" class="modal-credit-card__form__field"></div>
    </div>
    <div class="modal-credit-card__form__expiration">
      <div class="form-group modal-credit-card__form__expiration__item">
        <label for="expiration-date" class="nt-form-label">Date d'expiration*:</label>
        <div id="expiration-date" class="modal-credit-card__form__field"></div>
      </div>
      <div class="form-group modal-credit-card__form__expiration__item">
        <label for="cvv" class="nt-form-label">CVV*:</label>
        <div id="cvv" class="modal-credit-card__form__field"></div>
      </div>
    </div>
  </form>
</app-nt-modal>

<app-nt-modal name="no_places"
              button2Label="J'ai compris!"
              maxWidth="600px"
              [autoClose]="true">
  <h1 class="nt-title">
    Oups..
  </h1>
  <p>
    Quelqu'un a été plus rapide que vous pour réserver et
    certaines places ne sont plus disponibles,
    nous venons de mettre à jour votre panier!
  </p>
</app-nt-modal>
