<app-loader *ngIf="!workplace"></app-loader>

<div class="reservation-page" *ngIf="workplace">
  <app-cart-button *ngIf="!displayedPanel"
                   class="reservation-page__cart-button"
                   (onClick)="openCart()"></app-cart-button>
  <div class="reservation-page__main">
    <div class="reservation-page__main__content">
      <div class="reservation-page__main__content__header">
        <app-title [level]="4" [text]="workplace.name"></app-title>
        <div class="reservation-page__main__content__header__details">
          <div class="reservation-page__main__content__header__details__item">
            <app-title [level]="5" text="Adresse"></app-title>
            <app-title [level]="9" text="{{workplace.address_line1}}, {{workplace.city}},
            {{workplace.state_province}} {{workplace.postal_code}}"></app-title>
          </div>
          <div class="reservation-page__main__content__header__details__item">
            <app-title [level]="5" text="Places disponibles"></app-title>
            <app-title [level]="9" [text]="workplace.seats"></app-title>
          </div>
          <div class="reservation-page__main__content__header__details__item">
            <app-title [level]="5" text="Inclus avec la reservation"></app-title>
            <app-title [level]="9" text="Café et thé à volonté"></app-title>
          </div>
        </div>
      </div>

      <app-loader *ngIf="!listTimeSlots"></app-loader>

      <div *ngIf="listTimeSlots" class="reservation-page__main__content__reservation">
        <div class="reservation-page__main__content__reservation__calendar" id="calendar">
          <div class="reservation-page__main__content__reservation__calendar__actions">
            <a class="reservation-page__main__content__reservation__calendar__actions__button"
               mwlCalendarPreviousView
               [view]="view"
               [(viewDate)]="viewDate"
               (viewDateChange)="activeDayIsOpen = false">
              <img class="reservation-page__main__content__reservation__calendar__actions__button__icon" src="../../../../assets/images/icons/icon_left_arrow.svg"/>
              <span>
              {{'shared.buttons.previous' | translate}}
            </span>
            </a>
            <h2 class="reservation-page__main__content__reservation__calendar__actions__title">
              {{ viewDate | calendarDate:(view + 'ViewTitle'):locale }}
            </h2>
            <a class="reservation-page__main__content__reservation__calendar__actions__button"
               mwlCalendarNextView
               [view]="view"
               [(viewDate)]="viewDate"
               (viewDateChange)="activeDayIsOpen = false">
            <span>
              {{'shared.buttons.next' | translate}}
            </span>
              <img class="reservation-page__main__content__reservation__calendar__actions__button__icon" src="../../../../assets/images/icons/icon_right_arrow.svg"/>
            </a>
          </div>
          <div [ngSwitch]="view">
            <mwl-calendar-month-view
              *ngSwitchCase="'month'"
              [viewDate]="viewDate"
              [events]="events"
              [refresh]="refresh"
              [weekStartsOn]="weekStartsOn"
              [locale]="locale"
              [activeDayIsOpen]="activeDayIsOpen"
              (dayClicked)="dayClicked($event.day)"
              (eventClicked)="eventClicked($event.event)">
            </mwl-calendar-month-view>
          </div>
          <div class="reservation-page__main__content__reservation__calendar__legend">
            <div class="reservation-page__main__content__reservation__calendar__legend__item" *ngFor="let color of colors">
              <div class="reservation-page__main__content__reservation__calendar__legend__item__color" [style.background-color]="color.color.primary"></div>
              <span class="reservation-page__main__content__reservation__calendar__legend__item__text">{{ color.label | translate }}</span>
            </div>
          </div>
          <div class="reservation-page__main__content__reservation__calendar__politics">
            <p>
            {{'shared.cancelation_politic.title' | translate}}
          </p>
          <p>
            {{'shared.cancelation_politic.text_1' | translate}}
            {{'shared.cancelation_politic.text_2' | translate}}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-product-selector-panel *ngIf="displayedPanel === 'product-selector'"
                              class="reservation-page__panel"
                              [product]="selectedTimeslot"
                              type="TimeSlot"
                              (close)="closePanel()"
                              (addToCart)="addToCart()">
  </app-product-selector-panel>
  <app-authentication-panel *ngIf="displayedPanel === 'authentication'"
                            class="reservation-page__panel"
                            (close)="closePanel()"
                            (onAuthentication)="subscribe(selectedTimeslot)">
  </app-authentication-panel>
  <app-cart-panel *ngIf="displayedPanel === 'cart'"
                  class="reservation-page__panel"
                  (close)="closePanel()"
                  (finalize)="finalize()">
  </app-cart-panel>
</div>

<app-nt-modal name="add_package"
              button2Label="{{'shared.buttons.add' | translate}}"
              maxWidth="600px"
              title="Nombre de ticket insuffisant"
              (button2)="addPackageToCart()">
  <p>
    <app-title [level]="9" text="Vous n'avez pas assez de bloc de redaction prepaye pour pouvoir reserver ce bloc de redaction."></app-title>
  </p>
  <p>
    <app-title [level]="9" text="Si vous souhaitez poursuivre cette achat il vous faut ajouter un lot de bloc de redaction prepaye a votre panier."></app-title>
  </p>
  <p>
    <app-title [level]="7" text="Lot de bloc de redaction prepaye"></app-title>
  </p>
  <select id="reservationPackage" class="nt-form-input nt-form-input--select" [(ngModel)]="selectedReservationPackageIndex">
    <option *ngFor="let reservationPackage of this.listReservationPackage; let i = index" [value]="i">
       {{ reservationPackage.reservations }} blocs ({{ reservationPackage.price }}$CAN)
    </option>
  </select>
</app-nt-modal>


<app-nt-modal name="reservation_tutorial"
              button2Label="{{'shared.buttons.understood' | translate}}"
              maxWidth="600px"
              title="{{'reservation.how_to.title' | translate}}"
              [autoClose]="true"
              [show]="firstTimeReservation()">
  <p class="modal-reservation__text">
    {{'reservation.how_to.text_1' | translate}}:
  </p>
  <ol>
    <li>{{'reservation.how_to.list_1' | translate}}</li>
    <li>{{'reservation.how_to.list_2' | translate}}</li>
    <li>{{'reservation.how_to.list_3' | translate}}</li>
    <li>{{'reservation.how_to.list_4' | translate}}</li>
  </ol>
  <p class="modal-reservation__text">
    {{'reservation.how_to.text_2' | translate}}
  </p>
</app-nt-modal>
