<h2 class="title title--8">
  {{ 'profile.subscription' | translate }}
</h2>

<div class="profile-subscription" *ngIf="profile.getTimeBeforeEndMembership() > 0">
  <p class="profile-subscription__text">
    {{ profile.membership.name }}
  </p>
  <p class="profile-subscription__sub-text">
    {{ profile.membership.price }}$ / {{ 'shared.common.year' | translate }}
  </p>
  <p *ngIf="profile.getTimeBeforeEndMembership() < 30">
    <a class="nt-link" routerLink="/membership/intro">{{ 'shared.buttons.renew_member' | translate }}</a>
  </p>
</div>
<div class="profile-subscription" *ngIf="profile.getTimeBeforeEndMembership() == 0">
  <p class="profile-subscription__text">
    {{ 'profile.no_subscriptions' | translate }}
  </p>
  <p class="profile-subscription__sub-text">
    <a class="nt-link" routerLink="/membership/intro">{{ 'shared.buttons.become_member' | translate }}</a>
  </p>
</div>
