<app-loader *ngIf="!profile"></app-loader>

<div class="profile-page" *ngIf="profile">
  <h1 class="profile-page__title">
    {{ 'profile.welcome' | translate }} {{ profile.first_name }},
  </h1>
  <div class="profile-page__second-title">
    {{ 'profile.sub-title' | translate }}: #{{profile.id}}
  </div>

  <div class="profile-page__content">
    <div class="profile-page__content__left">
      <h2 class="profile-page__sub-title">
        {{ 'profile.personal_informations' | translate }}
      </h2>

      <form (submit)="submitProfile()" [formGroup]="userForm" *ngIf="userForm">
        <app-alert *ngIf="errors" [messages]="errors" type="danger"></app-alert>

        <div class="form-group">
          <label for="first_name" class="nt-form-label">{{ 'shared.form.last_name' | translate }}:</label>
          <input formControlName="first_name" class="nt-form-input" id="first_name" type="text">
          <div class="form-text form-text--right form-text--danger"
               *ngFor="let errorMessage of userForm.controls['first_name'].getError('apiError')">
            {{ errorMessage}}
          </div>
        </div>
        <div class="form-group">
          <label for="last_name" class="nt-form-label">{{ 'shared.form.first_name' | translate }}:</label>
          <input formControlName="last_name" class="nt-form-input" id="last_name" type="text">
          <div class="form-text form-text--right form-text--danger"
               *ngFor="let errorMessage of userForm.controls['last_name'].getError('apiError')">
            {{ errorMessage}}
          </div>
        </div>
        <div class="form-group">
          <label for="birthdate" class="nt-form-label">{{ 'shared.form.birthdate' | translate }}:</label>
          <input [owlDateTimeTrigger]="dt_end"
                 [owlDateTime]="dt_end"
                 formControlName="birthdate"
                 class="nt-form-input"
                 id="birthdate">
          <owl-date-time #dt_end [firstDayOfWeek]="1" pickerType="calendar"></owl-date-time>
          <div class="form-text form-text--right form-text--danger"
               *ngFor="let errorMessage of userForm.controls['birthdate'].getError('apiError')">
            {{ errorMessage}}
          </div>
        </div>
        <div class="form-group">
          <label for="gender" class="nt-form-label">{{ 'shared.form.gender' | translate }}:</label>
          <select formControlName="gender" id="gender" class="nt-form-input">
            <option value="A">{{ 'shared.form.gender_none' | translate }}</option>
            <option value="M">{{ 'shared.form.gender_male' | translate }}</option>
            <option value="F">{{ 'shared.form.gender_female' | translate }}</option>
            <option value="T">{{ 'shared.form.gender_no_binary' | translate }}</option>
          </select>
          <div class="form-text form-text--right form-text--danger"
               *ngFor="let errorMessage of userForm.controls['gender'].getError('apiError')">
            {{ errorMessage}}
          </div>
        </div>
        <button type="submit" class="nt-button">{{ 'shared.buttons.save' | translate }}</button>
      </form>

      <h2 class="profile-page__sub-title">
        {{ 'profile.subscription' | translate }}
      </h2>

      <div class="profile-page__content__left__box" *ngIf="profile.membership">
        <p class="profile-page__content__left__box__text">
          {{ profile.membership.name }}
        </p>
        <p class="profile-page__content__left__box__sub-text">
          {{ profile.membership.price }}$ / {{ 'shared.common.year' | translate }}
        </p>
      </div>
      <div class="profile-page__content__left__box" *ngIf="!profile.membership">
        <p class="profile-page__content__left__box__text">
          {{ 'profile.no_subscriptions' | translate }}
        </p>
        <p class="profile-page__content__left__box__sub-text">
          <a class="nt-link" routerLink="/membership/intro">{{ 'shared.buttons.become_member' | translate }}Devenez membre</a>
        </p>
      </div>

      <h2 class="profile-page__sub-title">
        {{ 'profile.payment_mode' | translate }}
      </h2>

      <div class="profile-page__content__left__cards" *ngIf="listCards && listCards.length">
        <div class="profile-page__content__left__cards__card" *ngFor="let card of listCards">
          <div class="profile-page__content__left__cards__card__title">
            {{ 'shared.form.card_number' | translate }}
          </div>
          <div class="profile-page__content__left__cards__card__number">
            **** **** **** {{ card.last_digits }}
          </div>
          <div class="profile-page__content__left__cards__card__bottom">
            <div>
              <div class="profile-page__content__left__cards__card__title">
                {{ 'shared.form.expiration_date' | translate }}
              </div>
              <div class="profile-page__content__left__cards__card__number">
                {{ card.card_expiry.month }} / {{ card.card_expiry.year }}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="profile-page__content__left__cards" *ngIf="!listCards || listCards && !listCards.length">
        <div class="profile-page__content__left__cards__card">
          <div class="profile-page__content__left__cards__card__title">
            {{ 'profile.no_payment_mode' | translate }}
          </div>
        </div>
      </div>

      <h2 class="profile-page__sub-title">
        {{ 'profile.deactivation' | translate }}
      </h2>

      <div class="profile-page__content__left__account">
        <div class="profile-page__content__left__account__content">
          <div [innerHTML]="'profile.deactivation_card.text' | translate">
          </div>

          <a class="nt-link profile-page__content__left__account__content__link" appMyModalOpen='form_deactivate_account'>
            {{ 'profile.deactivation_card.link' | translate }}
          </a>
        </div>
      </div>
    </div>
    <div class="profile-page__content__right">
      <div class="profile-page__content__right__top">
        <div class="profile-page__content__right__top__box">
          <p class="profile-page__content__right__top__box__number">
            {{ profile.tickets}}
          </p>
          <div class="profile-page__content__right__top__box__text">
            {{ 'profile.prepaid_bloc' | translate }}
          </div>
          <p class="profile-page__content__right__top__box__sub-text">
            {{ 'profile.prepaid_bloc_subtext' | translate }}
          </p>
        </div>
        <div class="profile-page__content__right__top__box profile-page__content__right__top__box--main">
          <p class="profile-page__content__right__top__box__number">
            {{ profile.getTimeBeforeEndMembership() }}
          </p>
          <div class="profile-page__content__right__top__box__text">
            {{ 'profile.remaining_days' | translate }}
          </div>
          <p class="profile-page__content__right__top__box__sub-text">
            {{ 'profile.remaining_days_subtext' | translate }}
          </p>
        </div>
      </div>
      <div class="profile-page__content__right__stats">
        <div class="profile-page__content__right__stats__done">
          <p class="profile-page__content__right__stats__done__number">
            {{ getTotalEarnTomatoes() }}
            <img src="../../../../assets/images/icons/icon_tomato.svg" class="profile-page__content__right__stats__done__number__icon"/>
          </p>
          <p class="profile-page__content__right__stats__done__text">
            {{ 'profile.accomplished' | translate }}
          </p>
          <p class="profile-page__content__right__stats__done__sub-text">
            {{ 'profile.accomplished_subtext' | translate }}
          </p>
        </div>
        <div class="profile-page__content__right__stats__future">
          <p class="profile-page__content__right__stats__future__number">
            {{ getTotalFutureTomatoes() }}
            <img src="../../../../assets/images/icons/icon_tomato.svg" class="profile-page__content__right__stats__future__number__icon"/>
          </p>
          <p class="profile-page__content__right__stats__future__text">
            {{ 'profile.planned' | translate }}
          </p>
          <p class="profile-page__content__right__stats__future__sub-text">
            {{ 'profile.planned_subtext' | translate }}
          </p>
        </div>
      </div>
      <div class="profile-page__content__right__blocs">
        <h2 class="profile-page__sub-title">
          {{ 'profile.list_blocs_title' | translate }}
        </h2>

        <table class="profile-page__content__right__blocs__table">
          <thead class="profile-page__content__right__blocs__table__header">
            <tr>
              <th>
                {{ 'shared.common.date' | translate }}
              </th>
              <th>
                {{ 'shared.common.space' | translate }}
              </th>
              <th>
                {{ 'shared.common.hours' | translate }}
              </th>
              <th>
                <img src="../../../../assets/images/icons/icon_tomato.svg" class="profile-page__content__right__blocs__table__header__icon" />
              </th>
              <th>
                {{ 'shared.common.cancel' | translate }}
              </th>
            </tr>
          </thead>
          <tbody *ngIf="getDisplayedReservation()" class="profile-page__content__right__blocs__table__body">
            <tr *ngFor="let reservation of getDisplayedReservation()">
              <td>
                {{reservation.timeslot_details.getStartDay()}}
              </td>
              <td>
                <p>
                  {{reservation.timeslot_details.workplace.name}}
                </p>
                {{reservation.timeslot_details.workplace.address_line1}}<br/>
                <span *ngIf="reservation.timeslot_details.workplace.address_line2">
                  {{reservation.timeslot_details.workplace.address_line2}}<br/>
                </span>
                {{reservation.timeslot_details.workplace.city}}, {{reservation.timeslot_details.workplace.state_province}} {{reservation.timeslot_details.workplace.postal_code}}
              </td>
              <td>
                {{reservation.timeslot_details.getStartTime()}} {{ 'shared.common.to' | translate }} {{reservation.timeslot_details.getEndTime()}}
              </td>
              <td>
                4
              </td>
              <td>
                <a (click)="askToCancelReservation(reservation)">
                  <img src="assets/images/icons/icon_exit.svg"
                       alt="Annuler"
                       class="profile-page__content__right__blocs__table__body__icon"/>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
        <a class="profile-page__content__right__blocs__action" routerLink="/reservation/{{listWorkplaces[0].id}}" *ngIf="listWorkplaces">
          <i class="icon icon-plus icon--2x"></i>
          {{ 'profile.add_blocs' | translate }}
        </a>
        <a *ngIf="!displayAll" class="profile-page__content__right__blocs__link nt-link" (click)="setDisplayAll(true)">
          {{ 'profile.display_old_blocs' | translate }}
        </a>
        <a *ngIf="displayAll" class="profile-page__content__right__blocs__link nt-link" (click)="setDisplayAll(false)">
          {{ 'profile.hide_old_blocs' | translate }}
        </a>
      </div>
      <div class="profile-page__content__right__retirement-reservations">
        <h2 class="profile-page__sub-title">
          {{ 'profile.list_retirement_reservations_title' | translate }}
        </h2>

        <div class="profile-page__content__right__retirement-reservations__list profile-page__content__right__retirement-reservations__list--loading" *ngIf="!getDisplayedRetirementReservation()">
          <app-loader></app-loader>
        </div>
        <div class="profile-page__content__right__retirement-reservations__list profile-page__content__right__retirement-reservations__list--empty" *ngIf="getDisplayedRetirementReservation().length === 0">
          Aucune retraite prévue
        </div>
        <div class="profile-page__content__right__retirement-reservations__list" *ngIf="getDisplayedRetirementReservation().length">
          <div class="profile-page__content__right__retirement-reservations__list__item"
               *ngFor="let retirementReservation of getDisplayedRetirementReservation()"
               (click)="openRetirementReservation(retirementReservation.id)">
            <div class="profile-page__content__right__retirement-reservations__list__item__title">
              <div class="profile-page__content__right__retirement-reservations__list__item__title__text">
                {{ retirementReservation.retirement_details.name }}
              </div>

              <div *ngIf="retirementReservationOpen === retirementReservation.id" class="profile-page__content__right__retirement-reservations__list__item__title__tomatoes">
                20 <i class="icon icon-tomato icon--3x"></i>
              </div>
            </div>
            <div class="profile-page__content__right__retirement-reservations__list__item__description">
              <p>
                {{ retirementReservation.retirement_details.details }}
              </p>
              <p>
                {{ retirementReservation.retirement_details.getDateInterval() }}
              </p>
              <div class="profile-page__content__right__retirement-reservations__list__item__description__more" *ngIf="retirementReservationOpen === retirementReservation.id">
                <b>Début:</b> {{retirementReservation.retirement_details.getStartTime()}}<br/>
                <b>Fin:</b> {{retirementReservation.retirement_details.getEndTime()}}<br/>
                <b>Temps:</b> La fin de semaine<br/>
                <b>Animation:</b> {{retirementReservation.retirement_details.activity_language}}<br/>
                <b>Particularités:</b> Aucune<br/>
                <b>Tarif:</b> {{retirementReservation.retirement_details.price}}$CAN<br/>
              </div>
            </div>
            <div class="profile-page__content__right__retirement-reservations__list__item__actions">
              <a class="profile-page__content__right__retirement-reservations__list__item__actions__item">
                <i class="icon icon-form icon--3x"></i>
              </a>
              <a class="profile-page__content__right__retirement-reservations__list__item__actions__item">
                <i class="icon icon-transfer icon--3x"></i>
              </a>
              <a class="profile-page__content__right__retirement-reservations__list__item__actions__item">
                <i class="icon icon-times icon--3x"></i>
              </a>
            </div>
          </div>
        </div>
        <a class="profile-page__content__right__retirement-reservations__action" routerLink="/retirements">
          <i class="icon icon-plus icon--2x"></i>
          {{ 'profile.add_retirement_reservations' | translate }}
        </a>
        <a *ngIf="!displayAllRetirementReservation" class="profile-page__content__right__retirement-reservations__link nt-link" (click)="setDisplayAllRetirementReservation(true)">
          {{ 'profile.display_old_retirement_reservations' | translate }}
        </a>
        <a *ngIf="displayAllRetirementReservation" class="profile-page__content__right__retirement-reservations__link nt-link" (click)="setDisplayAllRetirementReservation(false)">
          {{ 'profile.hide_old_retirement_reservations' | translate }}
        </a>
      </div>
    </div>
  </div>
</div>

<app-nt-modal name="form_deactivate_account"
              typeModal="danger"
              title="{{ 'profile.deactivate_profile' | translate }}"
              button2Label="{{ 'shared.buttons.deactivate' | translate }}"
              (button2)="deactivateAccount()"
              maxWidth="600px">
  <p>
    {{ 'profile.deactivate_profile_text_1' | translate }}
  </p>
  <p>
    {{ 'profile.deactivate_profile_text_2' | translate }}
  </p>
</app-nt-modal>

<app-nt-modal name="form_cancel_reservation"
              typeModal="danger"
              title="{{ 'profile.cancel_reservation' | translate }}"
              button2Label="{{ 'profile.cancel_reservation_button' | translate }}"
              (button2)="cancelReservation()"
              maxWidth="600px"
              [autoClose]="true">
  <p>
    {{ 'profile.cancel_reservation_text_1' | translate }}

  </p>
  <p>
    {{ 'profile.cancel_reservation_text_2' | translate }}
  </p>
</app-nt-modal>
