<app-loader *ngIf="!profile"></app-loader>

<div class="profile-page" *ngIf="profile">
  <app-profile-reservation-open *ngIf="openVirtualReservation" [reservation]="openVirtualReservation"></app-profile-reservation-open>
  <div class="profile-page__body">
    <h1 class="profile-page__body__title">
      {{ 'profile.welcome' | translate }} {{ profile.first_name }},
    </h1>
    <div class="profile-page__body__second-title">
      {{ 'profile.sub-title' | translate }}: #{{profile.id}}
    </div>

    <div class="profile-page__body__content">
      <div class="profile-page__body__content__left">
        <div class="profile-page__body__content__left__edit">
          <app-profile-edit></app-profile-edit>
        </div>

        <div class="profile-page__body__content__left__subscription">
          <app-profile-subscription></app-profile-subscription>
        </div>

        <div class="profile-page__body__content__left__coupons">
          <app-profile-coupons></app-profile-coupons>
        </div>

        <div class="profile-page__body__content__left__cards">
          <app-profile-cards></app-profile-cards>
        </div>

        <div class="profile-page__body__content__left__account">
          <app-profile-deactivate></app-profile-deactivate>
        </div>
      </div>

      <div class="profile-page__body__content__right">
        <div class="profile-page__body__content__right__top">
          <app-profile-stats></app-profile-stats>
        </div>

        <div class="profile-page__body__content__right__stats">
          <app-profile-tomatoes [totalPastTomatoes]="getTotalPastTomatoes()" [totalFutureTomatoes]="getTotalFutureTomatoes()"></app-profile-tomatoes>
        </div>

        <div class="profile-page__body__content__right__separator"></div>

        <div class="profile-page__body__content__right__retreats">
          <app-profile-retreats [type]='"virtual"' (openVirtualReservation)="openVirtualReservation = $event" (totalPastTomatoes)="totalPastRetreatTomatoes = $event" (totalFutureTomatoes)="totalFutureRetreatTomatoes = $event"></app-profile-retreats>
        </div>

        <div class="profile-page__body__content__right__retreats">
          <app-profile-retreats [type]='"physical"' (openVirtualReservation)="openVirtualReservation = $event" (totalPastTomatoes)="totalPastRetreatTomatoes = $event" (totalFutureTomatoes)="totalFutureRetreatTomatoes = $event"></app-profile-retreats>
        </div>

        <div class="profile-page__body__content__right__timeslots">
          <app-profile-timeslots (totalPastTomatoes)="totalPastTimeslotTomatoes = $event" (totalFutureTomatoes)="totalFutureTimeslotTomatoes = $event"></app-profile-timeslots>
        </div>
      </div>
    </div>
  </div>
</div>

