@import '../../../../assets/scss/theme';

.profile-page {
  padding: 100px 40px;
  background-color: white;
  min-height: 100vh;

  &__title {
    font-size: 35px;
    font-weight: 700;
  }

  &__second-title {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 20px;
  }

  &__sub-title {
    font-size: 0.8em;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 40px;
  }

  &__content {
    display: flex;

    &__left {
      flex: 1;
      padding: 40px 20px 0 0;

      &__box {
        flex: 1;
        padding: 20px;
        margin-top: 20px;
        border: 1px solid $border-calendar;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        &__text {
          font-size: 1.1em;
          text-transform: uppercase;
          font-weight: 700;
        }

        &__sub-text {
          margin-top: 10px;
          font-size: 0.8em;
        }
      }

      &__cards {
        &__card {
          border: 1px solid $border-calendar;
          padding: 20px;
          margin-top: 20px;

          &__title {
            font-size: 0.9em;
            font-weight: 700;
            text-transform: uppercase;
          }

          &__number {
            margin-top: 10px;
            margin-bottom: 20px;
          }

          &__bottom {
            display: flex;
          }
        }
      }

      &__account {
        &__content {
          border: 1px solid $border-calendar;
          margin-top: 20px;
          padding: 20px;

          &__link {
            margin-top: 30px;
          }
        }
      }
    }

    &__right {
      flex: 1;
      padding: 40px 0 0 20px;

      &__top {
        display: flex;

        &__box {
          flex: 1;
          background-color: $nt-4;
          padding: 30px;
          border: 1px solid lightgrey;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          align-items: center;

          &:last-child {
            margin-left: 20px;
          }

          &--main {
            background-color: $nt-8;
          }

          &__number {
            font-size: 45px;
            font-weight: 700;
          }

          &__text {
            font-size: 1.1em;
            text-transform: uppercase;
            font-weight: 700;
            text-align: center;
          }

          &__sub-text {
            margin-top: 10px;
            font-size: 0.8em;
          }
        }
      }

      &__stats {
        display: flex;
        border: 1px solid $border-calendar;
        margin-top: 20px;

        &__done {
          flex: 2;
          text-align: center;
          padding: 30px;

          &__number {
            font-size: 45px;
            font-weight: 700;
            display: flex;
            justify-content: center;
            align-items: center;

            &__icon {
              width: 45px;
              margin-left: 10px;
            }
          }

          &__text {
            font-size: 1.1em;
            text-transform: uppercase;
            font-weight: 700;
          }

          &__sub-text {
            margin-top: 10px;
            font-size: 0.8em;
          }
        }

        &__future {
          flex: 1;
          text-align: center;
          padding: 30px;
          border-left: 1px solid $border-calendar;

          &__number {
            font-size: 45px;
            font-weight: 700;
            display: flex;
            justify-content: center;
            align-items: center;

            &__icon {
              width: 45px;
              margin-left: 10px;
            }
          }

          &__text {
            font-size: 1.1em;
            text-transform: uppercase;
            font-weight: 700;
          }

          &__sub-text {
            margin-top: 10px;
            font-size: 0.8em;
          }
        }
      }

      &__blocs {
        &__table {
          border-collapse: collapse;
          margin-top: 10px;
          width: 100%;
          text-align: center;

          &__header {
            vertical-align: center;
            font-weight: 600;

            &__icon {
              width: 25px;
            }
          }

          &__body {
            vertical-align: center;

            &__icon {
              width: 20px;
            }
          }

          & td, th {
            border: 1px solid $border-calendar;
            padding: 15px;

            &:first-letter {
              text-transform: uppercase;
            }
          }
        }

        &__action {
          font-size: 20px;
          font-weight: 500;
          padding: 20px;
          border-style: solid;
          border-color: $border-calendar;
          border-width:  0 1px 1px 1px;
          display: flex;
          justify-content: center;
          align-items: center;
          text-transform: uppercase;
          text-decoration: none;

          &:hover {
            background-color: $nt-13;
            color: white;
          }
        }

        &__link {
          margin-top: 20px;
        }
      }

      &__retirement-reservations {
        &__list {
          margin-top: 10px;
          display: flex;
          flex-direction: column;
          border: 1px solid $border-calendar;

          &--empty {
            justify-content: center;
            align-items: center;
            padding: 20px;
          }

          &__item {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            border-bottom: 1px solid $border-calendar;

            &:last-child {
              border: none;
            }

            &:hover {
              background-color: $nt-2;
              cursor: pointer;
            }

            & > * {
              margin: 15px;
            }

            &__title {
              flex: 1;
              display: flex;
              flex-direction: column;
              justify-content: flex-start;
              align-items: center;

              &__text {
                text-transform: uppercase;
                font-weight: 900;
              }

              &__tomatoes {
                flex: 1;
                margin-top: 30px;
                display: flex;
                align-items: center;
              }
            }

            &__description {
              flex: 2;

              &__more {
                margin-top: 30px;
              }
            }

            &__actions {
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              font-size: 20px;

              &__item {
                margin-right: 10px;
                text-decoration: none;

                &:last-child {
                  margin: 0;
                }
              }
            }
          }
        }

        &__action {
          font-size: 20px;
          font-weight: 500;
          padding: 20px;
          border-style: solid;
          border-color: $border-calendar;
          border-width:  0 1px 1px 1px;
          display: flex;
          justify-content: center;
          align-items: center;
          text-transform: uppercase;
          text-decoration: none;

          &:hover {
            background-color: $nt-13;
            color: white;
          }
        }

        &__link {
          margin-top: 20px;
        }
      }
    }
  }
}

.form-exchange-retirement {

  &__title {
    text-transform: uppercase;
    font-weight: 900;
    font-size: $font-size-normal;
    margin-top: 20px;
  }

  &__icon {
    text-align: center;
    margin-top: 20px;
  }
}

.form-cancel-reservation-retirement {
  &__retirement {
    border: 1px solid $border-calendar;
    padding: 20px;
    margin: 20px 0;
  }
}
@media only screen and (max-width: 1300px) {
  .profile-page {
    &__title {
      padding-left: 20px;
    }

    &__second-title {
      padding-left: 20px;
    }

    &__content {
      flex-direction: column-reverse;

      &__left {
        padding: 20px 20px;
      }

      &__right {
        padding: 20px 20px;
      }
    }
  }
}

@media only screen and (max-width: 700px) {
  .profile-page {
    &__content {
      &__right {
        &__top {
          flex-direction: column;

          &__box {
            &:last-child {
              margin: 20px 0;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 700px) {
  .profile-page {
    padding: 100px 10px;

    &__content {

      &__right {
        &__stats {
          flex-direction: column;

          &__future {
            border-top: 1px solid $border-calendar;
            border-left: none;
          }
        }

        &__blocs {
          &__table {
            & td, th {
              padding: 2px;
            }
          }
        }

        &__retirement-reservations {
          &__list {
            &__item {
              flex-wrap: wrap;
              &__title {
                order: 1;
                flex: none;
                align-items: flex-start;
              }

              &__description {
                order: 3;
                flex: none;
                width: 100%;
              }

              &__actions {
                order: 2;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .profile-page {

    &__content {
      &__right {
        &__blocs {
          &__action {
            font-size: 0.7em;
          }
        }

        &__retirement-reservations {
          &__action {
            font-size: 0.7em;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 430px) {
  .profile-page {
    padding: 100px 5px;

    &__content {
      &__left {
        padding: 20px 5px;
      }

      &__right {
        padding: 20px 5px;
        &__blocs {
          &__table {
            font-size: 0.7em;
          }

          &__action {
            font-size: 0.7em;
          }
        }
      }
    }
  }
}
