<div class="validate-page">
  <div class="validate-page__responses">
    <div *ngIf="profile && flagSuccess">
      <h1>{{'validate.email.hello' | translate}} {{profile.first_name}},</h1>
      <p>{{'validate.email.messageSuccess' | translate}}</p>
    </div>

    <div *ngIf="!flagSuccess">
      <h1>{{'validate.email.hello' | translate}},</h1>
      <p>{{'validate.email.messageError' | translate}}</p>
      <p><b>info@thesez-vous.com</b></p>
    </div>
    <p>{{'validate.email.thanking' | translate}}</p>
  </div>
</div>
