<div class="payment-flow-informations">
  <app-title [level]="4" text="Informations complémentaires" class="payment-flow-informations__texts"></app-title>
  <app-title [level]="9"  class="payment-flow-informations__texts"
             text="Vous devez répondre aux questions suivantes pour compléter vos informations personnelles.
             Elles seront enregistrées à votre profil pour vous éviter de remplir à nouveau cette section
             lors de votre prochain achat."></app-title>

  <app-form [form]="personalInformationForm" [fields]="personalInformationFields" [errors]="personalInformationErrors"></app-form>

  <app-title [level]="9"  class="payment-flow-informations__texts"
             text="IMPORTANT: L'équipe de l'Abbaye St-Benoit du Lac n'a pas la capacité d'adapter le menu aux restrictions alimentaires.
              Un seul menu est servi sans possibilité d'ajustement. Merci d'en ternir compte lors de votre inscription."></app-title>
  <div class="payment-flow-informations__actions">
    <app-button text="Precedent" [type]="3" (click)="goBack()"></app-button>
    <app-button text="Continuer" [type]="1" (click)="goForward()"></app-button>
  </div>
</div>
