<div class="payment-flow-informations">
  <app-title [level]="4" text="{{'payment-flow-informations.title' | translate}}" class="payment-flow-informations__texts"></app-title>
  <app-title [level]="9"  class="payment-flow-informations__texts"
             text="{{'payment-flow-informations.text' | translate}}"></app-title>

  <app-form [form]="personalInformationForm" [fields]="personalInformationFields" [errors]="personalInformationErrors"></app-form>

  <app-title [level]="9"  class="payment-flow-informations__texts"
             text="{{'payment-flow-informations.note' | translate}}"></app-title>
  <div class="payment-flow-informations__actions">
    <app-button text="{{'payment-flow-informations.button_previous' | translate}}" [type]="3" (click)="goBack()"></app-button>
    <app-button text="{{'payment-flow-informations.button_next' | translate}}" [type]="1" (click)="goForward()"></app-button>
  </div>
</div>
