<div class="admin-retirements-page">
  <div class="admin-retirements-page__table">
    <app-my-table [settings]="settings"
                  [data]="listRetirements"
                  (addButton)="OpenModalCreateRetirement()"
                  (removeItem)="removeRetirement($event)"
                  (selectItem)="redirectToRetirement($event.id)"
                  (changePage)="changePage($event)"
                  [confirmationOnDeletion]="false">
    </app-my-table>
  </div>
</div>

<app-nt-modal name="form_retirements"
              typeModal="success"
              (button2)="submitRetirement()"
              maxWidth="600px">
  <app-form [form]="retirementForm" [fields]="fields" [errors]="retirementErrors"></app-form>
</app-nt-modal>

<app-nt-modal name="validation_deletion"
              typeModal="success"
              (button2)="removeRetirement(null, true)"
              maxWidth="600px"
              [autoClose]="true"
              [activated]="isSecurityOnDeletionValid()">
  <p>
    La suppression d'un espace de travail peut avoir de très lourde conséquences dont de nombreux remboursements et pertes de données.
  </p>
  <p>
    En supprimant cet espace de travail vous prenez la responsabilité des conséquence et devriez donc d'abord en discuter avec une personne ressource de votre organisation.
  </p>
  <p>
    Veuillez saisir le nom complet de l'espace de travail si vous souhaitez toujours le supprimer.
  </p>
  <div class="form-group">
    <label class="nt-form-label">Nom de l'espace de travail :</label>
    <input class="nt-form-input" type="text" [(ngModel)]="securityOnDeletion"/>
  </div>
</app-nt-modal>
