@import "../../../assets/scss/_theme.scss";

.modal-component {
  background: rgba(0,0,0,0.6);
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;

    &__reveal {
      background: white;
      position: relative;

      display: flex;
      flex-direction: column;

      min-width: 500px;
      min-height: 150px;

      &__header{
        padding: 10px;
        font-weight: 900;
        color: white;
        background-color: $color-main;
      }

      &__content {
        padding: 20px;
        flex: 1;
      }

      &__action {
        display: flex;

        &__button {
          flex: 1;
          padding: 10px 15px;
          text-align: center;
          background-color: $color-neutral-background;
          border: 1px solid $color-neutral-border;
          color: $color-neutral-text;
          text-decoration: none;

          &:hover {
            cursor: pointer;
            background-color: $color-neutral-background-hover;
            color: $color-neutral-text-hover;
          }

          &--cancel {
            background-color: $color-warning-background;
            color: $color-warning-text;
            border: 1px solid $color-warning-border;

            &:hover {
              background-color: $color-warning-background-hover;
              color: $color-warning-text-hover;
            }
          }

          &--success {
            background-color: $color-success-background;
            color: $color-success-text;
            border: 1px solid $color-success-border;

            &:hover {
              background-color: $color-success-background-hover;
              color: $color-success-text-hover;
            }
          }

          &--danger {
            background-color: $color-danger-background;
            color: $color-danger-text;
            border: 1px solid $color-danger-border;

            &:hover {
              background-color: $color-danger-background-hover;
              color: $color-danger-text-hover;
            }
          }
        }
      }
    }
  }
}
