<div class="modal-component" (click)="clickOverlay($event)" [hidden]="!show">
  <div class="modal-component__content">
    <div class="modal-component__content__reveal">
      <div class="modal-component__content__reveal__header">
        {{ title }}
      </div>
      <div class="modal-component__content__reveal__content" #modalContent>
        <ng-content></ng-content>
      </div>
      <div *ngIf="errorMessage" class="modal-component__content__reveal__content">
        {{ errorMessage | json }}
      </div>
      <div class="modal-component__content__reveal__action">
        <a class="modal-component__content__reveal__action__button modal-component__content__reveal__action__button--cancel"
           (click)="clickButton1()">Cancel</a>
        <a *ngIf="!isModalInformation"
           class="modal-component__content__reveal__action__button"
           [ngClass]="{'modal-component__content__reveal__action__button--success': typeModal === 'success', 'modal-component__content__reveal__action__button--danger': typeModal === 'danger'}"
           (click)="clickButton2()">{{ button2Label }}</a>
      </div>
    </div>
  </div>
</div>
