<div class="home-page">
  <div class="home-page__splash-screen">
    <div class="home-page__splash-screen__title">
      Thesez-vous?<br/>
      <div class="home-page__splash-screen__title__sub">
        <a href="#">En savoir plus</a>
      </div>
    </div>
    <div class="home-page__splash-screen__register">
      <a class="home-page__splash-screen__register__button button" href="#">Devenir membre</a>
    </div>
  </div>
  <div class="home-page__retraite">
    <div class="home-page__retraite__item">
      <iframe src="https://www.youtube-nocookie.com/embed/lOacPomjJ50?rel=0"
              frameborder="0" allow="autoplay; encrypted-media"
              allowfullscreen></iframe>
    </div>
    <div class="home-page__retraite__item">
      Plusieurs activités spontanées se déroulent aux quatre coins du Québec via
      <a href="http://www.thesez-vous.com/blogue/thesez-vous-ensemble">Thèsez-vous ensemble.</a>
    </div>
  </div>
  <div class="home-page__espace">
    <div class="home-page__espace__details">
      <div class="home-page__espace__details__title">
        Espace della vita
      </div>
      <div class="home-page__espace__details__description">
        Necessitatibus et vel sed temporibus totam eum iure. Et ducimus laboriosam eum. Occaecati sint alias tempora ut explicabo ut quod. Dolorem qui vel assumenda. Temporibus optio quibusdam at et aut corporis quis quia.

        Est ipsa recusandae quam. Molestiae placeat non ut numquam aut dolores et laudantium. Consequatur corrupti ipsum nihil quibusdam omnis molestias.
      </div>
    </div>
    <div class="home-page__espace__carte">

    </div>
  </div>
</div>
<p class="alert alert--info">
  Hello world !
</p>
<p class="alert">
  SCSS and layout are implemented
</p>
