<div class="membership-page">
  <div class="membership-page__column1"></div>
  <div class="membership-page__column2">
    <div class="membership-page__column2__content">
      <h1 class="membership-page__column2__content__title">
        {{ 'membership.title' | translate }}
      </h1>
      <app-login-form (isConnected)="authentified()" class="membership-page__column2__content__login"></app-login-form>
      <app-ckeditor-container [height]="'270px'" [pageKey]="'home-page'" class="membership-page__column2__content__CKEditor"></app-ckeditor-container>
    </div>
  </div>
</div>
