@import "../../../../assets/scss/_easings.scss";
@import "../../../../assets/scss/_theme.scss";

.home-page {
  &__splash-screen {
    width: 100%;
    height: calc(100vh - 50px);
    background-image: linear-gradient(
          rgba(0, 0, 0, 0.5),
          rgba(0, 0, 0, 0.5)
      ),
      url('../../../../assets/images/home_background.jpg'
    );
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    &__title {
      text-align: center;
      font-weight: 300;
      font-size: 110px;
      color: white;
      text-transform: uppercase;
      letter-spacing: 15px;
      text-shadow: 0 0 3px white;
      margin: 0 auto;

      &__sub {
        font-size: $font-little;
        letter-spacing: 5px;
        text-align: right;
        margin-right: 20px;
        color: white;
        text-shadow: 0 0 1px white;

        & a {
          color: white;
          text-decoration: none;
          border-bottom: 1px solid white;

          &:hover {
            color: $color-main;
            border-color: $color-main;
          }
        }
      }
    }

    &__register {
      text-align: center;

      &__button {
        padding: 25px 35px;
        color: white;
        font-size: 16px;
        font-weight: 700;
        border: 3px solid white;
        border-radius: 3px;
        text-decoration: none;
        text-transform: uppercase;

        background-color: rgba(0, 0, 0, 0.5);
        transition: all $ease-inout-sine 300ms;

        &:hover {
          background-color: white;
          color: $color-main;
        }
      }
    }
  }

  &__retraite {
    padding: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    &__video-content {
      flex: 2;
      max-width: 800px;

      & video {
        width: 100%;
        height: auto;
      }
    }

    &__description {
      flex: 1;
      font-size: 16px;
      padding: 10px;
      text-align: center;
      max-width: 500px;
    }
  }

  &__espace {
    min-height: 500px;
    display: flex;
    background-color: $color-main;
    color: white;
    padding: 10px 10px 10px 0;
    font-size: 16px;
    box-shadow: 15px 0 20px grey;
    width: calc(100% - 80px);
    margin: auto;

    &__select {
      display: none;
      height: 50px;
      border-bottom: 5px solid $color-main;
    }

    &__details {
      flex: 1;
      border-right: 1px solid lightgrey;
      padding: 20px;
      text-align: justify;

      &__title {
        color: white;
      }

      &__register {
        margin-top: 40px;
        text-align: center;
      }
    }

    &__carte {
      flex: 2;
      background-image: url('../../../../assets/images/carte.png');
      background-position: center center;
    }
  }

  &__sponsors {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 40px 0;

    &__description {
      display: flex;
      justify-content: center;
      padding: 0 20px;

      &__text {
        max-width: 1000px;
      }
    }

    &__list {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      padding: 20px;

      &__sponsor {
        margin: 40px;

        &__title {
          width: 100%;
          font-size: 14px;
          text-align: center;
          color: $color-main;
        }

        &__logo {
          height: 70px;
          max-width: 100%;
        }
      }
    }
  }
}


@media only screen and (max-width: 768px) {
  .home-page {
    &__splash-screen{
      &__title {
        font-size: 50px;

        &__sub {
          text-align: center;
        }
      }

      &__register {
        &__button {
          padding: 5px 15px;
        }
      }
    }

    &__retraite {
      height: inherit;
      flex-direction: column;

      &__description {
        max-width: inherit;
      }
    }

    &__espace {
      height: inherit;
      flex-direction: column;
      box-shadow: none;
      width: inherit;
      margin: inherit;

      &__select {
        display: block;
      }

      &__details {
        border: none;

        &__title {
          font-size: 18px;
        }
      }

      &__carte {
        display: none;
      }
    }

    &__sponsors {
      &__list {
        &__sponsor {
          margin: 10px;
        }
      }
    }
  }
}
