<div class="membership-done-page">
  <div class="membership-done-page__content">
    <div class="membership-done-page__content__column1">
      <div>
        <h2 class="nt-title">
          {{'membership-done.title' | translate}}
        </h2>
      </div>
      <div class="membership-done-page__content__column1__promotion">
        {{'membership-done.text_1' | translate}}
      </div>
      <div class="membership-done-page__content__column1__text">
        {{'membership-done.text_2' | translate}}
      </div>
      <div class="membership-done-page__content__column1__profil">
        <a routerLink="/profile" class="nt-button">
          {{'membership-done.link_1' | translate}}
        </a>
      </div>
      <div class="membership-done-page__content__column1__link">
        <a href="http://www.thesez-vous.com/" class="nt-link">
          {{'membership-done.link_2' | translate}}
        </a>
      </div>
    </div>
    <img src="../../../../assets/images/felicitations.svg" class="membership-done-page__content__column2">
  </div>
</div>
