<div class="membership-done-page">
  <div class="membership-done-page__content">
    <div class="membership-done-page__content__column1">
      <div>
        <h2 class="nt-title">
          Félicitations!
        </h2>
      </div>
      <div class="membership-done-page__content__column1__promotion">
        Vous faites maintenant partie de la famille Thèsez-vous!
      </div>
      <div class="membership-done-page__content__column1__text">
        La facture a été envoyée a votre adresse courriel.
      </div>
      <div class="membership-done-page__content__column1__profil">
        <a routerLink="/profile" class="nt-button">
          Voir mon profil
        </a>
      </div>
      <div class="membership-done-page__content__column1__link">
        <a href="http://www.thesez-vous.com/" class="nt-link">
          Nos services
        </a>
      </div>
    </div>
    <img src="../../../../assets/images/felicitations.svg" class="membership-done-page__content__column2">
  </div>
</div>
