<app-loader *ngIf="!workplace"></app-loader>

<div class="admin-workplace-page" *ngIf="workplace">
  <div class="admin-workplace-page__header">
      <div class="admin-workplace-page__header__name">
        {{ workplace.name }}
        <a class="admin-workplace-page__header__name__edit button" (click)="OpenModalEditWorkplace()">
          <i class="fas fa-pencil-alt"></i> Éditer les informations generale
        </a>
      </div>
      <div class="admin-workplace-page__header__informations">
        <i class="fas fa-location-arrow"></i> {{ workplace.getAddress() }}<br/>
      </div>
      <div class="admin-workplace-page__header__informations">
        <i class="fas fa-building"></i> {{ workplace.seats }} places disponibles
      </div>
      <p class="admin-workplace-page__header__details">
        {{ workplace.details }}
      </p>
  </div>

  <app-loader *ngIf="!listPictures"></app-loader>
  <div class="admin-workplace-page__pictures" *ngIf="listPictures">
    <h2 class="nt-title">Photo de l'espace</h2>
    <div class="admin-workplace-page__pictures__uploader">
      <app-file-upload (newFile)="onUploadFinished($event)"
                       (deleteFile)="onRemoved($event)"
                       [files]="listPictures">
      </app-file-upload>
    </div>
  </div>

  <div class="admin-workplace-page__periods">
    <app-table-periods [workplace]="workplace"></app-table-periods>
  </div>
</div>

<app-nt-modal name="form_workplaces"
              typeModal="success"
              (button2)="submitWorkplace()"
              maxWidth="600px">
  <app-form [form]="workplaceForm" [fields]="workplaceFields" [errors]="errors"></app-form>
</app-nt-modal>
