<div class="payment-flow-mode">
  <app-title [level]="4" text="Mode de paiement" class="payment-flow-mode__texts"></app-title>

  <app-cart-payment *ngIf="!havePaymentMethod()"></app-cart-payment>

  <div class="form-group form-group--large" *ngIf="havePaymentMethod()">
    <app-title [level]="7" text="Carte bancaire"></app-title>
    <input type="text" disabled="disabled" [value]="paymentInfo" class="nt-form-input"/>
    <app-link text="Modifier le mode de paiement" (onClick)="resetPaymentMode()"></app-link>
  </div>

  <div class="payment-flow-mode__actions">
    <app-button text="Precedent" [type]="3" (click)="goBack()"></app-button>
    <app-button text="Continuer" [type]="1" (click)="goForward()" [disabled]="!havePaymentMethod()"></app-button>
  </div>
</div>
