<div class="payment-flow-mode">
  <app-title [level]="4" text="{{'payment-flow-mode.title1' | translate}}" class="payment-flow-mode__texts"></app-title>

  <app-cart-payment *ngIf="!havePaymentMethod() && !isFree()"></app-cart-payment>

  <div class="form-group form-group--large" *ngIf="havePaymentMethod() && !isFree()">
    <app-title [level]="7" text="{{'payment-flow-mode.title2' | translate}}"></app-title>
    <input type="text" disabled="disabled" [value]="paymentInfo" class="nt-form-input"/>
    <app-link text="{{'payment-flow-mode.link' | translate}}" (onClick)="resetPaymentMode()"></app-link>
  </div>

  <app-alert type="success" *ngIf="isFree()" [messages]="[errorMessageIfFree]"></app-alert>
  <div class="payment-flow-mode__actions">
    <app-button text="{{'payment-flow-mode.actions_btn1' | translate}}" [type]="3" (click)="goBack()"></app-button>
    <app-button text="{{'payment-flow-mode.actions_btn2' | translate}}" [type]="1" (click)="goForward()" [disabled]="!canGoForward()"></app-button>
  </div>
</div>
