@import "../../../assets/scss/_theme.scss";

.modal-component {
  background: rgba(0,0,0,0.6);
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;

    &__reveal {
      background: $nt-background-color;
      position: relative;

      display: flex;
      flex-direction: column;

      max-width: 90%;
      min-height: 150px;

      &__header{
        padding: 18px;
        font-weight: 900;
        color: $nt-text;
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        height: 60px;

        &__cancel {
          width: 30px;

          &:hover {
            cursor: pointer;
          }
        }
      }

      &__content {
        padding: 20px 40px;
        flex: 1;

        max-height: 80vh;
        overflow: auto;

        &__button {
          text-align: center;
          margin: 20px 0;
          width: 100%;
        }
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .modal-component {
    &__content {
      &__reveal {
        height: calc(100% - 20px);
        max-width: calc(100% - 20px);

        &__content {
          padding: 10px;
        }
      }
    }
  }
}
