<div class="modal-component" (click)="clickOverlay($event)" [style.display]="!show ? 'none' : 'block'">
  <div class="modal-component__content">
    <div class="modal-component__content__reveal" [style.width]="maxWidth">
      <div class="modal-component__content__reveal__header">
        <img src="../../../assets/images/icons/icon_exit.svg" class="modal-component__content__reveal__header__cancel" (click)="toggle()" />
        {{ title }}
      </div>
      <div class="modal-component__content__reveal__content" #modalContent>
        <ng-content></ng-content>
        <button *ngIf="!isModalInformation" [disabled]="!activated" class="modal-component__content__reveal__content__button nt-button" (click)="clickButton2()">
          {{ button2Label }}
        </button>
      </div>
    </div>
  </div>
</div>
