<div 
  class="modal-component" 
  (click)="clickOverlay($event)" 
  [style.display]="!show ? 'none' : 'block'">
  <div class="modal-component__content">
    <div class="modal-component__content__reveal" [style.width]="maxWidth">
      <div class="modal-component__content__reveal__header">
        <img 
          src="../../../assets/images/icons/icon_exit.svg" 
          class="modal-component__content__reveal__header__cancel" 
          (click)="toggle()" />
        {{ title | translate }}
      </div>
      <div class="modal-component__content__reveal__content" #modalContent>
        <ng-content></ng-content>

        <div class="modal-component__content__reveal__content__buttons">
          <button [disabled]="!activated"
                  *ngIf="button1Label || typeModal === 'boolean'"
                  class="modal-component__content__reveal__content__buttons__button nt-button"
                  (click)="clickButton1()"
                  [ngClass]="{'nt-button--success': typeModal === 'boolean'}">
            {{ getLabelButton1() | translate }}
          </button>
          <button [disabled]="!activated"
                  class="modal-component__content__reveal__content__buttons__button nt-button nt-button--full-width"
                  (click)="clickButton2()"
                  [ngClass]="{'nt-button--danger': typeModal === 'boolean'}">
            {{ getLabelButton2() | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
